.contact-us {
    .map {
        iframe {
            border: 0;
            width: 100%;
            height: 450px;
        }
    }
.contact-text {
    padding: 20px;
    p {
        line-height: 1.6;
        font-size: 1.3rem;
    }

}
    .contact-info {
        
        ul {
            list-style: none;
            padding: 0;
            li {
                font-size: 18px;
                margin-bottom: 10px;
                i {
                    color: $color-main;
                }
                a {
                    color: $color-dark;
                    text-decoration: none;
                    &:hover {
                        color: $color-main;
                    }
                }
            }
        }
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    .contact-us {
        .contact-info {
            text-align: center;
            ul {
                li {
                    font-size: 16px;
                }
            }
        }
    }
}
