<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
    "title": "حقوق المتهمين"
  })
</head>
<body>
  <!-- Index Class -->
  @@include('../components/header.html')
  </header>
  
  <section class="hero-about-section mb-5">
    <div class="container">
        <h1>حقوق المتهمين</h1>
    </div>
  </section>

  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
<p>تعد حقوق المتهمين في دولة الامارات العربية المتحدة من أهم المبادئ التي يحرص عليها النظام<a href="https://uaelegislation.gov.ae/"> القانوني الاماراتي </a> لضمان العدالة والمساواة. إذ تتجلى هذه الحقوق في مجموعة من الضمانات القانونية التي تكفل للمتهمين الحصول على محاكمة عادلة ومعاملة إنسانية، مع الحفاظ على كرامتهم وحقوقهم الأساسية</p>
       <p>في هذه المقالة سنتناول بالتفصيل عن حقوق المتهم في الإمارات ضمن إطار القانون الاتحادي والدولي</p>
       <p>واذا كنت متهما في احد القضايا ف عليك التواصل مع <a href="https://lawyer-alaa-aljasmi.com/index.html"> مكتب الاء الجسمي للمحاماة </a> لانه افضل مكتب محاماة في الامارات لضمان حقوق المتهمين والعثور علي دليل برائتهم </p> 
       <h3>حقوق المتهمين في معرفة التهم المنسوبة اليه</h3>
        <p>من اول الحقوق الذي يجيب ان يعرفها المتهم هي معرفة التهمه الموجهة اليه يلزم القانون الامارات النيابة والجهات الامنية لتبليغ المتهم عن التهمة بشكل رسمي قبل القبض عليه وايضا يلزم  <a href="https://www.pp.gov.ae/webcenter/portal/oracle/webcenter/page/scopedMD/sb0e4323a_06c8_437c_92bb_cffc9cf56968/Pagee64447ad_e363_4f9d_98b9_fbc41729756d.jspx"> النيابة العامة </a> بتبليغ المتهم قبل البد في جلسة التحقيق </p>

        <h3>اهمية معرفة التهم المنسبة للمتهم</h3>
       <ul>
            <li>يساعد المتهم علي فهم الوضع القانوني الذي فيه</li>
            <li>إتاحت الفرصة للمتهم بالاستعانه بمحامي</li>
            <li>ضمان عدم حدوث اي مفاجاة للمتهم في المحكمة</li>
        </ul>

        <p>يعتبر  <a href="https://lawyer-alaa-aljasmi.com">مكتب محاماة الاء ابراهيم الجسمى</a> هو احد اهم وافضل مكاتب المحاماة والاستشارات القانونية فى دولة الامارات ولديه سمعة طيبة مع خبرة طويلة فى شتى المجالات . كما يمتلك المكتب فريق متميز من القانونين المحترفين فى شتى المجالات القانونية لتوفير افضل مستوى من الخدمات والاستشارات القانونية</p>
     
        <h3>حق المتهم في الحصول علي محكمة عادلة </h3>
        <p>يكفل الدستور الاماراتي حق المتهم في الحصول محكمه عادلة بالاضافة الي ذلك يشمل هذا الحق مجموعه من الضمانات التي تمنح للمتهم حق الدفاع عن نفسة لذلك يمنع الدستور الامارات صدور اي احكام قبل اتباع تلك الاجراءات القضائية السليمة</p>
        <p>المحاكمة العادلة تتطلب وجود قاضٍ محايد ومستقل، مع إتاحة الفرصة للمتهم لتقديم الأدلة والشهادات التي تدعم موقفه </p>
        <b>أبرز ضمانات المحاكمة العادلة:</b>
        <ul>
            <li>اولا ترجمة مجانية للمتهمين الأجانب الذين لا يجيدون اللغة العربية</li>
            <li>المساواة بين الأطراف المتنازعة أمام القانون</li>
            <li>حق المتهم في الطعن في أي حكم يصدر ضده.</li>
            <li>حق المتهم في الاطلاع على الأدلة المستخدمة ضده.</li>    
        </ul>
        <p>اذا كنت متهما وتبحث عن محامي لضمان محاكمة عادلة لك فيجب عليك الاستعانة <a href="https://lawyer-alaa-aljasmi.com">مكتب محاماة الاء ابراهيم الجسمى</a> لانه افضل مكتب محاماة في عجمان </p>
        <img src="../../img/content/accusedrights.webp" alt="حقوق المتهمين">
        <h3>حقوق المتهمين في الدفاع عن انفسهم </h3>
        <p>هذا حق من حقوق المتهم التي يضمنها نظام القضاء الاماراتي في تعيين محامي للدفاع عنه من اول بداية التحقيقات حتي المحاكمة </p>
        <p>وان لم يكن المتهم قادر علي تعيين محامي بسبب ظروفه المادية بالتالي يلزم القانون الدولة بتعيين محامي مجانا للمتهم</p>
        <h3>أهمية حق الدفاع:</h3>
        <ul>
            <li>تعزيز مبدأ العدالة والمساواة أمام القانون.</li>
            <li>ضمان أن المتهم لديه الفرصة الكاملة لتقديم وجهة نظره والدفاع عن نفسه.</li>
            <li>الحيلولة دون إصدار أحكام قضائية مبنية على معلومات أو اعترافات قسرية</li>
        </ul>

        <h3>حق المتهم في عدم التعرض للتعذيب أو المعاملة المهينة</h3>
        <p>يحظر القانون الاماراتي والدولي التعذيب والمعاملة اللاإنسانية أو المهينة بشكل صارم. يُلزم القانون السلطات بعدم استخدام أي وسائل قسرية للحصول على اعترافات من المتهمين. وأي اعتراف يُنتزع تحت الضغط أو التعذيب يُعد باطلاً ولا يمكن استخدامه كدليل في المحكمة.</p>
        <h3>الالتزامات القانونية لحماية المتهمين من التعذيب او الإهانة:</h3>
        <ul>
            <li>حظر استخدام العنف الجسدي أو النفسي أثناء الاستجوابات.</li>
            <li>التزام السلطات بتوفير معاملة إنسانية لجميع المتهمين.</li>
            <li>إمكانية المتهمين تقديم شكاوى حول أي معاملة سيئة يتعرضون لها</li>
            </ul>
         
        <h3>حقوق المتهمين في استئناف الأحكام</h3>
        <p>يمثل حق المتهم في الاستئناف ضمانة هامة لتصحيح أي خطأ قد يكون حدث خلال المحاكمة. يُتيح النظام القضائي الإماراتي للمتهمين الحق في تقديم استئناف للحكم الصادر ضدهم أمام محكمة أعلى، مما يعزز من نزاهة وشفافية القضاء</p>
       <p> <a href="https://lawyer-alaa-aljasmi.com">مكتب محاماة الاء ابراهيم الجسمى</a> من افضل مكاتب المحاماه في الامارات التي يجيب الاستعانة لضمان عدم حدوث اي اخطاء اثناء المحاكمة </p>
        
        <h3>إجراءات الاستئناف</h3>
        <ul>
            <li>يجب تقديم الاستئناف خلال فترة زمنية محددة بعد صدور الحكم.</li>
            <li>يتم إعادة النظر في الأدلة والشهادات والاستماع إلى مرافعات المتهم مرة أخرى.</li>
            <li>قد يتم تأييد الحكم أو تعديله أو إلغاؤه بناءً على معطيات جديدة.</li>
          </ul>
        <img src="../../img/content/employment.webp" alt="حقوق المتهمين">
        <h3>حقوق المتهمين في الخصوصية</h3>
          <p>يكفل القانون الإماراتي حق المتهمين في الخصوصية، حيث يُمنع نشر أي معلومات تتعلق بالمتهم أو التهم الموجهة إليه دون موافقته، إلا في حالات استثنائية تقتضيها المصلحة</p>
          <h3>أهمية  حقوق المتهمين في الخصوصية:</h3>
          <ul>
            <li>حماية سمعة المتهم وضمان عدم تعرضه للتمييز الاجتماعي.</li>
            <li>ضمان عدم تأثير الرأي العام أو الإعلام على سير المحاكمة.</li>
            <li>احترام كرامة المتهم وحقوقه الشخصية.</li>
          </ul>
          <p>واذا كنت تبحث عن مكتب محاماة للترافع عنك والحفاظ علي خصوصيتك فيتعهد <a href="https://lawyer-alaa-aljasmi.com">مكتب محاماة الاء ابراهيم الجسمى</a> بالحفاظ علي خصوصية العملاء بسرية تامة </p>
          <h3>حقوق المتهمين الأجانب في الاإمارات</h3>
          <p>تمتلك دولة الامارات قوانين واضحة لحماية حقوق المتهمين الأجانب، بالاضافة الي ذلك يحق لأي متهم أجنبي الاستفادة من جميع الضمانات القانونية المتاحة للمواطنين</p>
          <p>يُسمح للمتهمين الأجانب بالتواصل مع سفاراتهم وتلقي الدعم القانوني منها، بالإضافة إلى حقهم في الترجمة الفورية خلال المحاكمات والتحقيقات</p>
          <h3>أبرز الحقوق المتهمين الأجانب:</h3>
          <ul>
            <li>الحق في الترجمة المجانية</li>
            <li>التواصل مع سفاراتهم أو قنصلياتهم</li>
            <li>احترام حقوقهم الثقافية والدينية.</li>
          </ul>
          <h3>حقوق المتهمين في الحماية من الاعتقال التعسفي</h3>
          <p>تمنع القوانين الاماراتية <a href="https://ar.wikipedia.org/wiki/%D8%A7%D8%B9%D8%AA%D9%82%D8%A7%D9%84_%D8%AA%D8%B9%D8%B3%D9%81%D9%8A"> الاعتقال التعسفي </a>، حيث يجب على السلطات الأمنية الحصول على أمر قضائي لاعتقال أي شخص</p>
          <p>يجب توضيح أسباب الاعتقال والاتهامات الموجهة إلى الشخص بشكل رسمي لذلك أي اعتقال يتم دون استناد إلى أساس قانوني يُعتبر انتهاكاً لحقوق المتهم</p>
          <p>اذا تعرضت ل الاعتقال التعسفي ف يجب عليك التواصل مع <a href="https://lawyer-alaa-aljasmi.com">مكتب محاماة الاء ابراهيم الجسمى</a> للحفاظ علي كامل حقوقك </p>
          <h3>آليات الحماية القانونية ل حقوق المتهمين :</h3>
          <ul>
            <li>مراقبة النيابة العامة لأي عمليات اعتقال لضمان قانونيتها.</li>
            <li>تقديم الشخص المعتقل أمام المحكمة خلال فترة زمنية قصيرة.</li>
            <li>حق المتهم في الطعن في قانونية اعتقاله</li>
          </ul>

          <h3>حقوق المتهمين في الرعاية الصحية</h3>
          <p>ضمن حقوق الإنسان الأساسية، يكفل القانون الإماراتي للمتهمين حقهم في الحصول على الرعاية الصحية اللازمة أثناء احتجازهم أو محاكمتهم. يجب توفير الرعاية الطبية اللازمة في حال تعرض المتهم لأي مشكلة صحية أو حاجة لعلاج طبي خاص.</p>

          <h3>الضمانات الصحية للمتهم:</h3>
          <ul>
            <li>توفير الخدمات الطبية في مراكز الاحتجاز والسجون.</li>
            <li>الحق في طلب استشارة طبية خارجية إذا كانت الحالة الصحية تستدعي ذلك.</li>
            <li>توفير الرعاية النفسية للمتهمين الذين يعانون من حالات نفسية أو عقلية.</li>
          </ul>
          <h3>حقوق المتهمين في القانون الدولي والامارات</h3>
          <p>دولة الامارات ملتزمة بالاتفاقيات الدولية التي تحمي حقوق الإنسان وحقوق المتهم، مثل <a href="https://www.ohchr.org/ar/instruments-mechanisms/instruments/convention-against-torture-and-other-cruel-inhuman-or-degrading"> الاتفاقية الدولية لمناهضة التعذيب، </a> والاتفاقيات الدولية المتعلقة بالحقوق المدنية والسياسية.</p>
          <p>يُعزز هذا الالتزام من مصداقية النظام القانوني الاماراتي ويضمن توافقه مع المعايير الدولية في حماية حقوق المتهمين.</p>
          <h3>حقوق المتهمين في سرعة الإجراءات القضائية</h3>
          <p>مما لاشك فيه يضمن إطار حماية حقوق المتهمين، يضمن النظام القانوني في دولة الإمارات حق المتهم في الحصول على محاكمة سريعة وعادلة دون تأخير غير مبرر. التأخير المفرط في إجراءات المحاكمة قد يؤدي إلى الإضرار بالمتهم، خاصة إذا كان معتقلاً احتياطياً.</p>
          <h3>حقوق المتهمين في التماس العفو</h3>
          <p>يُعد حق المتهم في التماس العفو إحدى الضمانات القانونية الهامة في النظام القضائي الاماراتي. في بعض الحالات، قد يُمنح المتهم فرصة لطلب العفو من السلطات المختصة بعد صدور الحكم</p>

          <h3>شروط التماس العفو:</h3>
          <ul>
            <li>اولا تقديم طلب العفو للجهات المختصة مع تقديم المبررات والأسباب.</li>
            <li>ثانيا مراجعة الجهات القضائية لطلب العفو ودراسة الحالة.</li>
            <li>ثالثا في بعض الحالات، يمكن إصدار عفو جزئي أو كلي عن العقوبة.</li>
          </ul>
          <p>يلعب <a href="https://lawyer-alaa-aljasmi.com">مكتب الاء إبراهيم الجسمي للمحاماة</a> دورًا حيويًا في تقديم التماس العفو وتسريع الإجراءات القضائية، من خلال تقديم استشارات قانونية دقيقة وتمثيل العملاء أمام الجهات القضائية بكفاءة. يسعى المكتب إلى تحقيق العدالة بسرعة مع الحفاظ على حقوق العملاء ضمن الإطار القانوني.</p>
          <h3>حقوق المتهمين في عدم التعرض للاحتجاز المطول دون محاكمة</h3>
          <p>ينص القانون الاماراتي على أن أي شخص يُحتجز بشكل احتياطي يجب أن يتم تقديمه للمحكمة خلال فترة زمنية محددة، لضمان عدم الاحتجاز غير القانوني أو التعسفي</p>
          <h3>حقوق المتهمين في التواصل مع أسرتهم</h3>
          <p>يكفل النظام القانوني الاماراتي للمتهمين الحق في التواصل مع أسرهم بشكل منتظم خلال فترة احتجازهم. يُعد هذا الحق أساسياً لضمان قدرة المتهم على تحضير دفاعه والبقاء على اتصال مع محيطه الأسري.</p>
          <h3>حق المتهم في عدم الإدانة بناءً على الشك</h3>
          <p>يُعتبر هذا المبدأ من أهم المبادئ القانونية التي تكفل العدالة. وفقاً لهذا الحق، لا يمكن إدانة المتهم ما لم يتم إثبات الجرم بما لا يدع مجالاً للشك. وفي حال وجود أي شكوك تتعلق بالجريمة، فإن القانون الاماراتي يلزم القاضي بالحكم لصالح المتهم، أي أن الشك يفسر لصالح المتهم.</p>
          <h3>مكتب الاء ابراهيم الجسمي للمحاماة: حامي حقوق المتهمين وأفضل مكتب محاماة في الامارات</h3>
          <p>مكتب الاء ابراهيم الجسمي للمحاماة يُعد من أبرز وأفضل مكاتب المحاماة في دولة الامارات العربية المتحدة. يتمتع المكتب بخبرة في تقديم الخدمات القانونية والدفاع عن حقوق الأفراد والشركات. من خلال التزامه بتطبيق أعلى معايير النزاهة والاحترافية، يواصل مكتب الاء ابراهيم الجسمي دوره الفعال في الحفاظ على حقوق المتهمين وضمان حصولهم على محاكمات عادلة.</p>
          <h3>الخاتمة</h3>
          <p>مكتب الاء ابراهيم الجسمي للمحاماة ليس مجرد مكتب قانوني عادي؛ بل هو مؤسسة قانونية تقدم أعلى مستويات الدفاع عن حقوق المتهمين وتضمن تحقيق العدالة للجميع. بفضل خبرته الكبيرة وتفانيه في تقديم أفضل الخدمات القانونية</p>
    </div>
  </section>

  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.lawyer-alaa-aljasmi.com/pages/accusedrights.html"
      },
      "headline": "حقوق المتهمين",
      "description": "مكتب الاء إبراهيم الجسمي للمحاماة والاستشارات القانونية يقدم حماية شاملة لحقوق المتهمين في الإمارات، ويضمن لهم محاكمة عادلة ودفاعاً قوياً ً",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/accusedrights.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/employment.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-10-21T09:00:00+04:00",
      "dateModified": "2024-10-22T14:45:00+04:00"
    }
    </script>
    
</body>
</html>
