<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  @@include('../components/head.html', {
  "title": "Contact Us"
  })
</head>
<body>
<!-- Index Class -->
  @@include('../components/header-en.html')
</header>


<section class="hero-about-section">
  <div class="container">
      <h1>Contact With Alaa Aljasmi Lawyers & Legal Consultants</h1>
      <p>Your Trusted Legal Partner in the UAE</p>
  </div>
</section>

   @@include('../components/contact-en.html')
   @@include('../components/footer-en.html')

  @@include('../resources/js-files.html')
</body>
</html>
