<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  @@include('../components/head.html', {
  "title": "Contact Us"
  })
</head>
<body>
<!-- Index Class -->
  @@include('../components/header.html')
</header>
<section class="hero-about-section">
  <div class="container">
      <h1>تواصل مع مكتب الاء الجسمي للمحاماة والاستشارات القانونية</h1>
      <p>شريكك القانوني الموثوق في الإمارات العربية المتحدة</p>
  </div>
</section>


   @@include('../components/contact.html')
   @@include('../components/footer.html')

  @@include('../resources/js-files.html')
</body>
</html>
