<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
  @@include('../components/head.html', {
  "title": "Home"
  })
 </head>
<!-- Index Class -->
<body class="home-page">
  @@include('../components/header-en.html')
  @@include('../components/hero-en.html')
  @@include('../components/overview-en.html')
  @@include('../components/services-en.html')
  @@include('../components/accordion-en.html')
  @@include('../components/WhyAlaaAlJasmi-en.html')
  @@include('../components/testimonial-en.html')
  @@include('../components/contact-en.html')
  @@include('../components/team-en.html')
  @@include('../components/footer-en.html')
  @@include('../resources/js-files.html')
</body>
</html>