<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
"title": "اجراءات الخلع في الامارات للوافدين"
  })
</head>
<body>
  <!-- Index Class -->
  @@include('../components/header.html')
  </header>
  <section class="hero-about-section">
    <div class="container">
      <h1>اجراءات الخلع في الامارات للوافدين</h1>
    </div>
  </section>
  
  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
      <div class="contenttable border my-3 p-3">
        <h6>جدول المحتوى</h6>
        <a class="d-block py-1" href="#1"
          >إجراءات الخلع في الامارات للوافدين في حالة الزوجين اجانب
        </a>
        <a class="d-block py-1" href="#2"
          >إجراءات الخلع في الإمارات للوافدين في حالة الزوج إماراتي والزوجة
          أجنبية</a
        >
        <a class="d-block py-1" href="#3"
          >إجراءات الخلع في الإمارات للوافدين في حالة الزوجة إماراتية والزوج
          أجنبي</a
        >
        <a class="d-block py-1" href="#4"
          >شروط لتطبيق اجراءات الخلع في الامارات للوافدين</a
        >
        <a class="d-block py-1" href="#5"
          >خطوات اجراءات الخلع في الامارات للوافدين</a
        >
        <a class="d-block py-1" href="#6"
          >الاسئلة الشائعة التي تلقها مكتب الاء ابراهيم الجسمي في الفترة الاخيرة
        </a>

      </div>
      <p>
        اصبحت الامارات العربية المتحدة وجهة لمختلف الثقافات و الجنسيات ؛ مما يجعل
        النظام القضائي الاماراتي يواجة انواعا مختلفة من القضايا العائلية التي تشمل
        الوافدين بمختلف دياناتهم وأعراقهم. يتمتع الوافدون بحقوق قانونية لضمان
        الحصول على أحكام قضائية عادلة وفقاً للشريعة الإسلامية والقوانين المدنية
        المعمول بها واصبحت تفاصيل اجراءات الخلع في الامارات للوافدين موضوع تسائل
        لكل الوافدات الذين يقدمون علي
        <a
          href="../pages/الخلع في الامارات .html"
          >الخلع في الامارات</a
        >
        فيما يلي سوف يوضح مكتب الاء ابراهيم الجسمي
        <a href="../pages/bestlawfirm.html">
          افضل مكتب محاماة في الامارات
        </a>
        كل تفاصيل اجراءات الخلع في الامارات للوافدين سواءً كانت الزوجة أجنبية
        والزوج أجنبي، أو كانت الزوجة أجنبية والزوج إماراتي او العكس، مع النظر إلى
        كون الزوجة مسلمة أو غير مسلمة.
      </p>
      <p><b>اقراء ايضا</b></p>
      <ul>
        <li>حقوق الزوجة عند الخلع</li>
      </ul>
      <h2 id="1" class="mt-3">
        إجراءات الخلع في الامارات للوافدين في حالة الزوجين اجانب
      </h2>
      <p>
        في حالة اذا كان الوافدين من الاجانب يمكن للوافدة بتقديم طلب الخلع (علي ان
        تتحمل كافة تكاليف الخلع) في المحكمة او سفارة البلد الخاصة بيها استنادا علي
        قانون البلد الام المنتمون اليها او لهم امكانية اختيار قانون الأحوال
        الشخصية الإماراتي
      </p>
      <ul>
        <li>
          <b> في حالة اذا كانت الزوجة مسلمة: </b>يتم الاستناد الي الشريعة
          الاسلامية في تقديم طلب الخلع حيث يكون هناك اعتبار لعناصر مثل دفع المهر
          أو ما يُعرف بالعِوَض المالي مقابل الخلع.
        </li>
        <li>
          <b> ولكن بالنسبة للزوجة غير المسلمة: </b>يتم حساب التعويض المالي (إذا
          طُلب) بناءً على القوانين المدنية أو قانون بلدها الأصلي (لا يشترط على
          الزوجة غير المسلمة دفع المهر نفسه كتعويض، ويمكن للمحكمة تقدير التعويض
          بناءً على الحالة والظروف الزوجية).
        </li>
        <li>
          وذلك طبقا لبنود القانون
          <a
            href="https://uaelegislation.gov.ae/ar/legislations/1033?keyword=%D8%A7%D9%84%D9%85%D8%A7%D8%AF%D8%A9+%28110%29"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >المادة 110 من قانون الأحوال الشخصية</a
          >
          الإماراتي تنص على أن للمرأة حق طلب الخلع إذا دفعت تعويضًا ماليًا للزوج،
          مع توضيح الأسباب التي أدت للطلب
        </li>
      </ul>
      <p>
        للحصول علي مزيد من المعلومات عن اجراءات الخلع في الامارات للوافدين يمكنكم
        التواصل مع مكتب الاء ابراهيم الجسمي افضل مكتب محاماة في عجمان
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونية فورية</a
        >
      </div>
      <img src="../../img/content/divorce.webp" alt="إجراءات الخلع في الإمارات للوافدين">
      <h2 id="2" class="mt-3">
        إجراءات الخلع في الإمارات للوافدين في حالة الزوج إماراتي والزوجة أجنبية
      </h2>
      <p>
        يتم تقديم طلب الخلع الي المحاكم الاماراتية مباشرةً دون الحاجة الي تقديم
        الطلب الي سفارة الزوجة ؛حيث يعطي الاعتبار للزوج الاماراتي وينطبق قانون
        الاحوال الشخصية في قضية الخلع و الاستناد الي الشريعة الاسلامية ؛ ويجب على
        الزوجة الأجنبية توضيح أسباب رغبتها في الخلع.
      </p>
      <ul>
        <li>
          <b>اذا كانت الزوجة مسلمة : </b>يمكن للزوجة المسلمة، حتى وإن كانت أجنبية،
          التقدم بطلب الخلع بناءً على أحكام الشريعة الإسلامية.
        </li>
        <li>
          <b>اذا كانت الزوجة غير المسلمة: </b>للزوجة غير المسلمة الحرية في اتباع
          قانون بلدها الأم إذا أرادت، ولكن المحكمة الإماراتية تستمر في تطبيق أحكام
          قانون الأحوال الشخصية الإماراتي بشكل عام(قد تتبع المحكمة القوانين
          المدنية أكثر من الشريعة).
        </li>
      </ul>
      <p>
        يمكنكم التواصل مع مكتب الاء ابراهيم الجسمي افضل مكتب محاماة في قضايا الخلع
        في الامارت لتحديد موقفكم القانوني
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونية فورية</a
        >
      </div>
      <h2 id="3" class="mt-3">
        إجراءات الخلع في الإمارات للوافدين في حالة الزوجة إماراتية والزوج أجنبي
      </h2>
      <p>
        اذا كان الزوج غير اماراتي والزوجة اماراتية يتم تقديم دعوي الخلع من قبل
        الزوجة في المحاكم الامارتية نظرًا لوجود الزوجين وإقامتهما داخل الدولة .
        تتيح الإمارات للزوجة الإماراتية حقوقًا خاصةً فيما يتعلق بالخلع و
        <a
          href="https://www.lawyer-alaa-aljasmi.com/pages/%D8%A7%D9%84%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%B4%D8%A7%D9%85%D9%84%20%D9%84%D8%AD%D8%B6%D8%A7%D9%86%D8%A9%20%D8%A7%D9%84%D8%A7%D8%B7%D9%81%D8%A7%D9%84%20%D9%81%D9%89%20%D8%A7%D9%84%D8%A7%D9%85%D8%A7%D8%B1%D8%A7%D8%AA.html"
          >حضانة الأطفال</a
        >
        بعده، حيث تراعي مصلحة الأطفال ووضع الأم المواطنة عند صدور الحكم وذلك طبقا
        لعدد بنود في القانون زهم
      </p>
      <ul>
        <li>
          <b> المادة 117:</b>من قانون الأحوال الشخصية تعطي الزوجة الإماراتية الحق
          في طلب الخلع بسبب الضرر، سواء كانت الأسباب معنوية أو مادية.
        </li>
        <li>
          <b> المادة 142:</b>تتيح للمرأة الإماراتية حضانة الأطفال إذا كانت تحقق
          مصلحتهم بشكل أفضل، وتستمر المحكمة في تحديد الأمور بناءً على مصلحة الطفل
        </li>
      </ul>
      <h3 id="4" class="mt-3">شروط لتطبيق اجراءات الخلع في الامارات للوافدين</h3>
      <ol>
        <li>الإقامة: أن يكون الزوجان أو أحدهما مقيمًا في الإمارات.</li>
        <li>
          تسجيل الزواج: يجب أن يكون الزواج موثقًا رسميًا في الإمارات أو في بلدهم
          الأصلي.
        </li>
        <li>
          أسباب قانونية: تقديم سبب مقنع للخلع (سوء المعاملة، عدم الانفاق، إلخ).
        </li>
        <li>
          اختيار القانون: إمكانية طلب تطبيق قانون بلدهم الأصلي بدلًا من القانون
          الإماراتي.
        </li>
        <li>محاولة الصلح: إلزامية محاولات الصلح من خلال لجنة الصلح الأسري.</li>
        <li>
          التعويض المالي (العِوض): تقديم طلب الخلع بقرار من الزوجة، مع قبولها بدفع
          تعويض مالي أو إعادة المهر للزوج.
        </li>
        <li>
          كامل الأهلية القانونية: أن يكون الزوجان كاملَي الأهلية من الناحية
          القانونية.
        </li>
      </ol>
      <img src="../../img/content/divorce10.webp" alt="خطوات اجراءات الخلع في الامارات للوافدين">
      <h2 id="5" class="mt-3">خطوات اجراءات الخلع في الامارات للوافدين</h2>
      <ol>
        <li><b>تقديم الطلب:</b></li>
        <p>
          تبدأ الزوجة بتقديم طلب الخلع إلى المحكمة (او الي السفارة الخاصة بيها اذا
          كان الزوج اجنبي)، ويجب أن يتضمن الطلب جميع المستندات المتعلقة بحياتها
          الزوجية وأسباب الخلع. يتم ذلك عبر مراكز الخدمة المعنية أو عن طريق منصات
          المحاكم الإلكترونية.
        </p>
        <li><b>محاولة الصلح:</b></li>
        <p>
          تقوم المحكمة بتحديد جلسة للصلح بين الزوجين،ويحال الطلب الي قسم التوجيه
          الاسري كما الحال في مختلف دعوي الطلاق و التفريق حيث يتم تعيين لجنة مختصة
          في قضايا الصلح الأسري. تكون هذه المحاولة أساسية ولازمة لتفادي الطلاق او
          التفريق إذا كان بالإمكان معالجة الأسباب وتفادي حدوث الأضرار.
        </p>
        <li><b>جلسات الاستماع:</b></li>
        <p>
          في حالات ان عجز قسم التوجيه الاسري الصلح بين الطرفين يتم تحدد المحكمة
          جلسات استماع للنظر في الأسباب التي دفعت الزوجة للطلب، وتقوم بتحليل
          الوثائق المقدمة والشهادات.
        </p>
        <li><b>دفع التعويض: </b></li>
        <p>
          اذا تم الاتفاق بين الطرفين علي الخلع يتم دفع العوض المالي للزوج وهو في
          الغالب المهر او جزء منه حسب اتفاق الزوجين
        </p>
        <li><b>البت النهائي:</b></li>
        <p>
          تصدر المحكمة حكمًا بالخلع إذا اقتنعت بالأسباب المقدمة، ويتم اتخاذ قرار
          نهائي بشأن حضانة الأطفال وتوزيع الممتلكات.
        </p>
      </ol>
      <h3>
        الاسئلة الشائعة التي تلقها مكتب الاء ابراهيم الجسمي في الفترة الاخيرة
      </h3>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              هل يمكن للطرفين الطعن في حكم الخلع بعد صدوره؟
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              يمكن للطرفين الطعن في الحكم إذا شعر أحدهما بوجود خطأ قانوني، ويجب
              تقديم الطعن خلال المهلة القانونية المخصصة لذلك.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              ما هي الإجراءات المتبعة بعد صدور حكم الخلع؟
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              بعد صدور الحكم، يجب توثيقه في السجلات الرسمية لتكون له قوة قانونية.
              كما يُنصح بتنفيذ أي التزامات مالية أو حضانة كما تحددها المحكمة.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              هل يشترط تسجيل الخلع في السفارة أو القنصلية للزوجين الأجانب؟
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              يفضل تسجيل الخلع في السفارة أو القنصلية إذا كان الزوجان يرغبان في
              توثيق الطلاق رسميًا في بلدهم الأصلي.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFoure">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFoure"
              aria-expanded="false"
              aria-controls="flush-collapseFoure"
            >
              هل يمكن للزوجة الحصول على تأشيرة عمل بعد الخلع؟
            </button>
          </h2>
          <div
            id="flush-collapseFoure"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFoure"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              نعم، يمكنها التقديم على تأشيرة عمل جديدة، ولكن ذلك يعتمد على وضع
              إقامتها الحالي وتوافر كفيل.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              هل يؤثر الخلع على إقامة الزوج أو الزوجة في الإمارات؟
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              نعم، يمكن أن يؤثر الخلع على إقامة الزوج أو الزوجة في الإمارات، خاصة
              إذا كانت الإقامة مرتبطة بالزوج. في حالة الخلع او الطلاق، قد تحتاج
              الزوجة إلى تعديل وضع إقامتها، سواء من خلال الحصول على كفيل جديد أو
              تحويل الإقامة إلى تأشيرة عمل. لذا، من المهم للزوجة أن تبحث في
              خياراتها بعد الخلع لضمان استمرار إقامتها القانونية في الإمارات.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix"
              aria-expanded="false"
              aria-controls="flush-collapseSix"
            >
              من هو مكتب الاء ابراهيم الجسمي للمحاماة ؟
            </button>
          </h2>
          <div
            id="flush-collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              مكتب آلاء إبراهيم الجسمي للمحاماة هو افضل مكتب محاماة في عجمان يتمتع
              بخبرة واسعة في قضايا الأسرة، مثل الخلع، الطلاق، الحضانة،
              و<mark>النفقة</mark>. يقدم المكتب استشارات قانونية شاملة ويساعد
              العملاء على فهم حقوقهم وخياراتهم القانونية بشكل واضح. يعتمد المكتب
              نهجًا يتسم بالمرونة والتفهم للوضع الأسري، مع التركيز على حماية مصالح
              الأطفال وضمان حصول الزوجين على حقوقهم بطريقة عادلة وسريعة، مما يخفف
              من حدة النزاعات ويوفر حلولًا قانونية مستدامة.
            </div>
          </div>
        </div>
      </div>
      <h3>للتواصل</h3>
      <p>
        <b>واتساب:</b
        ><a
          href="https://api.whatsapp.com/send/?phone=%2B971547372444&text&type=phone_number&app_absent=0"
          >+971 54 737 2444</a
        >
      </p>
      <p>
        <b>بريد الكتروني :</b
        ><a href="mailto:info@lawyer-alaa-aljasmi.com"
          >info@lawyer-alaa-aljasmi.com</a
        >
      </p>
  
      @@include('../components/author-componnent.html')
    </div>
  </section>

  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.lawyer-alaa-aljasmi.com/pages/اجراءات الخلع للوافدين في الامارات.html"
      },
      "headline": "اجراءات الخلع في الامارات للوافدين",
      "description": " اكتشف تفاصيل إجراءات الخلع في الإمارات للوافدين مع مكتب آلاء ابراهيم الجسمي للمحاماة، دعم قانوني شامل يضمن حقوقك وعدالة المحاكمة وفق القوانين والشريعة ",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/divorce.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/divorce10.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-12-22T09:00:00Z",
      "dateModified": "2024-12-23T17:00:00Z"
    }
    </script>
    
</body>
</html>
