<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
"title":"الخلع في الامارات"
  })
</head>
<body>
  <!-- Index Class -->
  @@include('../components/header.html')
  </header>
  
  <section class="hero-about-section">
    <div class="container">
      <h1>الخلع في الامارات</h1>
    </div>
  </section>
  
  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
      <div class="contenttable border my-3 p-3">
        <h6>جدول المحتوى</h6>
        <a class="d-block py-1" href="#1">الخلع فى الاسلام </a>
        <a class="d-block py-1" href="#2">الدليل من السنة النبوية </a>
        <a class="d-block py-1" href="#3">متى يحق للمرأة أن تخلع زوجها؟</a>
        <a class="d-block py-1" href="#4">انواع الخلع </a>
        <a class="d-block py-1" href="#5">ما هي شروط الخلع في الإمارات؟</a>
        <a class="d-block py-1" href="#6"
          >الأوراق المطلوبة عند تقديم طلب الخلع في الامارات
        </a>
        <a class="d-block py-1" href="#7"> الاسئلة الشائعة</a>

      </div>
  
      <p>
        الخلع يعد احد المواضيع الشائعة في المجتمع حيث انه مصطلح جديد يثير اهتمام
        كل الازواج الذين يواجهون مشاكل في حياتهم الزوجية حيث يمثل الخلع الحل
        للزوجات اللذين يتعرضون للتعنيف و سوء المعاملة و عدم تحمل الزوج المسئولية
        لانة يمثل المخرج القانوني و الشرعي ل الانفصال عن الزوج الذي لايرد
        <mark>الطلاق</mark> في حالة وقع الضرر علي الزوجة وهنا سوف يوضح مكتب الاء
        ابراهيم ابراهيم الجسمي
        <a href="..//pages/bestlawfirm.html"
          >افضل مكتب محاماة في الامارات</a
        >
        كل جوانب و التفاصيل
      </p>
      <p><b>مواضيع ذات صلة</b></p>
  
      <ul>
        <li>اجراءات الخلع للوافدين</li>
        <li>حقوق الزوجة بعد الخلع</li>
      </ul>
  
      <h2 id="1" class="mt-3">الخلع فى الاسلام</h2>
      <p>
        هو فراق الزوجه بعوض، فيأخذ الزوج عوضاً ويفارق زوجته سواء كان هذا العوض هو
        المهر الذى كان دفعه لها أو اكثر أو اقل .وتتمثل صورة الخلع فى أن يأخذ الزوج
        العوض أو يتفقان عليه ثم يقول لها فارقتك أو خالعتك ونحو ذالك من الألفاظ .
        الدليل على الخلع من الشرع : واستدل العلماء على الخلع من القرءان ما جاء فى
        قوله تعالى [فإن ختم ألَّا يقيما حدود الله فلا جناحَ عليهما فيما افتدت به
        تلك حدود الله فلا تعتدوها...]
      </p>
      <h3 id="2" class="mt-3">الدليل من السنة النبوية</h3>
      <p>
        هو اجراء قانوني يتيح للزوجة انها عقد الزواج مقابل التنازل عن بعض الحقوق
        وفقًا ل<a
          href="https://www.uaelegislation.gov.ae/ar/legislations/1033"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >قانون الأحوال الشخصية الإماراتي</a
        >
        الاتحادي رقم 28 لسنة 2005، والذي يمنح الزوجة حق التقدم بطلب الخلع إذا لم
        تستطع التفاهم مع زوجها أو إذا كان استمرار الحياة الزوجية مستحيلًا بالنسبة
        لها.
      </p>
      <img src="../../img/content/Divorce6.webp" alt="الخلع في الامارات ">
      <h2 id="3" class="mt-3">متى يحق للمرأة أن تخلع زوجها؟</h2>
      <p>
        هناك عدد من الاسباب التي يحددها القانون تُمنح للزوجة لإنهاء العلاقة
        الزوجية سوف نعرض لكم بعض الاسباب و الشروط يحددها القانون وهي:
      </p>
      <ul>
        <li>
          <b> سوء المعاملة الجسدية أو النفسية: </b>اذا تعرص الزوجة للعنف الجسدي
          والنفسي من الزوج سواء كان ضرب او اهانة لفظية تسببت بضرر نفسي لها
        </li>
        <li>
          <b> إدمان الزوج: </b>اذا كان الزوج مدمنا علي الكحول او المخدرات وتسبب
          مشاكل وضرر للزوجة
        </li>
        <li>
          <b> الغياب الطويل أو الهجر: </b>اذا كان الزوج متغيبا عن زوجته او مهاجر
          لفترة طويلة بدون عذر مقبول او مبرر قانوني لان القانون الاماراتي ينظر في
          غياب الزوج عن بيته عامل من عوامل تفكك الاسرة
        </li>
        <li>
          <b> انقطاع التواصل الجنسي: </b>اذا كان الزوج يمتنع عن أداء واجباته
          الزوجية او يعاني من مرض او مشاكل جنسية دون علاج او محاولة للاصلاح
        </li>
        <li>
          <b> عدم الإنفاق: </b>: إذا كان الزوج يمتنع عن الإنفاق على الزوجة أو
          الأسرة بدون سبب و يتركهم بدون وسائل للعيش الكريم
        </li>
        <li>
          <b> الاختلاف في الدين أو القيم الأخلاقية: </b>اذا غير الزوج معتقداته او
          دينة او تبني سلوكيات أو قيم تتعارض مع الدين او المجتمع
        </li>
        <p>
          وقبل اتخاذ اي قرار تحرص المحكمة الاماراتية محاولة الاصلاح بين الطرفين من
          قبل لجان التوجيه الاسري التي تقوم بمهمة الواسطة بين الزوجين لمحاولة
          اصلاح العلاقات الزوجية وتكوني هذه اللجان نموذج ل دعم الدولة الاماراتية
          لاستقرار الاسرة
        </p>
      </ul>
      <h2 id="4" class="mt-3">انواع الخلع</h2>
      <p>
        يوجد العديد من من انواع الخلع بناء علي طلب الزوجة وايضا تختلف علي حسب
        الظروف و الموقف الشرعي و القانوني لذلك سوف يوضح
        <a href="https://www.lawyer-alaa-aljasmi.com/">
          مكتب الاء ابراهيم الجسمي </a
        >افضل مكتب في دبي الانواع :
      </p>
      <h3>الخلع القضائي:</h3>
      <p>
        يكون عن طريق المحكمة حيث تقوم الزوجة بتقديم دعوي قضائية ضد الزوج امام
        المحكمة حيث تكون الزوجة غير قادرة علي الطلاق بالتراضي مع الزوج ؛ حيث تقوم
        الدعوي بناءا علي اسباب تقدمها الزوجة
      </p>
      <h3>الخلع بالتراضي:</h3>
      <p>
        حيث يتم بالتراضي و التفاهم بين الزوجين دون الحاجة الي تدخل المحكمة وفي هذه
        الحالة توافق الزوجة علي دفع عوض المالي (يكون المهر غالبا)
      </p>
      <p>
        <b
          >واذا كنت ترد معرفة مزيد من التفاصيل لاتترد و تواصل مع مكتب الاء ابراهيم
          الجسمي افضل مكتب محاماة في الامارات لتقديم
          <mark>الاستشارات القانونية </mark></b
        >
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونية فورية</a
        >
      </div>
      <img src="../../img/content/divorce5.webp" alt="الخلع في الامارات ">
      <h3 id="5" class="mt-3">ما هي شروط الخلع في الإمارات؟</h3>
      <p>
        هناك العديد من الشروط التي تحددها الجهات القضائية المختصة في دعوى الخلع في
        الإمارات ، فيما يلي الشروط الأساسية التي يجب توافرها لقبول الدعوى في
        المحاكم الإماراتية :
      </p>
      <ol>
        <li><b>وجود عقد زواج صحيح:</b></li>
        <p>
          من اهم الشروط هي وجود عقد زواج شرعي وقانوني سليم ومعترف به في الامارات
        </p>
        <li><b>طلب الخلع من الزوجة:</b></li>
        <p>
          يجب أن يتم طلب الخلع من قبل الزوجة، وليس الزوج لانه حق يُعطى للزوجة
          لإنهاء عقد الزواج إذا لم تستطع الاستمرار فيه
        </p>
        <li><b>تسوية الحقوق المالية:</b></li>
        <p>
          ( بدل ) ذا قيمه تتكافئ مع قيمة المهر تقدمه الزوجه للزوج مقابل انهاء عقد
          الزواج . ولما كانت الفقره (3) من نص الماده (110) من هذا القانون تنص على
          اذا لم يصح البدل فى الخلع وقع الخلع واستحق الزوج المهر . وبناء ً على
          ماورد فى هذا النص اذا وافق الزوج على المخالعه ولكنه اعترض على البدل
          المقدم من الزوجه لانه يتناسب مع المهر المتفق عليه وما أنفقه الزوج من
          مصروفات علي عقد الزواج وعجزت الزوجه عن إثبات خلاف ذلك ..... جاز للقاضى
          ان يقضى برفض دعوى الخلع
        </p>
        <li><b>أن يتم الخلع من زوجة عاقلة:</b></li>
        <p>
          ان تكون الزوجة تمتلك الأهلية القانونية لذلك ،حيث اشترطت الفقرة
          <a
            href="https://uaelegislation.gov.ae/ar/legislations/1033?keyword=%D8%A7%D9%84%D9%85%D8%A7%D8%AF%D8%A9+%28110%29"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >رقم(1)المادة 111</a
          >
          من قانون الأحوال الشخصية أهلية باذل العوض حتى يصح البدل في الخلع.
        </p>
        <li><b>حقوق الاطفال:</b></li>
        <p>
          لايجوز الاتفاق بين الطرفين علي اسقاط حقوق الاطفال من نفقة؛ فالتراضي بين
          الطرفين يقتصر علي حق الزوجة دون حق الاطفال
        </p>
        <li><b>اهلية الزوج لايقاع الطلاق</b></li>
        <p>
          والاهليه تتمثل فى البلوغ بان يكون قد بلغ السن القانونى وأن يكون عاقلاً
          غير مجنون وان يكون مدركاً فلا يكون تحت تاثير اى مسببات فى اذهاب العقل أو
          الوعي والادراك
        </p>
      </ol>
      <p>
        <b>
          مكتب الاء ابراهيم الجسمي افضل مكتب محاماة علي استعداد لتسخير جميع خبراته
          القانونيه لكي يتم مساعدك بخصوص قضايا الخلع
        </b>
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونية فورية</a
        >
      </div>
      <h2 id="6" class="mt-3">
        الأوراق المطلوبة عند تقديم طلب الخلع في الامارات
      </h2>
      <p>
        عملية الخلع بين الزوجين لابد ان تتطلب بعض الاوراق المستندات الرسمية
        لتقديما للجهات الرسمية في الامارات للنظر في الدعوي ومن تلك الاوراق:
      </p>
      <ul>
        <li><b> عقد الزواج الأصلي</b></li>
        <li><b> بطاقة الهوية الإماراتية</b></li>
        <li>
          <b> جواز السفر والإقامة </b>(في حالة اذا كان الزوجين او احد الازواج غير
          مواطنين)
        </li>
        <li><b> شهادات ميلاد الأطفال </b>(في حالة وجود اطفال)</li>
        <li><b> إثبات دفع المهر أو مؤخر الصداق</b></li>
        <li>
          <b> أي دليل على الخلافات الزوجية </b>(شكاوى ، أو تقارير طبية تثبت الضرر
          الجسدي أو النفسي)
        </li>
        <li><b> تقارير لجنة التوجيه الأسري</b></li>
        <li><b> إقرار رسمي بالخلع</b></li>
        <li><b> مستندات إضافية بناءً على توصيات المحكمة</b></li>
      </ul>
      <h3 id="7" class="mt-3">الاسئلة الشائعة</h3>
  
      <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"> كم
                      تستغرق قضية الخلع في الإمارات؟ </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">تختلف المدة طبقا لعدة عوامل منها مدي تعقد القضية و مدي تعاون الزوجين و
                      الاجراءات القانونية ولجنة التوجية الاسري ولكن متوسط الوقت التي تستغرق من 2 الي 6 اشهر</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"> هل
                      الخلع يشترط موافقة الزوج؟</button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">لا يشترط موافقة الزوج، حيث يعتبر خلع الزوج من حقوق الزوجة التي يمكن أن
                      تمارسه إذا رغبت في إنهاء الزواج دون موافقة الزوج</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"> متى
                      تتزوج المرأة بعد الخلع؟ </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">نعم يحق للمرأة الزواج بعد انقضاء يوم العدة التي تبدا من يوم الحكم بالخلع
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFoure">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFoure" aria-expanded="false" aria-controls="flush-collapseFoure"> هل
                      يكتب في البطاقة الشخصية مخلوع؟</button>
                  </h2>
                  <div id="flush-collapseFoure" class="accordion-collapse collapse" aria-labelledby="flush-headingFoure"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">لا يُكتب في البطاقة الشخصية أو الهوية في الإمارات كلمة مخلوع </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">هل
                      يراجع الزوج زوجته بعد الخلع؟ </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">لا يمكن للزوج ان يرجع الي زوجته بعد الخلع كما يحدث في الطلاق الرجعي.لان
                      الخلع هو طلاق بائن، ويتطلب عقد زواج ومهر جديد إذا أراد الزوجان العودة إلى بعضهما.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">متى يكون
                      الخلع باطلاً؟ </button>
                  </h2>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">يوجد العديد من الحالات التي تبطلها ومنها
                      <ul>
                        <li>عدم رد المهر</li>
                        <li>السبب غير المشروع</li>
                        <li>الإكراه أو الضغط (تم تحت الإكراه أو الضغط النفسي على الزوجة، فقد يُعتبر باطلاً.)</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseSeven">هل
                      يجوز طلب الخلع بدون سبب فى الامارات ؟</button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">يجب ان يكون هناك سبب للخلع توضحه الزوجه للقاضى ويعد كره الزوجه لزوجها
                      ورغبتها فى مفارقته وخوفها من عدم إقامة حدود الله أسباب شائعه فى الخلع </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseeight">هل
                      تنازل الزوجه عن الحضانه يبطل الخلع؟</button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">تنازل الزوجه عن حقها فى الحضانه لا يؤثر على صحة الخلع وعليه فإن الخلع
                      صحيح إلا أن هذا الاتفاق غير صحيح وتكون الزوجه غير ملزمه به لأن الحضانه هى من حق المحضون وكذلك
                      النفقه ..</div>
                  </div>
                </div>
              </div>
      <p>
        <b
          >في الاخير يسر مكتب الاء ابراهيم الجسمي للمحاماة للرد علي استفساراتكم
          وتقديم الاستشارات القانونية لكم
        </b>
      </p>
      <h3>للتواصل</h3>
      <p>
        <b>واتساب:</b
        ><a
          href="https://api.whatsapp.com/send/?phone=%2B971547372444&text&type=phone_number&app_absent=0"
          >+971 54 737 2444</a
        >
      </p>
      <p>
        <b>بريد الكتروني :</b
        ><a href="mailto:info@lawyer-alaa-aljasmi.com"
          >info@lawyer-alaa-aljasmi.com</a
        >
      </p>
  
      @@include('../components/author-componnent.html')
    </div>
  </section>
  

  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.lawyer-alaa-aljasmi.com/pages/الخلع في الامارات .html"
      },
      "headline": "الخلع في الامارات",
      "description": "الخلع في الإمارات هو إجراء قانوني يتيح للزوجة إنهاء الزواج في حالات معينة و الذي سوف يناقشه مكتب آلاء الجسمي بالتفصيل، مع توضيح شروطه والإجراءات القانونية",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/Divorce6.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/divorce5.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-12-22T09:00:00Z",
      "dateModified": "2024-12-23T17:00:00Z"
    }
    </script>
    
</body>
</html>
