<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
    "title": "الحضانة في الإمارات "
  })
</head>
<body>
  <!-- Index Class -->
  @@include('../components/header.html')
  </header>
  <section class="hero-about-section">
    <div class="container">
      <h1>الحضانة في الإمارات: كل ما تحتاج إلى معرفته</h1>
    </div>
  </section>
  
  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
      <div class="contenttable border my-3 p-3">
        <h6>جدول المحتوى</h6><a class="d-block py-1" href="#1">ما هي الحضانة قانونياً؟</a> <a class="d-block py-1"
          href="#2">ما القوانين المنظمة للحضانة في الإمارات؟</a> <a class="d-block py-1" href="#3">من له الحق في الحضانة
          بالامارات؟</a> <a class="d-block py-1" href="#4">ما شروط الحضانة؟</a> <a class="d-block py-1" href="#5">ما
          السن القانونية للحضانة؟</a> <a class="d-block py-1" href="#6">إجراءات طلب الحضانة في الإمارات</a> <a
          class="d-block py-1" href="#5">إسقاط الحضانة في الإمارات</a> <a class="d-block py-1" href="#5">ما هي أسباب
          إسقاط الحضانة؟</a> <a class="d-block py-1" href="#5">كيف يمكن طلب إسقاط الحضانة؟</a> <a class="d-block py-1"
          href="#5">الأسئلة الشائعة عن الحضانة في الإمارات</a>
      </div>
      <p>الحضانة تُعد من أهم القضايا التي تُثار في دعاوى الأحوال الشخصية في الإمارات، حيث تهدف القوانين إلى تحقيق مصلحة
        الطفل الفضلى. في هذا المقال، سنناقش القوانين المنظمة للحضانة، شروطها، وإجراءاتها في الإمارات، مع توضيح أسباب
        إسقاط الحضانة والإجابة على الأسئلة الشائعة</p>
      <p>يسعى <a href="https://www.lawyer-alaa-aljasmi.com/" rel="nofollow" targer="_blank">مكتب محاماة الاء ابراهيم
          الجسمى</a> دومًا لتحقيق نتائج مبهرة لجميع عملائنا.</p>
      <h2>ما هي الحضانة قانونياً؟</h2>
      <p>الحضانة تعني حق رعاية الطفل والاهتمام به من الناحية الجسدية والنفسية والتعليمية، بما يضمن نموه في بيئة آمنة
        ومستقرة. تُحدد الحضانة بناءً على مصلحة الطفل الفضلى، مع مراعاة حقوق الوالدين.</p>
      <h2>ما القوانين المنظمة للحضانة في الإمارات؟</h2>
      
      <p>تخضع قضايا الحضانة لقانون الأحوال الشخصية الإماراتي رقم 28 لسنة 2005 وتعديلاته. يُحدد القانون حقوق الحاضن
        والشروط الواجب توافرها لضمان مصلحة الطفل يؤمن مكتب محاماة الاء ابراهيم الجسمى بأن التواصل بنزاهة وشفافية هو أساس
        النجاح في أي علاقة مهنية لذلك نحرص على اهمية التواصل مع موكلينا فى اى وقت.</p>
        <p> اقراء ايضا : <a
          href="https://www.lawyer-alaa-aljasmi.com/pages/الدليل الشامل لحضانة الاطفال فى الامارات.html" rel="nofollow"
          targer="_blank">الدليل الشامل لحضانة الاطفال فى الامارات</a></p>
        
      <img
        src="../../img/content/القوانين المنظمه للحضانه.webp" alt="القوانين المنظمة للحضانة في الإمارات">
      <h2>من له الحق في الحضانة بالامارات؟</h2>
      <ul>
        <li><b>الأم: </b>تُعتبر الخيار الأول للحضانة، ما لم توجد موانع قانونية مثل الزواج من شخص غير محرم للطفل</li>
        <li><b>الأب: </b>يحق له المطالبة بالحضانة إذا فقدت الأم شروط الحضانة</li>
        <li><b>الأقارب: </b>إذا تعذرت الحضانة للأم والأب، يُنظر في أقرب الأقارب</li>
      </ul>
      <h3>ما شروط الحضانة؟</h3>
      <ul>
        <li>القدرة على رعاية الطفل</li>
        <li>حُسن السيرة والسلوك</li>
        <li>الإقامة المستقرة</li>
        <li>عدم وجود مانع قانوني أو صحي يمنع الحاضن من أداء دوره</li>
      </ul>
      <h3>ما السن القانونية للحضانة؟</h3>
      <p>ينتهي حق حضانة الأم للبنين عند سن 11 عامًا والبنات عند سن 13 عامًا يمكن تمديد الحضانة بناءً على طلب الأم إذا
        كانت في مصلحة الطفل</p>
      <p>تحقيق العدالة يمثل قمة التزامنا بمكتب محاماة الاء الجسمى ومن أولويات عملنا لثقتنا الراسخة بأن تحقيق العدالة
        والحفاظ عليها يؤدي الى تأسيس مجتمع تسود فيه الطمأنينة وينعم فيه الأمن والسلام لتحقيق التقدم المنشود للجميع.</p>
      <h2>إجراءات طلب الحضانة في الإمارات</h2>
      <ul>
        <li>تقديم طلب الحضانة إلى المحكمة المختصة</li>
        <li>تقديم المستندات الداعمة (مثل شهادة الميلاد، وعقد الزواج)</li>
        <li>حضور الجلسات في المحكمة</li>
        <li>صدور الحكم بناءً على مصلحة الطفل</li>
      </ul>
      <h2>إسقاط الحضانة في الإمارات</h2>
      <p>تعتبر قضية الحضانة من القضايا الأسرية الأكثر حساسية وتعقيدًا في أي مجتمع، وتولي القوانين الإماراتية اهتمامًا
        بالغًا بحقوق الطفل وتوفير بيئة آمنة وسليمة له</p>
      <h3>ما هي أسباب إسقاط الحضانة؟</h3>
      <p>يمكن إسقاط الحضانة عن الحاضن إذا توافرت إحدى الأسباب التالية :</p>
      <ol>
        <li><b>الإخلال بشروط الحضانة: </b>مثل الإهمال في رعاية الطفل أو تعريضه للخطر</li>
        <li><b>الزواج من شخص غير محرم للطفل: </b>إذا تزوجت الأم من شخص ليس محرمًا للطفل، فقد تسقط عنها الحضانة</li>
        <li><b>عدم الأمانة أو سوء السلوك: </b>مثل ارتكاب الحاضن أفعالًا تضر بالطفل</li>
        <li><b>الإصابة بمرض يمنع الحاضن من أداء واجباته: </b>سواء كان جسديًا أو نفسيًا</li>
        <li><b>السفر المتكرر أو عدم الاستقرار: </b>إذا أثر ذلك على مصلحة الطفل</li>
        <li><b>التحريض على الكراهية أو العداء: </b>إذا ثبت أن الحاضن يؤثر سلبًا على علاقة الطفل بالطرف الآخر</li>
      </ol>
      <p>يؤمن مكتب محاماه الاء ابراهيم الجسمى بأن التواصل بنزاهة وشفافية هو أساس النجاح في أي علاقة مهنية لهذا نحرص
        دائما اهمية التواصل مع الموكلين وتقديم كل المعلومات اللازمة لهم .</p>
      <img src="../../img/content/الحصانة قانونيا.webp" alt="إسقاط الحضانة في الإمارات">
      <h3>كيف يمكن طلب إسقاط الحضانة؟</h3>
      <ul>
        <li>يقدم الطرف المتضرر دعوى إلى المحكمة مع تقديم أدلة على إخلال الحاضن بشروط الحضانة</li>
        <li>تنظر المحكمة في الدعوى وتصدر حكمها بناءً على مصلحة الطفل الفضلى</li>
        <li><b>للطلب إسقاط الحضانة في الإمارات، يجب اتباع الإجراءات القانونية التالية</b>
          <ol>
            <li><b>توكيل محامٍ متخصص: </b>نظرًا لحساسية هذه القضايا، يُنصح بشدة بتوكيل محامٍ متخصص في قضايا الأسرة
              والأحوال الشخصية.وهذا ما نقوم به كفريق مكتب محاماة الاء ابراهيم الجسمى بدراسة حالتك، وتقديم المشورة
              القانونية اللازمة، وإعداد الأوراق والمستندات المطلوبة</li>
            <li><b>رفع دعوى قضائية: </b>يرفع المكتب دعوى قضائية أمام محكمة الأحوال الشخصية المختصة، والتي تتضمن الأسباب
              التي تدعو إلى إسقاط الحضانة عن الأم، مع تقديم الأدلة والبراهين التي تدعم هذه الأسباب.<ul>
                <li><b>عدم كفاءة الأم: </b>إذا كانت الأم غير قادرة على توفير الرعاية الكافية للطفل بسبب مرض نفسي أو
                  جسدي، أو إدمان للمخدرات أو الكحول، أو سلوكيات ضارة بالطفل</li>
                <li><b>خطر على الطفل: </b>إذا كانت الأم تشكل تهديدًا مباشرًا على سلامة الطفل جسديًا أو نفسيًا</li>
                <li><b>زواج الأم بغير المحضون: </b>في حالة زواج الأم برجل أجنبي عن المحضون، مما قد يؤثر على تربية الطفل
                </li>
                <li><b>عدم ملائمة بيئة الأم: </b>إذا كانت البيئة التي يعيش فيها الطفل مع أمه غير ملائمة لتربيته، سواء
                  كانت غير آمنة أو غير صحية</li>
              </ul>
            </li>
            <li><b>الإجراءات القضائية: </b>بعد رفع الدعوى، تقوم المحكمة باستدعاء الطرفين لسماع أقوالهما، واستجواب
              الشهود، وطلب التقارير الطبية والاجتماعية إذا لزم الأمر</li>
            <li><b>الحكم القضائي: </b>بعد الانتهاء من جميع الإجراءات، تصدر المحكمة حكمها النهائي في القضية، إما بقبول
              الدعوى وإسقاط الحضانة عن الأم، أو برفضها إذا لم تثبت الأسباب التي أُقيمت عليها الدعوى</li>
          </ol>
        </li>
      </ul>
            <h2>الأسئلة الشائعة عن الحضانة في الإمارات</h2>
      <ol>
        <li>
          <h3>هل يمكن تغيير حكم الحضانة بعد صدوره؟</h3>
        </li>
        <p>نعم، يمكن طلب تعديل حكم الحضانة إذا تغيرت الظروف التي بُني عليها الحكم السابق، مثل تغيير إقامة الحاضن أو
          زواجه</p>
        <li>
          <h3>ماذا يحدث إذا كان أحد الوالدين يقيم خارج الإمارات؟</h3>
        </li>
        <p>يؤخذ هذا في الاعتبار أثناء الحكم، وقد يُمنح الوالد المقيم في الإمارات الحضانة لضمان استقرار الطفل</p>
        <p>فى مكتب محاماة الاء ابراهيم الجسمى على تعزيز قيم الصدق والنزاهة والثقة ونؤمن ايمانًا راسخًا بأهمية الصدق
          والثقة والإحترام المتبادل بين المحامى والموكل. ولهذا السبب فإننا نضع على عاتقنا تحمل المسؤولية الكاملة لبناء
          الثقة المنشودة مع عملائنا والحفاظ عليها دائمًا .</p>
        <li>
          <h3>هل يمكن إسقاط الحضانة عن الأم؟</h3>
        </li>
        <p>نعم، إذا فقدت الأم أحد شروط الحضانة مثل الزواج من شخص غير محرم للطفل أو الإهمال في رعاية الطفل</p>
        <li>
          <h3>ما الفرق بين الحضانة والوصاية؟</h3>
        </li>
        <ul>
          <li><b>الحضانة: </b>تُعنى برعاية الطفل في الأمور اليومية</li>
          <li><b>الوصاية: </b>تشمل إدارة الشؤون المالية والقانونية للطفل</li>
        </ul>
        <li>
          <h3>هل يُسمح للحاضن بالسفر مع الطفل دون إذن الطرف الآخر؟</h3>
        </li>
        <p>لا يحتاج الحاضن إلى إذن خطي أو موافقة من المحكمة للسفر مع الطفل خارج الدولة</p>
      </ol>
      <p>اقرا ايضا : <a href="https://www.lawyer-alaa-aljasmi.com/pages/أفضل محامى طلاق فى الامارات.html" rel="nofollow"
          targer="_blank">افضل محامي طلاق في الامارات</a></p>
      <p>قضايا الحضانة وإسقاطها في الإمارات تُدار وفقًا لقوانين دقيقة تهدف إلى تحقيق مصلحة الطفل الفضلى. إذا كنت بحاجة
        إلى مساعدة قانونية بشأن الحضانة، فإن مكتب محاماة الاء الجسمي يقدم استشارات شاملة ويُساعدك في متابعة الإجراءات
        القانونية لضمان حقوقك اذا كان لديك قضية في الامارات خاصة بالحضانة ، أو لديك مشكلة قانونية، وترغب بالحصول على
        استشارة بشأنها، لا تقلق بهذا الشأن فإن مكتب محاماة الاء ابراهيم الجسمى يوفر لك استشارات قانونية مجانية بحيث يتم
        توجيهك للطريق الصحيح . للتواصل <a href="https://lawyer-alaa-aljasmi.com/pages/contactus.html">اتصل بنا</a></p>
      <div>
        <div class="auther rounded-3 w-75 mx-auto p-3 my-3">
          <h3 class="text-center"><a href="../pages/author.html">المؤلف:ألاء إبراهيم الجسمى Alaa Ibrahim Aljasmi</a>
          </h3>
          <p>الاء الجسمي مستشارة قانونية ذات خبرة واسعة في مختلف مجالات القانون</p>
          <p>عملت على تقديم استشارات قانونية شاملة لمجموعة متنوعة من العملاء، بما في ذلك الأفراد والشركات</p>
          <p>تتميز بقدرتها على تحليل القضايا المعقدة وتقديم حلول قانونية مبتكرة تراعي مصلحة العميل.</p>
          <p>تتمتع الاء الجسمي بسجل حافل في تمثيل عملائها أمام المحاكم في قضايا تتعلق بالقانون المدني، التجاري، الجنائي،
            وقانون العمل. كما أن لها عدة مشاركات في تطوير السياسات القانونية عبر تقديم الاستشارات لأعمال ومؤسسات في مجال
            الامتثال والتنظيمات القانونية.</p>
          <p>من خلال مكتب الاء الجسمي للمحاماة، تقدم الاستشارات القانونية للأفراد والشركات مع التركيز على تقديم حلول
            دقيقة وفعالة تناسب الاحتياجات الخاصة لكل عميل.</p>
        </div>
      </div>
    </div>
  </section>

  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.lawyer-alaa-aljasmi.com/pages/الحضانة في الإمارات.html"
      },
      "headline": "الحضانة في الإمارات",
      "description": "كل ما تريد معرفة عن الحضانة  في الإمارات، دليلك الشامل اهم الشروط والإجراءات المطلوبة للحضانة",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/الحصانة قانونيا.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/القوانين المنظمه للحضانه.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-12-22T09:00:00Z",
      "dateModified": "2024-12-23T17:00:00Z"
    }
    </script>
    
</body>
</html>
