<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
    "title": "الطلاق فى الامارات"
  })
</head>
<body>
  @@include('../components/header.html')
  </header>
  
  <section class="hero-about-section">
    <div class="container">
        <h1>الطلاق فى الامارات</h1>
    </div>
  </section>

  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
        <div class="contenttable border my-3 p-3">
            <h6>جدول المحتوى</h6>
            <a class="d-block py-1" href="#1">نبذه عن الطلاق فى الإسلام</a>
            <a class="d-block py-1" href="#2">اتّفق الفقهاء على مشروعيّة الطّلاق في الإسلام</a>
            <a class="d-block py-1" href="#3">انواع الطلاق في الامارات</a>
            <a class="d-block py-1" href="#4">قوانين الطلاق في الإمارات ومرجعياتها</a>
            <a class="d-block py-1" href="#5">إجراءات الطلاق في الإمارات</a>
            <a class="d-block py-1" href="#6">>المستندات المطلوبة للطلاق في الامارات</a>
            <a class="d-block py-1" href="#7">شروط الطلاق الصحيح في الإمارات</a>
            <a class="d-block py-1" href="#8">الأسباب الشائعة للطلاق في الإمارات</a>
            <a class="d-block py-1" href="#9">مبادرات الإمارات للحد من الطلاق</a>
        </div>
        <img src="../../img/content/Divorce4.webp" alt="الخلع فى الامارات">
      <p>
        يعد الطلاق في الإمارات موضوعًا حيويًا يعكس التحديات الاجتماعية
        المتزايدة التي تواجهها الأسر في المجتمع الحديث. ولهذا تولي دولة
        الإمارات اهتماماً كبيراً بتنظيم هذا الجانب من الحياة الأسرية من خلال
        وضع قوانين واضحة تحمي حقوق جميع الأطراف، بما في ذلك الزوج، الزوجة،
        والأطفال. تسعى هذه القوانين إلى تحقيق التوازن بين مصالح الأسرة
        والمجتمع لذلك سوف يوضح مكتب
        <a href="https://www.lawyer-alaa-aljasmi.com"
          >محاماة الاء ابراهيم الجسمي</a
        >
        <mark>افضل محامي طلاق في الامارات </mark> علي كل ما يخص الطلاق لما له
        اثر علي المجتمع و الاسر و إجراءات الطلاق في الإمارات المستندات
        المطلوبة والاجابة علي اكثر الاسئلة الشائعة في الامارات
      </p>
      <b>مقالات ذات صلة </b>
      <ul>
        <li><mark>الخلع</mark></li>
        <li><mark>حقوق الاطفال بعد الطلاق في الامارات</mark></li>
      </ul>
      <h2 id="1">نبذه عن الطلاق فى الإسلام</h2>
      <p>
        الطلاق في الإسلام هو انفصالُ أحد الزوجين عن الآخر، وعرفه علماء الفقه
        بأنه: "حل عقد النكاح بلفظ صريح، أو كناية مع النية، وألفاظ الطلاق
        الصريح هي: (الطلاق، والفراق، والسراح). والكناية هي: "كل لفظ احتمل
        الطلاق وغيره" مثل: ألحقي بأهلك، أو لا شأن لي بك، ونحو ذلك. فإن نوى به
        الطلاق وقع وإلا فلا. وطريقته أن ينطق الرجل السليم العاقل كلمة الطلاق
        أو (يمين الطلاق) أمام زوجته في حضورها، أو في غيابها، أو ينطقها أمام
        القاضي في غيابها وفق شريعة الإسلام
      </p>
      <h2 id="2">اتّفق الفقهاء على مشروعيّة الطّلاق في الإسلام</h2>
      <p>
        ودلّ على مشروعيّته القرآن الكريم والسنة النبويّة والإجماع؛ قال الله
        -تعالى-: (الطَّلاَقُ مَرَّتَانِ فَإِمْسَاكٌ بِمَعْرُوفٍ أَوْ تَسْرِيحٌ
        بِإِحْسَانٍ)،[٣] وقال الله -تعالى-: (يَا أَيُّهَا النَّبِيُّ إِذَا
        طَلَّقْتُمْ النِّسَاءَ فَطَلِّقُوهُنَّ لِعِدَّتِهِنَّ)،[٤] وثبت عن
        النبيّ -صلّى الله عليه وسلّم- أنّه قال: (مَا أَحَل اللَّهُ شَيْئًا
        أَبْغَضَ إِلَيْهِ مِنَ الطَّلاَقِ)،[٥] وثبت عن الصحابيّ ابن عمر -رضيَ
        الله عنهما- أنّه طلّق زوجته وهيَ حائض، فأخبره النبيّ -صلّى الله عليه
        وسلّم- أن يراجعها ويُطلّقها في غير فترة الحيض، كما أجمع العلماء من زمن
        النبيّ -صلّى الله عليه وسلّم- على مشروعيّة الطّلاق
      </p>
      <p>
        <b
          >إذا كنت تتعامل مع قضية قانونية، من المهم أن يكون لديك محام متمرس
          ومطلع على جانبك. في مكتب محاماة الاء ابراهيم الجسمى، نحن مستعدون
          لمساعدتك في التنقل في نظام القانون في الإمارات العربية المتحدة
          والحصول على أفضل نتيجة ممكنة لقضيتك</b
        >
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره قانونيه فورية</a>
    </div>
      <h3>ما هو الطلاق فى الإمارات</h3>
      <p>
        الطلاق هو إنهاء رسمي وقانوني لعقد الزواج بين الزوجين، ويتم بناءً على
        قرار يصدر عن المحكمة بناءً على طلب أحد الطرفين أو كليهما. يترتب على
        الطلاق تقسيم الحقوق والواجبات المتعلقة بالأبناء والممتلكات وأحياناً
        الدعم المالي بناءً على أحكام القانون المعمول به في الدولة. في
        الإمارات، يخضع الطلاق لأحكام الشريعة الإسلامية بالنسبة للمسلمين، مع
        وجود قوانين إضافية تنظم الإجراءات القانونية لضمان حقوق الطرفين
        والأبناء، بما في ذلك حق النفقة والحضانة. أما بالنسبة لغير المسلمين،
        فقد توفر الإمارات منذ عام 2022 قوانين مدنية تتيح لهم إجراءات الطلاق
        حسب قوانين بلدانهم الأصلية أو القوانين المدنية الإماراتية المعتمدة
        حديثًا. يقع الطلاق من الزوج أو وكيله بوكالة خاصة، أو من الزوجة أو
        وكيلها بوكالة خاصة وفق ما تم الاتفاق عليه في عقد الزواج، ويجب توثيقه
        وفق الإجراءات المتبعة في المحكمة. ويثبت الطلاق أمام القاضي بشهادة
        شاهدين، أو بالإقرار، ويصدر القاضي حكمه بعد التحقق من توفر أي من هذين
        الأمرين. ويسند الطلاق إلى تاريخ الإقرار، ما لم يثبت للمحكمة تاريخ
        سابق، ويرجع فيما يترتب على الطلاق بالإقرار إلى القواعد الشرعية.
      </p>
      <p>
        <b
          >للحصول علي <mark>استشارة قانونية</mark> مجانية لما يخص
          <mark>حقوق الزوجة بعد الطلاق </mark> يمكنكم التواصل مع مكتب محاماة
          الاء ابراهيم الجسمي الذي يعد من
          <a href="https://www.lawyer-alaa-aljasmi.com/pages/bestlawfirm.html"
            >افضل مكتب محاماة في الامارات
          </a></b
        >
      </p>
      <h2 id="3">انواع الطلاق في الامارات</h2>
      <p>
        في الإمارات، يوجد نوعين للطلاق وهما الطلاق الرجعى والطلاق البائن. وكل
        طلاق يقع رجعيًا إلا الطلاق المكمل للثلاث، والطلاق قبل الدخول، وما ورد
        النص على بينونته.
      </p>
      <h3><strong> الطلاق الرجعي:</strong></h3>
      <p>
        هو الطلاق الذي يمكن فيه للزوج إرجاع زوجته خلال فترة العدة دون الحاجة
        إلى عقد جديد، بشرط أن يكون الطلاق الأول أوالثانى. وتقع الرجعة باللفظ،
        أو بالكتابة، وعند العجز عنهما فبالإشارة المفهومة، كما تقع بالفعل مع
        النية، وتوثق الرجعة ويجب إعلام الزوجة بها خلال فترة العدة.
      </p>
      <h3><strong> الطلاق البائن:</strong></h3>
      <p>ينهى عقد الزواج حين وقوعه وينقسم إلى بينونة صغرى وبينونة كبرى</p>
      <p>
        <b>بينونة صغرى: </b>تعني عدم قدرة الزوج على إرجاع زوجته إلا بعقد ومهر
        جديدين.
      </p>
      <p>
        <b>أما البينونة الكبرى: </b>فتحدث بعد الطلقة الثالثة، ولا يستطيع الزوج
        إرجاع زوجته إلا بعد أن تتزوج برجل آخر زواجًا شرعيًا.
      </p>
      <p>
        للزوج أن يرجع مطلقته رجعيًا ما دامت في العدة ولا يسقط هذا الحق
        بالتنازل عنه، فإذا انتهت عدتها جاز لها أن تعود إليه بعقد جديد دون إذن
        وليها إن امتنع عن تزويجها له، بشرط أن يكون زواجها الأول منه قد تم برضا
        الولي أو بأمر المحكمة.
      </p>
      <h3><strong> التفريق بحكم القاضى</strong></h3>
      <p>التفريق بحكم القاضى</p>
      <h4>أولاً الطلاق للعلل:</h4>
      <p>
        يأمر القاضي بفسخ عقد الزواج في حالة إذا وجد أحد الزوجين في الآخر علة
        مستحكمة من العلل المنفرة أو المضرة، كالجنون والبرص والجذام، أو التي
        تمنع حصول المتعة الجنسية كالعنة والقرن ونحوهما، جاز له أن يطلب فسخ
        الزواج، سواء أكانت تلك العلة موجودة قبل العقد أم حدثت بعده، وإذا كانت
        تلك العلل غير قابلة للزوال تفسخ المحكمة الزواج في الحال دون إمهال. وإن
        كان زوالها ممكنًا تؤجل المحكمة القضية مدة مناسبة لا تجاوز سنة، فإذا لم
        تزل العلة خلالها وأصر طالب الفسخ، فسخت المحكمة الزواج. ويسقط حقه في
        الفسخ إذا علم بالعلة قبل العقد أو رضي بها بعده صراحةً أو دلالةً،على أن
        حق الزوجة في طلب الفسخ للعلة المانعة من المتعة الجنسية لا يسقط بحال.
      </p>
      <p>
        <b
          >مكتب محاماة الاء الجسمى على استعداد لتقديم النصيحة والتمثيل الخبير
          في جميع المجالات القانونية ، بما في ذلك القانون المدني، وقانون
          الاحوال الشخصية، والقانون العقوبات، وقانون الشركات، والقانون
          العقاري، وغيرها</b
        >
      </p>
      <h5>والطلاق للعلل له حالات أخرى منها:</h5>
      <ol>
        <li>
          إذا حصل تغرير من الزوج الآخر أو بعلمه أدى إلى إبرام عقد الزواج،
          ويُعتبر السكوت عمدًا عن واقعة تغريرًا، إذا ثبت أن من غرر به ما كان
          ليبرم عقد الزواج لو علم بتلك الواقعة.
        </li>
        <li>
          إذا ثبت بتقرير طبي عقم الآخر، بعد زواج دام خمس سنوات، وبعد العلاج
          الطبي، بشرط عدم وجود أولاد لطالب الفسخ، وأن لا يجاوز عمره أربعين
          سنة.
        </li>
        <li>إذا حكم على الآخر بجريمة الزنا وما في حكمها.</li>
        <li>
          إذا ثبت إصابة الآخر بمرض معدٍ يخشى منه الهلاك كالإيدز، وما في حكمه،
          فإن خشي انتقاله للزوج الآخر، أو نسلهما، وجب على القاضي التفريق
          بينهما.
        </li>
      </ol>
      <p>
        <b
          >للحصول علي استشاره مجانية لما يخص <mark>النفقه </mark> و<mark
            >الحضانة بعد الطلاق</mark
          >
          لا تتردد فى التواصل مع مكتب محاماة الاء ابراهيم الجسمي الذي يعد من
          افضل مكاتب المحاماة في الامارات
        </b>
      </p>
      <h4>ثانياً:الطلاق لعدم أداء المهر</h4>
      <ol>
        <li>
          يحكم للزوجة غير المدخول بها بالفرقة لعدم أداء الزوج مهرها الحال في
          الحالتين الآتيتين:
        </li>
        <ul>
          <li>إذا لم يكن للزوج مال ظاهر يؤخذ منه المهر.</li>
          <li>
            إذا كان الزوج ظاهر العسر أو مجهول الحال وانتهى الأجل الذي حدده
            القاضي لأداء مهرها الحال ولم يؤده.
          </li>
        </ul>
        <li>
          لا يحكم للزوجة بعد الدخول بالفرقة لعدم أداء مهرها الحال، ويبقى دينًا
          في ذمة الزوج
        </li>
      </ol>
      <p>
        <b
          >يعمل مكتب محاماه الاء ابراهيم الجسمى مع المحامين ذوي المهارات
          العالية وفريق الدعم المكرس في كل مجال من مجالات التخصص، يمكنك الثقة
          بأنك ستتلقى أكثر الاستشارات القانونية موثوقية وأقصى درجات التميز في
          الخدمات القانونية</b
        >
      </p>
      <h4>ثالثا:الطلاق للضرر والشقاق:</h4>
      <p>
        وفقًا للقانون الإماراتي أقر قانون الطلاق الجديد في الإمارات الضرر
        والشقاق بوصفه سببًا يتيح لأي من الزوجين طلب الطلاق، إذا تعذر بوجوده
        واستمراره دوام الود والعشرة بالمعروف بين الزوجين، وهذ النوع هو الأكثر
        شيوعاً ويتضمن الاتى:
      </p>
      <ol>
        <li>
          لكل من الزوجين طلب التطليق للضرر الذي يتعذر معه دوام العشرة بالمعروف
          بينهما ولا يسقط حق أي منهما في ذلك، ما لم يثبت تصالحهما.
        </li>
        <li>
          تتولى لجنة التوجيه الأسري الإصلاح بين الزوجين، فإن عجزت عنه عرض
          القاضي الصلح عليهما، فإن تعذر وثبت الضرر حكم بالتطليق.
        </li>
        <li>
          إذا لم يثبت الضرر ترفض الدعوى، وإن استمر الشقاق بين الزوجين فللمتضرر
          منهما أن يرفع دعوى جديدة، فإن تعذر على لجنة التوجيه الأسري والقاضي
          الإصلاح بينهما عين القاضي بحكم حَكَمين من أهليهما إن أمكن بعد أن
          يكلف كلاً من الزوجين تسمية حَكَم من أهله قدر الإمكان في الجلسة
          التالية على الأكثر، وإلا عين من يتوسم فيه الخبرة والقدرة على الإصلاح
          إذا تقاعس أحد الزوجين على تسمية حَكَمه، أو تخلف عن حضور هذه الجلسة،
          ويكون هذا الحُكم غير قابل للطعن فيه.
        </li>
        <li>
          ويجب أن يشمل حُكم تعيين الحَكمين على تاريخ بدء المهمة وانتهائها على
          أن لا تجاوز مدة تسعين يوم، ويجوز مدها بقرار من المحكمة، وتعلن
          المحكمة الحَكمين والخصوم بحُكم تعيين الحَكمين وعليها تحليف كل من
          الحَكمين اليمين بأن يقوم بمهمته بعدل وأمانة.
        </li>
        <li>
          في حال تقدم أحد الطرفين بدعوى للمحكمة واستطاع إثبات الضرر الواقع
          عليه، ويعجز الحكمان عن الصلح بين الطرفين، يحكم القاضي بالتفريق بين
          الزوجين مع كفالة حقوق المتضرر.
        </li>
        <li>
          فى دعوى التطليق للإضرار يثبت الضرر بطرق الإثبات الشرعية، وبالأحكام
          القضائية الصادرة على أحد الزوجين.
        </li>
        <li>
          تقبل الشهادة بالتسامع إذا فسر الشاهد أو فهم من كلامه اشتهار الضرر في
          محيط حياة الزوجين حسبما تقرره المحكمة.
        </li>
        <li>
          لا تقبل الشهادة بالتسامع على نفي الضرر. وتقبل شهادة الشاهد ذكرًا كان
          أو أنثى عدا الأصل للفرع أو الفرع للأصل متى توافرت في الشاهد شروط
          الشهادة شرعًا
        </li>
      </ol>
      <p>
        ويتمثل الفرق بين الطلاق للضرر والطلاق للشقاق في أن الطلاق للضرر يقوم
        بسبب تعرض أحد الطرفين للأذى من الآخر، ويرغب بالانفصال من أجل حماية
        نفسه ورد الأذى عنه. أما الطلاق للشقاق فهو لا يرتبط بسبب محدد يقع الضرر
        والأذى بموجبه، وإنما ينطوي على خلافات عامة ومستمرة بين الزوجين تمنعهما
        من القدرة على الاستمرار بالزواج والعيش بهدوء.
      </p>
      <p>
        <b
          >يعتبر مكتب محاماة الاء الجسمى هو احد اهم وافضل مكاتب المحاماه
          والاستشارات القانونية فى دولة الامارات ولديه سمعة طيبة مع خبرة طويلة
          فى شتى المجالات . كما يمتلك المكتب فريق متميز من القانونين المحترفين
          فى شتى المجالات القانونية لتوفير افضل مستوى من الخدمات والاستشارات
          القانونية .</b
        >
      </p>
      <h4>رابعا:الطلاق لعدم الإنفاق:</h4>
      <ol>
        <li>
          إذا امتنع الزوج الحاضر عن الإنفاق على زوجته، ولم يكن له مال ظاهر
          يمكن التنفيذ فيه بالنفقة الواجبة، في مدة قريبة، جاز لزوجته طلب
          التفريق.
        </li>
        <li>إذا ادعى أنه معسر ولم يثبت إعساره طلق عليه القاضي في الحال</li>
        <li>
          إن لم يدعِ أنه موسر أو معسر أو ادعى أنه موسر وأصر على عدم الإنفاق
          طلق عليه القاضي في الحال
        </li>
        <li>
          إن ثبت إعساره أمهله القاضي مدة لا تزيد على شهر، فإن لم ينفق طلق عليه
          القاضي.
        </li>
        <li>
          للزوج أن يراجع زوجته في العدة إذا ثبت يساره، واستعد للإنفاق بدفعه
          النفقة المتعادة وإلا كانت الرجعة غير صحيحة.
        </li>
        <li>
          إذا تكرر رفع الدعوى لعدم الإنفاق أكثر من مرتين وثبت للمحكمة في كل
          منهما عدم الإنفاق وطلبت الزوجة التطليق لعدم الإنفاق طلقها القاضي
          عليه بائنًا.
        </li>
      </ol>
      <h4>خامساً الطلاق للغيبه والفقد:</h4>
      <p>
        للزوجة طلب التطليق بسبب غياب زوجها المعروف موطنه أو محل إقامته ولو كان
        له مال يمكن استيفاء النفقة منه، ولا يحكم لها بذلك إلا بعد إنذاره: إما
        بالإقامة مع زوجته أو نقلها إليه أو طلاقها، على أن يمهل لأجل لا يزيد
        على سنة. لزوجة المفقود والذي لا يعرف محل إقامته طلب التطليق، ولا يحكم
        لها بذلك إلا بعد التحري والبحث عنه ومضي سنة من تاريخ رفع الدعوى
      </p>
      <h4>سادساً الطلاق للحبس:</h4>
      <ol>
        <li>
          لزوجة المحبوس المحكوم عليه بحكم بات بعقوبة مقيدة للحرية مدة ثلاث
          سنوات فأكثر أن تطلب من المحكمة بعد مضي سنة من حبسه التطليق عليه
          بائنًا ولو كان له مال تستطيع الإنفاق منه.
        </li>
        <li>
          إذا كانت الزوجة محبوسة أيضًا فخرجت هي دونه جاز لها طلب التفريق بعد
          مضي سنة على خروجها بذات الشروط الواردة في البند (1) من هذه المادة.
        </li>
        <li>
          في الحالتين السابقتين يشترط للحكم للزوجة ألا يخرج الزوج من السجن
          أثناء نظر الدعوى أو ألا يبقى من مدة حبسه أقل من ستة أشهر.
        </li>
      </ol>
      <h4>سابعاً الطلاق للإيلاء والظهار</h4>
      <p>
        للزوجة طلب التطليق إذا حلف زوجها على عدم مباشرتها مدة أربعة أشهر فأكثر
        ما لم يفئ قبل انقضاء الأشهر الأربعة، ويكون الطلاق بائنًا. للزوجه طلب
        التطليق للظهار إذا قال لها زوجها أنتى عليا كظهر أمى
      </p>
      <p>
        <b
          >للزوجة طلب التطليق إذا حلف زوجها على عدم مباشرتها مدة أربعة أشهر
          فأكثر ما لم يفئ قبل انقضاء الأشهر الأربعة، ويكون الطلاق بائنًا.
          للزوجه طلب التطليق للظهار إذا قال لها زوجها أنتى عليا كظهر أمى
        </b>
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره قانونيه فورية</a>
    </div>
    <img src="../../img/content/Divorce6.webp" alt="الخلع فى الامارات">
      <h2 id="4">قوانين الطلاق في الإمارات ومرجعياتها</h2>
      <p>
        تستند قوانين الطلاق في الإمارات بشكل أساسي إلى الشريعة الإسلامية، التي
        تُطبق على المواطنين الإماراتيين، بينما يُتاح للمقيمين من الأجانب
        اختيار تطبيق قوانين دولهم الأم.
      </p>
      <h3>1. قانون الأحوال الشخصية الإماراتي</h3>
      <p>
        يعتمد قانون الأحوال الشخصية الإماراتي (<a
          href="https://uaelegislation.gov.ae/ar/legislations/1033/download"
          rel="nofollow"
          >القانون الاتحادي رقم 28 لعام 2005</a
        >) على مبادئ الشريعة الإسلامية، ويشمل جميع المسائل المتعلقة بالزواج،
        والطلاق، وحضانة الأطفال، والنفقة.
      </p>
      <h3>
        2.
        <a
          href="https://u.ae/ar-ae/information-and-services/justice-safety-and-the-law/personal-status-for-non-muslims"
          rel="nofollow"
          >القانون المدني للأحوال الشخصية لغير المسلمين</a
        >
      </h3>
      <p>
        أُطلق هذا القانون في عام 2021 ويوفر لغير المسلمين المقيمين في الإمارات
        خيار اتباع إجراءات مدنية للطلاق تتماشى مع خلفياتهم الثقافية والدينية،
        بعيداً عن الشريعة الإسلامية.
      </p>
      <p>
        يعتبر مكتب محاماة الاء الجسمى هو احد من اهم وافضل مكاتب المحاماه
        والاستشارات القانونية فى دولة الامارات ولديه سمعة طيبة مع خبرة طويلة
        فى شتى المجالات . كما يمتلك المكتب فريق متميز من المستشارين المحترفين
        فى شتى المجالات القانونية لتوفير افضل مستوى من الخدمات والاستشارات
        القانونية .
      </p>
      <h2 id="5">إجراءات الطلاق في الإمارات</h2>
      <p>
        إجراءات الطلاق في الإمارات تتضمن خطوات معينة تبدأ بالتوجيه الأسري
        وتنتهي بإتمام الطلاق عبر المحكمة إذا لم يتم التوصل إلى حل ودي. وفيما
        يلي الخطوات بالتفصيل:
      </p>
      <ol>
        <li>
          <b> تسجيل القضية في قسم التوجيه الأسري: </b> تبدأ إجراءات الطلاق
          بقيام أحد الزوجين أو كلاهما بتقديم طلب الطلاق في قسم التوجيه الأسري
          التابع للإمارة المعنية. هذا القسم يعتبر الخطوة الأولى الإلزامية قبل
          اللجوء للمحكمة، حيث يتم تسجيل القضية وتحديد موعد لمقابلة الموجه
          الأسري.
        </li>
        <li>
          <b> مقابلة الموجه الأسري: </b> يعد حضور الجلسة مع الموجه الأسري
          إلزاميًا كجزء من إجراءات الطلاق. خلال هذا اللقاء، يُسمح للطرفين بعرض
          مشاكلهما ومحاولة الوصول إلى حل وسط قد يساهم في تفادي الطلاق،
          ويمكنهما التعبير عن مخاوفهما سواء بحضور الممثل القانوني أو بدونه.
        </li>
        <li>
          <b> التوصل إلى الطلاق الودي: </b>في هذه المرحلة، يمكن للطرفين الوصول
          إلى اتفاق ودي على الطلاق. يتم صياغة تسوية تتضمن الاتفاقات حول
          القضايا المتعلقة بالطلاق، مثل حضانة الأطفال والنفقة وتوزيع
          الممتلكات. بعد الاتفاق، يتم التوقيع على التسوية أمام الموجه الأسري.
        </li>
        <li>
          <b> إحالة القضية إلى المحكمة: </b>في حال عدم التوصل إلى اتفاق أو
          إصرار أحد الطرفين على الطلاق، يقوم الموجه الأسري بإصدار رسالة إحالة
          تتيح للطرفين اللجوء إلى المحكمة لمتابعة إجراءات الطلاق. تسمح هذه
          الرسالة لهم بتقديم القضية أمام المحكمة في أي وقت خلال شهرين من تاريخ
          إصدارها.
        </li>
        <li>
          <b> إجراءات المحكمة: </b>بعد تقديم الرسالة إلى المحكمة، تبدأ
          الإجراءات القانونية لإتمام الطلاق وفقًا لتقدير المحكمة. يقدم كل طرف
          الأدلة والشهادات التي تدعم موقفه، كما يقوم كل طرف بالدفاع عن حقوقه
          وتقديم الوثائق اللازمة.
        </li>
        <li>
          <b> الطلاق الإلكتروني: </b>تسهل الإمارات حاليًا إجراءات الطلاق
          إلكترونيًا، مما يسمح للأطراف بتقديم طلبات الطلاق وبعض الوثائق عبر
          الإنترنت. هذا النظام يهدف إلى تسهيل وتسريع الإجراءات القانونية
          وتوفير الوقت للأطراف.
        </li>
      </ol>
      <h3>او يمكن إجراءات الطلاق في الإمارات إلكترونيًا عن طريق</h3>
      <ol>
        <li>
          <b>الدخول إلى البوابة الإلكترونية: </b> يبدأ الطرف الذي يرغب في
          تقديم طلب الطلاق بتسجيل الدخول إلى الموقع الإلكتروني الرسمي للجهة
          القضائية المختصة (مثل<a
            href="https://www.adjd.gov.ae/ar/pages/home.aspx"
            rel="nofollow"
          >
            دائرة القضاء</a
          >) باستخدام الهوية الرقمية الإماراتية.
        </li>
        <li>
          <b>اختيار جلسة التوجيه الأسري الإلكترونية: </b>بعد تقديم الطلب،
          يُحوَّل إلى قسم التوجيه الأسري، حيث يتم تحديد موعد لجلسة توجيه أسري
          عن بُعد. تُجرى هذه الجلسة بواسطة مكالمة فيديو أو أي وسيلة أخرى
          معتمدة، ويقوم الموجه الأسري بمناقشة وضع الزوجين ومحاولة الوصول إلى
          حل ودي.
        </li>
        <li>
          <b>التسوية الودية الإلكترونية: </b>إذا توصل الطرفان إلى اتفاق على
          الطلاق الودي، يتم صياغة التسوية إلكترونيًا وتوقيعها إلكترونيًا عبر
          النظام، مما يوفر وثيقة رسمية تحتوي على شروط الطلاق المتفق عليها.
        </li>
        <li>
          <b>إحالة القضية إلكترونيًا إلى المحكمة: </b>في حالة عدم التوصل إلى
          حل ودي، يُحال طلب الطلاق إلكترونيًا إلى المحكمة، ويُصدر قسم التوجيه
          الأسري رسالة الإحالة، التي تُرسل أيضًا عبر النظام الإلكتروني إلى
          الجهة القضائية المختصة.
        </li>
        <li>
          <b>متابعة إجراءات المحكمة: </b>يمكن للطرفين متابعة حالة طلب الطلاق
          وتقديم الوثائق الإضافية عبر البوابة الإلكترونية. تقوم المحكمة بدراسة
          القضية بناءً على المستندات المقدمة، ويمكن أن تُعقد الجلسات عبر
          الإنترنت إذا لزم الأمر.
        </li>
        <li>
          <b>إصدار حكم الطلاق إلكترونيًا: </b>بعد استكمال الإجراءات، تصدر
          المحكمة حكم الطلاق إلكترونيًا، ويستطيع الطرفان الحصول على نسخة من
          الحكم عبر البوابة الإلكترونية، مما يختم إجراءات الطلاق دون الحاجة
          للحضور الشخصي في المحكمة.
        </li>
        <p>
          <b
            >مكتب محاماة آلاء إبراهيم الجسمي يقدم لك المساعدة القانونية في
            إجراءات الطلاق، بما يضمن حصولك على الدعم القانوني الأمثل لتحقيق
            حقوقك وتبسيط عملية الانفصال بشكل قانوني ومنصف.</b
          >
        </p>
      </ol>
      <p>
        <b
          >مكتب محاماة آلاء إبراهيم الجسمي يقدم لك المساعدة القانونية في
          إجراءات الطلاق، بما يضمن حصولك على الدعم القانوني الأمثل لتحقيق
          حقوقك وتبسيط عملية الانفصال بشكل قانوني ومنصف.</b
        >
      </p>
      <h2 id="6">المستندات المطلوبة للطلاق في الامارات</h2>
      <p>
        لإتمام إجراءات الطلاق في الإمارات، يحتاج الزوجان إلى تقديم مجموعة من
        الوثائق الرسمية لضمان سلاسة سير العملية القانونية
      </p>
      <ol>
        <li>
          <b> عقد الزواج: </b>نسخة من عقد الزواج الرسمي لتوثيق العلاقة الزوجية
          وتحديد المعلومات الأساسية عن الزواج.
        </li>
        <li>
          <b> الهويات الشخصية:</b>صور عن الهوية الإماراتية لكل من الزوجين،
          بالإضافة إلى جوازات السفر، خاصة إذا كان أحد الزوجين غير مواطن
          إماراتي.
        </li>
        <li>
          <b> إثبات محل الإقامة: </b> مستندات تثبت إقامة الزوجين داخل الدولة،
          مثل بطاقة الإقامة أو فاتورة خدمات تظهر عنوان السكن.
        </li>
        <li>
          <b> شهادات ميلاد الأطفال (إن وجدت): </b>إذا كان هناك أطفال مشمولين
          في الطلاق، يلزم تقديم شهادات ميلادهم لتحديد الوضع القانوني للولاية
          والحضانة.
        </li>
        <li>
          <b> مستندات الدخل أو الرواتب: </b>تقدم عادة في حالات الطلاق التي
          تشمل مطالبات مالية أو نفقة، لتوضيح وضع الزوجين المالي وقدرتهما على
          الإنفاق.
        </li>
        <li>
          <b> رسالة الإحالة من التوجيه الأسري: </b>بعد محاولة التوجيه الأسري،
          تُصدر رسالة إحالة من قسم التوجيه الأسري في حال عدم الوصول إلى اتفاق،
          وهي مطلوبة لاستكمال القضية في المحكمة.
        </li>
        <li>
          <b> أوراق قانونية إضافية (إن لزم الأمر): </b>مثل العقود الخاصة
          بالأصول المشتركة أو اتفاقيات ما قبل الزواج، التي قد تساعد المحكمة في
          تحديد التفاصيل المالية وترتيبات الملكية بين الزوجين.
        </li>
      </ol>
      <h2 id="7">شروط الطلاق الصحيح في الإمارات</h2>
      <p>
        لإتمام الطلاق بشكل صحيح في الإمارات، توجد عدة شروط يجب الالتزام بها
        وفقًا للقانون من بين هذه الشروط:
      </p>
      <ol>
        <li>
          <b> توثيق عقد الزواج: </b>يجب أن يكون الزواج موثقًا بشكل رسمي، حيث
          لا يمكن التقدم بطلب الطلاق دون وجود عقد زواج معترف به من الجهات
          المختصة في الإمارات.
        </li>
        <li>
          <b>الأهلية القانونية: </b>يجب أن يكون الطرفان اللذان يتقدمان بطلب
          الطلاق يتمتعان بالأهلية القانونية؛ أي يجب أن يكون كلاهما قد بلغا
          السن القانونية للزواج، ويتمتعان بقدرات عقلية كاملة لاتخاذ قرار
          الطلاق.
        </li>
        <li>
          <b>إثبات أسباب مقنعة : </b>في حالات الطلاق القضائي، يجب على الطرف
          الذي يطلب الطلاق إثبات وجود أسباب مقنعة تدعم طلبه، مثل الضرر الجسدي
          أو النفسي أو عدم القدرة على الوفاء بالواجبات الزوجية.
        </li>
        <li>
          <b>تقديم المستندات المطلوبة: </b>مثل الهوية الوطنية، إثبات الإقامة،
          وأي وثائق تدعم أسباب الطلاق أو تتعلق بالأبناء والنفقة والأمور
          المالية.
        </li>
        <li>
          <b>إجراءات المحكمة: </b>في حالة الإصرار على الطلاق وعدم التوصل إلى
          تسوية، يتم تقديم القضية للمحكمة التي تتولى دراستها وإصدار الحكم
          وفقًا لما تراه مناسبًا لحالة الزوجين وأوضاعهم المالية والاجتماعية.
        </li>
      </ol>
      <p>
        <b
          >مكتب محاماة آلاء إبراهيم الجسمي يقدم لك الدعم القانوني اللازم في
          قضايا الطلاق، حيث يساعدك في فهم الإجراءات القانونية، ويساندك لتحقيق
          حقوقك بطريقة مهنية تراعي خصوصية وضعك.</b
        >
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره قانونيه فورية</a>
    </div>
      <h2 id="8">الأسباب الشائعة للطلاق في الإمارات</h2>
      <p>
        اسباب الطلاق في الإمارات متعددة وتتأثر بعوامل اجتماعية وثقافية
        واقتصادية، إضافةً إلى التطورات التي يشهدها المجتمع. إليك بعض الأسباب
        الشائعة للطلاق في الإمارات:
      </p>
      <ol>
        <li><b> الخلافات المالية</b></li>
        <ul>
          <li>
            تُعتبر الضغوط المالية من أبرز أسباب الطلاق في الإمارات، حيث يمكن
            أن يؤدي ارتفاع تكاليف المعيشة والخلافات حول الإنفاق والمسؤوليات
            المالية إلى حدوث نزاعات بين الزوجين.
          </li>
        </ul>
        <li><b>الخيانة الزوجية</b></li>
        <ul>
          <li>
            تُعتبر الخيانة من أهم أسباب انهيار العلاقات الزوجية، إذ تؤدي إلى
            فقدان الثقة بين الزوجين، ويزداد الأمر مع انتشار وسائل التواصل
            الاجتماعي التي قد تسهم في زيادة حالات الخيانة.
          </li>
        </ul>
        <li><b>ضعف التواصل بين الزوجين</b></li>
        <ul>
          <li>
            عدم القدرة على التواصل بفعالية وتجنب حل الخلافات بطريقة بناءة قد
            يؤدي إلى تراكم المشكلات، ما يؤثر على استقرار العلاقة الزوجية.
          </li>
        </ul>
        <li><b>التباين الثقافي والاجتماعي</b></li>
        <ul>
          <li>
            مع تنوع السكان في الإمارات، قد يؤدي اختلاف الثقافات والخلفيات إلى
            تصادم القيم والتوقعات، خاصة بين الأزواج من جنسيات مختلفة.
          </li>
        </ul>
        <li><b>التدخلات العائلية</b></li>
        <ul>
          <li>
            يمكن أن يؤدي تدخل العائلة في شؤون الزوجين إلى تصاعد الخلافات،
            خصوصاً عندما تفرض العائلة آرائها ورؤيتها على الزوجين، مما يزيد من
            صعوبة الحفاظ على استقرار العلاقة.
          </li>
        </ul>
        <li><b>الزواج المبكر أو دون التوافق الكافي</b></li>
        <ul>
          <li>
            الزواج المبكر أو الزواج دون معرفة كافية بين الزوجين قد يؤدي إلى
            عدم التوافق، وبالتالي يؤدى إلى تزايد الخلافات مع مرور الوقت.
          </li>
        </ul>
        <li><b>العنف المنزلي وسوء المعاملة</b></li>
        <ul>
          <li>
            يُعد العنف المنزلي من الأسباب الشائعة للطلاق، إذ يؤدي عدم الشعور
            بالأمان في العلاقة إلى دفع أحد الطرفين، غالبًا المرأة، لطلب
            الطلاق.
          </li>
        </ul>
        <li><b>الإدمان</b></li>
        <ul>
          <li>
            يشمل ذلك الإدمان على المخدرات، الكحول، أو حتى إدمان التكنولوجيا،
            حيث يمكن أن يؤدي هذا السلوك إلى إهمال الشريك لمسؤولياته، مما يؤثر
            سلباً على الحياة الزوجية.
          </li>
        </ul>
      </ol>
      <p>
        <b
          >يعتبر مكتب محاماة الاء الجسمى هو من احد اهم وافضل مكاتب المحاماه
          والاستشارات القانونية فى دولة الامارات ولديه سمعة طيبة مع خبرة طويلة
          فى شتى المجالات . كما يمتلك المكتب فريق متميز من القانونين المحترفين
          فى شتى المجالات القانونية لتوفير افضل مستوى من الخدمات والاستشارات
          القانونية .</b
        >
      </p>
      <img src="../../img/content/divorce5.webp" alt="الخلع فى الامارات">
      <h2 id="9">مبادرات الإمارات للحد من الطلاق</h2>
      <p>
        تلتزم الإمارات بتقديم خدمات استشارية وبرامج لتقوية الروابط الزوجية
        ودعم الاستقرار الأسري، ومنها:
      </p>
      <ul>
        <li>
          <b>مراكز الاستشارات الأسرية: </b>التي تقدم الدعم والمشورة للأسر بهدف
          حل الخلافات.
        </li>
        <li>
          <b>ورش عمل التوعية الأسرية: </b>التي تهدف إلى تعزيز مهارات التواصل
          بين الأزواج.
        </li>
        <li>
          <b>جلسات المصالحة الأسرية: </b>التي تُجرى قبل إتمام الطلاق لتشجيع
          الإصلاح بين الزوجين.
        </li>
      </ul>
      <h3>الاسئلة الشائعة</h3>
      <p><b> 1. كم تستغرق عملية الطلاق في الإمارات؟</b></p>
      <p>
        • تعتمد المدة على نوع الطلاق وتعقيدات القضية، فقد تستغرق من عدة أشهر
        إلى سنة أو أكثر في حال النزاعات.
      </p>
      <p><b>2. هل يمكن تسريع إجراءات الطلاق في حالات الضرورة؟</b></p>
      <p>
        • نعم، في حالات الضرورة القصوى، مثل العنف أو التهديد، يمكن للمحكمة
        تسريع الإجراءات حفاظاً على سلامة أحد الطرفين.
      </p>
      <p>
        <b>3. هل يمكن للزوجة طلب الطلاق في حال قيام الزوج بالزواج بأخرى؟</b>
      </p>
      <p>
        • يحق للزوجة طلب الطلاق في حال تضررت من زواج الزوج بأخرى، ويعود القرار
        النهائي إلى تقدير المحكمة.
      </p>
      <p><b>4. هل يمكن الطلاق دون حضور الزوج شخصيًا؟</b></p>
      <p>
        • في بعض الحالات، يمكن إتمام الطلاق دون حضور الزوج، خاصة إذا كان
        غائبًا أو غير معروف مكان إقامته، بعد اتخاذ الإجراءات اللازمة.
      </p>
      <p>
        <b
          >5. هل يُسمح للزوجة بالاحتفاظ بمجوهراتها أو ممتلكاتها الشخصية بعد
          الطلاق؟</b
        >
      </p>
      <p>
        • نعم، الممتلكات الشخصية والمجوهرات الخاصة بالزوجة تبقى لها ولا تدخل
        ضمن التسوية المالية.
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره قانونيه فورية</a>
    </div>
      <h3>للتواصل</h3>
      <p>
        يمكنكم التواصل مع مكتب محاماة آلاء إبراهيم الجسمي للحصول على الدعم
        القانوني الشامل والمساعدة المتخصصة في قضايا الطلاق، لضمان حقوقك وتسهيل
        الإجراءات القانونية
      </p>
      <p>
        <b>واتساب:</b
        ><a
          href="https://api.whatsapp.com/send/?phone=%2B971547372444&text&type=phone_number&app_absent=0"
          >+971 54 737 2444‎‏</a
        >
      </p>
      <p><b>بريد الكتروني : </b> info@lawyer-alaa-aljasmi.com</p>
      <p>
        <b>اتصال:</b><a href="tel:+971547372444"> +971581284555</a>-
        <a href="tel:+971547372444"> +971581401545</a>-
        <a href="tel:+971547372444"> +971547372444</a>
      </p>
      @@include('../components/author-componnent.html')
    </div>
  </section>

  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.lawyer-alaa-aljasmi.com/pages/الطلاق فى الامارات.html"
      },
      "headline": "الطلاق فى الامارات",
      "description": "استكشف مع مكتب الاء الجسمي للمحاماة الجوانب القانونية ل الطلاق في الإمارات، بما في ذلك الإجراءات، حقوق الزوجين، دور المحاكم، والقوانين التي تنظم إنهاء الزواج",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/Divorce4.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/Divorce6.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-12-16T08:00:00Z",
      "dateModified": "2024-12-17T16:00:00Z"
    }
    </script>
    
</body>
</html>

