<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
    "title": "كل ما تريد معرفته عن طلاق الضرر في الامارات "
  })
</head>
<body>
  <!-- Index Class -->
  @@include('../components/header.html')
  </header>
  <section class="hero-about-section">
    <div class="container">
      <h1>طلاق الضرر</h1>
    </div>
  </section>
  
  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
      <div class="contenttable border my-3 p-3">
        <h6>جدول المحتوى</h6>
        <a class="d-block py-1" href="#1">ماهو طلاق الضرر؟</a>
        <a class="d-block py-1" href="#2"
          >العقوبات المترتبة على قضايا الجرائم المالية</a
        >
        <a class="d-block py-1" href="#3">مميزات الطلاق للضرر في الإمارات</a>
        <a class="d-block py-1" href="#4">مميزات طلاق الضرر ل الزوج</a>
        <a class="d-block py-1" href="#5">مميزات طلاق الضرر ل الزوجة</a>
        <a class="d-block py-1" href="#6">ما اسباب طلاق الضرر في الامارات ؟</a>
        <a class="d-block py-1" href="#7"
          >المادة (124): الزوج الحاضر الممتنع عن الإنفاق</a
        >
        <a class="d-block py-1" href="#8">المادة (125): الزوج الغائب</a>
        <a class="d-block py-1" href="#9">المادة (131): الزوج المحبوس</a>
        <a class="d-block py-1" href="#10">المادة (132): الإيلاء</a>
        <a class="d-block py-1" href="#11">المادة (133): الظهار</a>
        <a class="d-block py-1" href="#12">التعنيف الجسدي</a>
        <a class="d-block py-1" href="#13">الضرر النفسي</a>
        <a class="d-block py-1" href="#14">الإدمان على المخدرات أو الكحول</a>
        <a class="d-block py-1" href="#15">إثبات الضرر في طلاق الضرر</a>
        <a class="d-block py-1" href="#16">شروط شهود الطلاق للضرر</a>
        <a class="d-block py-1" href="#17"
          >الاجراءات المتابعة ل تقديم دعوي طلاق ضرر في الامارات
        </a>
        <a class="d-block py-1" href="#18">التوجه إلى قسم التوجيه الأسري</a>
        <a class="d-block py-1" href="#19">تقديم طلب الطلاق للمحكمة</a>
        <a class="d-block py-1" href="#20">تقديم المستندات المطلوبة</a>
        <a class="d-block py-1" href="#21">تحديد نوع الدعوى</a>
        <a class="d-block py-1" href="#22">دفع الرسوم القضائية</a>
        <a class="d-block py-1" href="#23">تقديم الدعوى إلى المحكمة</a>
        <a class="d-block py-1" href="#24"
          >دور التوجية الاسري في دعوي طلاق الضرر
        </a>
        <a class="d-block py-1" href="#25"
          >ماذا اذا فشلت لجنة التوجية الاسري في الاصلاح بين الطرفين ؟</a
        >
        <a class="d-block py-1" href="#26">اسباب رفض دعوي الطلاق للضرر </a>
        <a class="d-block py-1" href="#27"
          >كيفية تجنب رفض الدعوى الطلاق للضرر ؟</a
        >
        <a class="d-block py-1" href="#28"
          >كيف يساعدك مكتب الاء ابراهيم الجسمي في قبول دعوي الطلاق للضرر</a
        >
        <a class="d-block py-1" href="#29"
          >لماذا تختار مكتب آلاء إبراهيم الجسمي؟</a
        >
        <a class="d-block py-1" href="#30">الاسئلة الشائعة </a>
      </div>
      <p>
        في إطار تعزيز العدالة الأسرية وحماية حقوق الأفراد، جاء القانون الاتحادي
        رقم 28 لسنة 2005 بشأن الأحوال الشخصية في الإمارات ليشمل حق طلب طلاق الضرر.
        دخل القانون حيز التنفيذ في 1 ديسمبر 2005، ليمنح الزوج أو الزوجة حق إنهاء
        العلاقة الزوجية في حال تعرض أحدهما لضرر جسيم لا يُطاق معه استمرار الحياة
        الزوجية ؛ تم سن هذا القانون استجابةً للحاجة إلى حماية كرامة الإنسان وضمان
        تحقيق العدالة بين الطرفين .وفي هذه المقالة سوف يوضح مكتب الاء ابراهيم
        الجسمي <mark>فضل محامي طلاق في الامارات</mark> كل م يخص طلاق الضرر في
        الامارات و الفرق بينها وبين الخلع
      </p>
      <h2 id="1" class="mt-3">ماهو طلاق الضرر؟</h2>
      <p>
        طبقا ل المادة 117 من قانون الاحوال الشخصية هو نوع من
        <mark>الطلاق</mark> يُمنح فيه أحد الزوجين الحق في إنهاء العلاقة الزوجية
        نتيجة لتعرضه لضرر جسيم يجعل استمرار الحياة الزوجية غير ممكن أو غير محتمل.
        يُعد هذا الضرر سببًا مشروعًا يتيح للزوج أو الزوجة طلب الطلاق أمام القضاء،
        بشرط إثبات وقوع الضرر.
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونيه فورية</a
        >
      </div>
      <img src="../../img/content/Divorce9.webp" alt="طلاق الضرر">

      <h2 id="2" class="mt-3">الفرق بين طلاق الضرر و الخلع</h2>
      <div class="table-responsive responsive-table">
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>المعيار</th>
                    <th>طلاق الضرر</th>
                    <th>الخلع</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>سبب الطلاق</td>
                    <td>ضرر جسيم يتطلب إثباته من الطرف المتضرر</td>
                    <td>عدم رغبة الزوجة في الاستمرار في الحياة الزوجية</td>
                </tr>
                <tr>
                    <td>المبادرة</td>
                    <td>يمكن أن يطلبه أي من الزوجين</td>
                    <td>يقتصر على الزوجة فقط</td>
                </tr>
                <tr>
                    <td>إثبات الضرر</td>
                    <td>يتطلب إثبات الضرر أمام المحكمة (سبب شرعي مقنع - إباحة طلب الطلاق) ويشمل تقديم شهود على الضرر</td>
                    <td>لا يحتاج لإثبات الضرر ويمكن رفض الدعوى الاستمرار</td>
                </tr>
                <tr>
                    <td>الرجعة</td>
                    <td>يمكن الرجوع خلال فترة العدة إذا لم يكن الطلاق بائنًا</td>
                    <td>لا يمكن الرجوع بعد الطلاق إلا بعقد زواج جديد</td>
                </tr>
                <tr>
                    <td>الحقوق المالية</td>
                    <td>تحفظ حقوق الطرف المتضرر مثل النفقة والمهر</td>
                    <td>الزوجة تتنازل عن حقوقها المالية (مثل المهر والنفقة)</td>
                </tr>
                <tr>
                    <td>إجراءات الطلاق</td>
                    <td>قد تستغرق وقتًا أطول لإثبات الضرر أمام المحكمة مع الاستعانة بالشهود والدلائل</td>
                    <td>إجراءات أسرع ولا تحتاج لإثبات الضرر</td>
                </tr>
                <tr>
                    <td>إمكانية الطعن</td>
                    <td>يمكن الطعن في حكم طلاق الضرر إذا كان هناك خطأ في تطبيق القانون أو عملية الإثبات</td>
                    <td>لا يمكن الطعن في الطلاق بعد وقوعه لأنه يتم برغبة الزوجة</td>
                </tr>
                <tr>
                    <td>الشهود</td>
                    <td>قد تكون الشهادة ضرورية لإثبات الضرر أمام المحكمة</td>
                    <td>لا يتطلب شهادة إذا كان الطلاق يتم برضا الطرفين</td>
                </tr>
                <tr>
                    <td>النتيجة النهائية</td>
                    <td>يمكن الطلاق مع تحديد النفقة أو المتعة</td>
                    <td>يعتبر الطلاق بائنًا، ولا توجد رجعة إلا بعقد زواج جديد</td>
                </tr>
            </tbody>
        </table>
    </div>

      <h2 id="3" class="mt-3">مميزات الطلاق للضرر في الإمارات</h2>
      <p>
        <strong>قانون الطلاق للضرر </strong>في الإمارات يمنح الحقوق للطرف المتضرر،
        سواء كان الزوج أو الزوجة، ويهدف إلى تحقيق العدالة وإنهاء العلاقات الزوجية
        التي تسبب الأذى.
      </p>
      <h3 id="4" class="mt-3">مميزات طلاق الضرر ل الزوج</h3>
      <ul>
        <li>عدم دفع نفقة العدة</li>
        <li>عدم دفع نفقة المتعة</li>
        <li>يحق للزوج في المطالبة بالعوض المالي ( المهر) من الزوجة</li>
        <li>عدم دفع مؤخر الصداق</li>
        <p>
          يفضل الطلاق للشقاق في حالة الضرر علي الطلاق من طرف واحد الذي يجبر فيه
          الزوج علي دفع النفقات للزوجة بعد الانفصال
        </p>
      </ul>
      <h3 id="5" class="mt-3">مميزات طلاق الضرر ل الزوجة</h3>
      <p>الحصول علي النفقات الزوجة كاملة مثل</p>
      <ul>
        <li>نفقة العدة</li>
        <li>نفقة المتعة</li>
        <li>مؤخر الصداق.....الخ</li>
      </ul>
      <p>
        يفضل رفع دعوي طلاق للضرر في حالة الشقاق علي عكس <b> الخلع </b>التي تفقد
        فيه الزوجة حقوقها كاملة
      </p>
      <p>
        يمكنكم الاطلاع علي مقالة <mark>حقوق الزوجة بعد الطلاق</mark> لمعرفة المزيد
        من التفاصيل
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونيه فورية</a
        >
      </div>
      <h3 id="6" class="mt-3">ما اسباب طلاق الضرر في الامارات ؟</h3>
      <p>
        هناك عديد من الاسباب التي ذكرها قانون الاحوال الشخصية التي يكون بسببها
        طلاق الضرر جائز ومنها:
      </p>
      <h3 id="7" class="mt-3">المادة (124): الزوج الحاضر الممتنع عن الإنفاق</h3>
      <p>
        1. إذا امتنع الزوج عن الإنفاق وليس له مال ظاهر، يمكن للزوجة طلب التفريق.
      </p>
      <p>
        2. إذا ادعى الإعسار ولم يثبت، أو أصر على عدم الإنفاق، يُطلق عليه القاضي.
      </p>
      <h3 id="8" class="mt-3">المادة (125): الزوج الغائب</h3>
      <p>
        1. إذا كان الزوج غائبًا وله مال، يُنفذ الحكم بالنفقة. إذا لم ينفق، يُطلق
        عليه القاضي.
      </p>
      <p>
        2. إذا كان مكانه مجهولًا ولا يمكن تحصيل النفقة منه، يُطلق عليه القاضي.
      </p>
      <h3 id="9" class="mt-3">المادة (131): الزوج المحبوس</h3>
      <p>
        1. إذا حُكم على الزوج بالسجن ثلاث سنوات أو أكثر، يمكن للزوجة طلب التفريق
        بعد مرور سنة.
      </p>
      <p>
        2. إذا خرجت الزوجة من السجن وبقي الزوج محبوسًا، يمكنها طلب التفريق بنفس
        الشروط.
      </p>
      <h3 id="10" class="mt-3">المادة (132): الإيلاء</h3>
      <p>
        • إذا حلف الزوج على الامتناع عن معاشرة زوجته أكثر من أربعة أشهر ولم يرجع
        عن ذلك، يُحكم بالطلاق بائنًا.
      </p>
      <h3 id="11" class="mt-3">المادة (133): الظهار</h3>
      <p>
        • يحق للزوجة طلب الطلاق بسبب الظهار إذا لم يكفر الزوج عن يمينه خلال أربعة
        أشهر.
      </p>
      <h3 id="12" class="mt-3">التعنيف الجسدي</h3>
      <p>
        • الضرب أو الاعتداء الجسدي من الأسباب المشروعة التي يمكن للزوجة أن تطلب
        الطلاق بناءً عليها. إذا كان الزوج يضرب الزوجة أو يسيء إليها جسديًا،
      </p>
      <h3 id="13" class="mt-3">الضرر النفسي</h3>
      <p>
        <b>• الإهانة المتكررة: </b>يمكن للطرف المتضرر من المعاملة السيئة أو
        الإهانة المستمرة أن يطلب الطلاق إذا كانت هذه المعاملة تؤثر على حالته
        النفسية أو تسبب له ضررًا نفسيًا.
      </p>
      <p>
        <b>• التهديدات: </b>سواء كانت تهديدات بالعنف أو تهديدات معنوية، يمكن أن
        تكون سببًا للطلاق إذا كانت تؤدي إلى حالة من الخوف الدائم أو الضغط النفسي.
      </p>
      <h3 id="14" class="mt-3">الإدمان على المخدرات أو الكحول</h3>
      <p>
        • إذا كان أحد الزوجين مدمنًا على المخدرات أو الكحول مما يؤثر على الحياة
        الزوجية أو يتسبب في ضرر للطرف الآخر
      </p>
      <p>
        <b>للحصول علي المزيد من الحالات التي تستدعي طلاق الضرر يمكنكم التواصل مكتب
          <a href="https://www.lawyer-alaa-aljasmi.com/">الاء ابراهيم الجسمي للمحاماة</a>
          للحصول علي استشارة مجانية
        </b>
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونيه فورية</a
        >
      </div>
      <img src="../../img/content/Divorce8.webp" alt="طلاق الضرر">
      <h2 id="15" class="mt-3">إثبات الضرر في طلاق الضرر</h2>
      <p>
        إثبات الضرر في طلاق الضرر يُعد خطوة أساسية لكي يحصل الطرف المتضرر على
        الطلاق. وفقًا للقانون الإماراتي ، يجب على الزوج أو الزوجة الذي يطلب الطلاق
        بناءً على الضرر تقديم أدلة وإثباتات تدعم الدعوى أمام المحكمة وهي كالاتي :
      </p>
      <ol>
        <li><b> شهادة الشهود: </b></li>
        <ul>
          <li>يمكن للطرف المتضرر تقديم شهادات من أشخاص شهدوا على وقوع الضرر</li>
          <li>لايؤخد بشهادة الاصول ولا الفروع (مثل الابناء و الاب و الام )</li>
        </ul>
        <li><b> التقارير الطبية:</b></li>
        <p>
          • في حالات العنف الجسدي أو الإصابة بمرض معدٍ أو عقلي، يمكن للطرف المتضرر
          تقديم
        </p>
        <li><b> تقارير الشرطة</b></li>
        <p>
          • إذا تعرض أحد الزوجين للعنف أو التهديدات، يمكن تقديم محضر الشرطة كدليل
          على وقوع الضرر.
        </p>
        <p>
          • في حالة تعرض الزوجة للضرب أو التهديدات، فإن محضر الشرطة يعد وثيقة
          قانونية قوية لإثبات وقوع الضرر.
        </p>
        <li><b> الفواتير أو الوثائق المالية</b></li>
        <p>
          • التقارير المالية: في حالة عدم دفع النفقة أو التقصير المالي من أحد
          الزوجين، يمكن تقديم فواتير أو وثائق تثبت تقاعس الزوج عن توفير احتياجات
          الأسرة.
        </p>
        <li><b> التسجيلات الصوتية أو الفيديو</b></li>
      </ol>
      <p>
        • في بعض الحالات، قد يكون للطرف المتضرر الحق في استخدام التسجيلات الصوتية
        أو الفيديو كأدلة لإثبات الضرر، مثل تسجيلات لمشاجرات أو تهديدات.
      </p>
      <p>
        للتواصل مع مكتب الاء ابراهيم الجسمي للحصول علي استشارة قانونية مجانية اضغط
        هنا
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونيه فورية</a
        >
      </div>
      <h3 id="16" class="mt-3">شروط شهود الطلاق للضرر</h3>
      وفقًا للقانون الإماراتي، يشترط في الشهود في دعوى طلاق الضرر ان تتوافر فيهم
      الشروط التالية:
      <ol>
        <li><b> الأهلية القانونية للشهادة:</b></li>
        <p>o يجب أن يكون الشاهد بالغًا راشدًا وعاقلًا.</p>
        <p>o لا يُقبل شهادة القاصر أو الشخص الذي يعاني من عجز عقلي.</p>
        <li><b> العدالة والاستقامة:</b></li>
        <p>
          o يجب أن يكون الشاهد معروفًا بالصدق والأمانة وعدم ارتكاب جرائم مخلة
          بالشرف أو الأمانة.
        </p>
        <li><b> المعرفة المباشرة بالضرر:</b></li>
        <p>
          o يجب أن يكون الشاهد قد شهد الضرر بنفسه أو لديه معرفة مباشرة بالحادثة أو
          الوقائع محل الدعوى.
        </p>
        <p>o لا تُقبل الشهادات المبنية على السماع أو الإشاعات.</p>
        <li><b>الحيادية:</b></li>
        <p>
          o يجب أن يكون الشاهد غير متحيز لأي من الطرفين، أو له مصلحة مباشرة في
          القضية.
        </p>
        <li>التوافق مع موضوع الدعوى:</li>
        <p>
          o يجب أن تكون شهادة الشاهد متعلقة بموضوع الضرر محل النزاع، وتدعم الوقائع
          المدعاة من الطرف المتضرر.
        </p>
      </ol>
      <h2 id="17" class="mt-3">
        الاجراءات المتابعة ل تقديم دعوي طلاق ضرر في الامارات
      </h2>
      <p>
        لرفع دعوى طلاق للضرر في الإمارات، يجب اتباع الإجراءات التالية لضمان تقديم
        الدعوى بشكل صحيح ووفقاً للقوانين المعمول بها:
      </p>
      <h3 id="18" class="mt-3">التوجه إلى قسم التوجيه الأسري</h3>
      <ul>
        <li>
          يجب على الزوج أو الزوجة المتضررة أن تبدأ القضية من خلال التوجه إلى قسم
          التوجيه الأسري التابع لدائرة القضاء أو المحكمة الشرعية.
        </li>
  
        <li>
          الهدف من هذه الخطوة هو محاولة التوفيق بين الزوجين وإيجاد حلول بديلة قبل
          رفع القضية إلى المحكمة.
        </li>
        <li>في حال فشل التوفيق، يتم إصدار شهادة عدم إمكانية الصلح.</li>
      </ul>
      <h3 id="19" class="mt-3">تقديم طلب الطلاق للمحكمة</h3>
      <ul>
        <li>
          بعد الحصول على شهادة عدم إمكانية الصلح من قسم التوجيه الأسري، يتوجه
          الطرف المتضرر إلى المحكمة الشرعية لتقديم طلب رسمي.
        </li>
        <li>
          يتم ملء
          <a
            href="https://www.adjd.gov.ae/AR/Documents/Civil_Marriage/%D8%B7%D9%84%D8%A7%D9%82%20%D9%84%D9%84%D8%B6%D8%B1%D8%B1%20%D9%88%20%D8%A7%D9%84%D8%B4%D9%82%D8%A7%D9%82.pdf"
            rel="nofollow"
            targer="_blank"
          >
            نموذج عريضة طلاق للضرر</a
          >، والذي يتضمن تفاصيل القضية وأسباب طلب الطلاق.
        </li>
      </ul>
      <h3 id="20" class="mt-3">تقديم المستندات المطلوبة</h3>
      <ul>
        <li>شهادة الزواج (أصلية أو مصدقة)</li>
        <li>بطاقة الهوية الإماراتية أو نسخة عن جواز السفر.</li>
        <li>شهادة عدم إمكانية الصلح من قسم التوجيه الأسري.</li>
        <li>
          أدلة إثبات الضرر (مثل تقارير طبية، شهادات شهود، محاضر شرطة، مراسلات،
          تسجيلات، إلخ)
        </li>
        <li>أي وثائق تدعم طلب الطلاق وتثبت وقوع الضرر.</li>
      </ul>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونيه فورية</a
        >
      </div>
      <h3 id="21" class="mt-3">تحديد نوع الدعوى</h3>
      <p>في الطلب، يتم توضيح نوع الدعوى إذا كانت تتعلق بـ:</p>
      <ul>
        <li>عنف جسدي.</li>
        <li>إهانة نفسية.</li>
        <li>هجر أو غياب.</li>
        <li>إهمال مالي.</li>
        <li>خيانة زوجية أو أي شكل آخر من الضرر.</li>
      </ul>
      <h3 id="22" class="mt-3">دفع الرسوم القضائية</h3>
      <li>
        يتم سداد الرسوم المطلوبة لرفع الدعوى. تختلف الرسوم حسب الإمارة ونوع
        القضية.
      </li>
      <li>
        قد تُعفى بعض الحالات من الرسوم إذا أثبت الطرف المتضرر عدم القدرة على
        الدفع.
      </li>
      <h3 id="23" class="mt-3">تقديم الدعوى إلى المحكمة</h3>
      <li>
        يتم تسجيل الدعوى في المحكمة الشرعية، وتُحدد جلسة استماع أولية للنظر في
        القضية.
      </li>
      <li>المحكمة تقوم بإبلاغ الطرف الآخر (المدعى عليه) رسميًا بالدعوى.</li>
      <h3 id="24" class="mt-3">دور التوجية الاسري في دعوي طلاق الضرر</h3>
      <p>
        وفقا ل المادة (119) هي هيئة تابعة للمحاكم الشرعية في دولة الإمارات العربية
        المتحدة، تهدف إلى تسوية النزاعات الأسرية بين الزوجين ودّيًا قبل تصعيدها
        إلى المحكمة وتتكون من حكمين ودورها :
      </p>
      <ul>
        <li>
          <b> محاولة الإصلاح بين الزوجين: </b>إجراء جلسات صلح وتقديم النصائح
          لإصلاح العلاقة.
        </li>
        <li>
          <b> تقييم الضرر: </b>مناقشة الطرفين وجمع الأدلة لتحديد طبيعة الضرر.
        </li>
        <li>
          <b> إصدار شهادة عدم إمكانية الصلح:</b>تُمنح عند فشل المحاولات الإصلاحية،
          مما يسمح بالتصعيد إلى المحكمة.
        </li>
        <li><b> توثيق الجلسات:</b>توثيق المناقشات والقرارات لضمان الشفافية.</li>
        <li>
          <b> التعامل مع قضايا الأطفال: </b>ترتيب أمور الحضانة والنفقة حال وجود
          أبناء
        </li>
        <li>
          <b> تحديد الطرف المتضرر او المشاكس : </b>في حالة ان الزوجين رفعا دعوي
          طلاق ضرر
        </li>
      </ul>
      <h2 id="25" class="mt-3">
        ماذا اذا فشلت لجنة التوجية الاسري في الاصلاح بين الطرفين ؟
      </h2>
      <p>
        طبقا ل المادة (120) ف يتبع الحكمين تلك الاجراءات في حالة عدم الاصلاح بين
        الزوجين وهي :
      </p>
      <ol>
        <li>
          إذا فشل الإصلاح، تُعرض توصية الحكمين على الزوجين للصلح قبل إصدار الحكم.
        </li>
        <li>
          إذا كانت الإساءة من الزوج فقط، أوصى الحكمين بالتفريق بطلقة بائنة وتعويض
          مناسب تدفعه الزوجة.
        </li>
        <li>
          إذا كانت الإساءة من الزوجة فقط، توصى بالتفريق مقابل بدل تدفعه الزوجة.
        </li>
        <li>إذا كانت الإساءة مشتركة، يُحدد البدل حسب نسبة الإساءة.</li>
        <li>إذا لم يُعرف المسيء، يقترح الحكمين رفض الدعوى أو التفريق دون بدل.</li>
        <p>
          <b>في بعض الحالات يمكن الاستعانة بحكم ثالث لتحديد الطرف المتضرر </b>
        </p>
      </ol>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونيه فورية</a
        >
      </div>
      <h2 id="26" class="mt-3">اسباب رفض دعوي الطلاق للضرر</h2>
      <p>
        رغم أن دعوى الطلاق للضرر تُعتبر وسيلة قانونية لحماية حقوق الزوج أو الزوجة،
        إلا أن المحكمة قد ترفض الدعوى في بعض الحالات إذا لم تتوافر الشروط
        القانونية الكافية. فيما يلي أبرز الأسباب التي قد تؤدي إلى رفض الدعوى:
      </p>
      <ol>
        <li><b> عدم تقديم أدلة كافية</b></li>
        <ul>
          <li>
            يتعين على الطرف المدعي إثبات وقوع الضرر بمستندات أو شهود موثوقين. إذا
            لم تكن الأدلة المقدمة كافية أو موثوقة، قد ترفض المحكمة الدعوى.
          </li>
        </ul>
        <p>
          <b>مثال:</b>ادعاء الإهمال أو العنف دون وجود تقارير طبية، صور، أو شهادة
          شهود.
        </p>
        <li><b>عدم توافق الضرر مع الشروط القانونية</b></li>
        <ul>
          <li>
            إذا كان الضرر المُدعى به لا يتماشى مع التعريف القانوني للضرر الوارد في
            الشريعة الإسلامية أو قانون الأحوال الشخصية الإماراتي.
          </li>
          <li>الضرر البسيط أو غير المتكرر قد لا يكون كافيًا لقبول الدعوى.</li>
        </ul>
        <li><b> عدم حضور الطرف المتضرر إلى الجلسات</b></li>
        <ul>
          <li>
            في حال تغيب الطرف المتضرر عن حضور جلسات المحكمة أو جلسات التوجيه
            الأسري، قد ترفض المحكمة الدعوى بناءً على غياب التعاون وعدم الجدية في
            متابعة القضية.
          </li>
        </ul>
        <li><b>عدم حضور الشهود</b></li>
        <ul>
          <li>
            في حالة تقديم الطرف المدعي لشهادات شهود كدليل على وقوع الضرر، فإن عدم
            حضور الشهود للمثول أمام المحكمة قد يؤدي إلى ضعف الدعوى ورفضها.
          </li>
          <li>حضور الشهود وتقديم شهاداتهم أمر أساسي لدعم الادعاء بالضرر.</li>
        </ul>
        <li><b>عدم توضيح وذكر الضرر بوضوح</b></li>
        <ul>
          <li>
            قد ترفض المحكمة الدعوى إذا لم يتم توضيح طبيعة الضرر بشكل دقيق ومفصل،
            مثل تقديم تفاصيل عن الإساءة أو الإهمال أو غيرها من الأسباب التي أدت
            إلى رفع الدعوى.
          </li>
          <li>
            عدم توضيح الضرر يؤدي إلى صعوبة في تحديد ما إذا كان هناك أساس قانوني
            لرفع الدعوى.
          </li>
        </ul>
        <li><b>الصلح بين الطرفين</b></li>
        <ul>
          <li>
            إذا أبدى الطرفان رغبة في الصلح أثناء جلسات التوجيه الأسري أو في
            المحكمة، قد يتم رفض الدعوى.
          </li>
          <li>المحكمة تشجع الصلح كأولوية للحفاظ على الأسرة.</li>
        </ul>
        <li><b> تقادم الواقعة</b></li>
        <ul>
          <li>
            إذا مر وقت طويل على وقوع الضرر ولم يقم الطرف المتضرر برفع الدعوى خلال
            فترة زمنية معقولة، قد تعتبر المحكمة الدعوى غير مبررة.
          </li>
          <p>
            مثال: الدعوى المرفوعة بعد سنوات من وقوع الضرر دون تقديم سبب للتأخير.
          </p>
        </ul>
        <li><b> عدم صحة الادعاءات</b></li>
        <ul>
          <li>
            إذا تبين أن الادعاءات كاذبة أو ملفقة بهدف الإضرار بالطرف الآخر أو
            تحقيق مكاسب مادية، يتم رفض الدعوى.
          </li>
        </ul>
        <li><b> تقاعس الطرف المتضرر عن تحمل المسؤولية</b></li>
        <ul>
          <li>
            في بعض الحالات، قد ترفض المحكمة الدعوى إذا رأت أن الطرف المدعي لم يبذل
            جهودًا كافية لإنجاح العلاقة الزوجية قبل اللجوء إلى القضاء.
          </li>
        </ul>
      </ol>
      <h3 id="27" class="mt-3">كيفية تجنب رفض الدعوى الطلاق للضرر ؟</h3>
      <ul>
        <li>
          <b> جمع الأدلة اللازمة: </b>تقديم تقارير طبية، صور، مراسلات، أو شهود
          تثبت وقوع الضرر.
        </li>
        <li>
          <b> الحضور المنتظم: </b>التأكد من حضور الجلسات والمشاركة الفاعلة في
          جلسات التوجيه الأسري.
        </li>
        <li><b>التوقيت المناسب: </b>رفع الدعوى فور وقوع الضرر.</li>
        <li>
          <b> الاستشارة القانونية: </b>اللجوء إلى مكتب الاء ابراهيم الجسمي
          للمحاماة لتقديم المشورة وضمان استيفاء الإجراءات القانونية
        </li>
      </ul>
      <h2 id="28" class="mt-3">
        كيف يساعدك مكتب الاء ابراهيم الجسمي في قبول دعوي الطلاق للضرر
      </h2>
      <p>
        مكتب آلاء إبراهيم الجسمي للمحاماة والاستشارات القانونية يعتبر واحدًا من
        أفضل المكاتب القانونية في الإمارات، حيث يتمتع بخبرة واسعة في قضايا الأحوال
        الشخصية، بما في ذلك دعاوى الطلاق للضرر. المكتب يقدم مجموعة متكاملة من
        الخدمات القانونية التي تساهم في تعزيز فرص قبول الدعوى وحصول العميل على
        حقوقه.
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشارة قانونية فورية</a
        >
      </div>
      <h3>تقديم استشارة قانونية دقيقة</h3>
      <ul>
        <li>
          يساعد المكتب في فهم تفاصيل القضية وتحليل الوضع القانوني للعميل لتحديد
          الأساس القانوني المناسب لرفع الدعوى.
        </li>
        <li>
          يتم توجيه العميل لتوضيح الضرر الواقع عليه بما يتماشى مع قانون الأحوال
          الشخصية الإماراتي.
        </li>
      </ul>
      <h3>تجهيز الأدلة اللازمة</h3>
      <p>يعمل المكتب على جمع الأدلة التي تدعم دعوى الطلاق، مثل:</p>
      <ul>
        <li>تقارير طبية في حالات العنف أو الإيذاء الجسدي.</li>
        <li>شهادات شهود لتأكيد وقائع الضرر.</li>
        <li>وثائق رسمية تثبت الإهمال أو الخيانة الزوجية.</li>
        <p>يضمن المكتب تقديم الأدلة بشكل قانوني وصحيح للمحكمة.</p>
      </ul>
      <h3>إعداد مذكرة قانونية قوية</h3>
      <ul>
        <li>
          يقوم مكتب الاء الجسمي بصياغة مذكرة طلاق للضرر او<a
            href="https://www.adjd.gov.ae/AR/Documents/Civil_Marriage/04_Divorce%20_%20Defendant%20Response.pdf"
            target="_blank"
            rel="noopener noreferrer nofollow"
          ></a>
          - طالق بال ضرر تتضمن تفاصيل الضرر الواقع وأسبابه، مع الإشارة إلى النصوص
          القانونية ذات الصلة لدعم الدعوى.
        </li>
        <li>
          يتم توضيح كيف أثر الضرر على الحياة الزوجية وجعل استمرارها مستحيلاً.
        </li>
      </ul>
      <h3>التمثيل القانوني أمام المحكمة</h3>
      <ul>
        <li>
          يقدم مكتب آلاء إبراهيم الجسمي تمثيلاً قانونياً متميزاً أمام المحكمة.
        </li>
        <li>يضمن المكتب حضور جميع الجلسات القانونية نيابةً عن العميل.</li>
      </ul>
      <h3>تسهيل حضور الشهود</h3>
      <p>
        ينسق المكتب مع الشهود لضمان حضورهم وتقديم شهاداتهم في المحكمة، بما يدعم
        دعوى الطلاق بشكل كبير.
      </p>
      <h3>التعامل مع جلسات التوجيه الأسري</h3>
      <p>
        يوفر المكتب دعمًا احترافيًا خلال جلسات التوجيه الأسري، حيث يقدم المحامون
        التوجيه اللازم للعميل للتعامل مع الجلسات بشكل صحيح ولضمان حقوقه.
      </p>
      <h3>تقليل فرص رفض الدعوى</h3>
      <p>
        بفضل خبرة المكتب الواسعة في قضايا الطلاق للضرر، يتم العمل على تلافي أي
        أخطاء قد تؤدي إلى رفض الدعوى، مثل:
      </p>
      <ul>
        <li>عدم وضوح الضرر</li>
        <li>تقديم أدلة ضعيفة.</li>
        <li>عدم الالتزام بالإجراءات القانونية أو الحضور.</li>
      </ul>
      <h3>الدفاع عن حقوق العميل</h3>
      <p>
        يضمن المكتب حصول العميل على حقوقه القانونية مثل النفقة، الحضانة،
        والتعويضات إن وجدت.
      </p>
      <h3 id="29" class="mt-3">لماذا تختار مكتب آلاء إبراهيم الجسمي؟</h3>
      <ul>
        <li>
          <b> خبرة واسعة: </b>في قضايا الأحوال الشخصية بما في ذلك الطلاق للضرر.
        </li>
        <li>
          <b> فريق متخصص: </b>من المحامين ذوي الخبرة في القانون الإماراتي والشريعة
          الإسلامية.
        </li>
        <li><b> نسبة نجاح عالية: </b>في تحقيق نتائج مرضية للعملاء.</li>
      </ul>
      <h3 id="30" class="mt-3">الاسئلة الشائعة</h3>
  
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              ماذا يحدث إذا رفع الزوج والزوجة دعوى طلاق للضرر دون تقديم دليل؟
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              يتم لطلاق بين الزوجين بدون بدل (بدون تعويض كما يحدث في الخلع أو
              الطلاق الاتفاقي)
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              هل في حالة اثبات الضرر علي الزوجة تسقط حضانة الاطفال عنها ؟
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              لا يتم اسقاط <mark>الحضانة</mark> الام الا في حالات معينة يقرها
              القانون
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              هل تسقط نفقة الاطفال عند اثبات الضرر علي الزوجة؟
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              لا .لان النفقة حق من حقوق الاطفال لا يمكن التنازل عنها
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFoure">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFoure"
              aria-expanded="false"
              aria-controls="flush-collapseFoure"
            >
              كم تستغرق قضية طلاق الضرر في الإمارات؟
            </button>
          </h2>
          <div
            id="flush-collapseFoure"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFoure"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              المدة تعتمد على طبيعة القضية، وتوفر الأدلة، وعدد الجلسات، لكنها
              تتراوح غالبًا بين عدة أشهر إلى سنة
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              هل يمكن للزوجة المطالبة بمسكن حضانة بعد طلاق الضرر؟
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              نعم، إذا كانت الزوجة حاضنة للأطفال، يحق لها طلب مسكن حضانة ضمن
              حقوقها القانونية.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix"
              aria-expanded="false"
              aria-controls="flush-collapseSix"
            >
              ماذا يحدث إذا رفض الزوج أو الزوجة حضور جلسات التوجيه الأسري؟
            </button>
          </h2>
          <div
            id="flush-collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              في حال رفض الحضور دون عذر مقبول، يتم تحويل القضية إلى المحكمة مباشرة
              مع الأخذ في الاعتبار عدم تعاون الطرف الغائب
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven"
              aria-expanded="false"
              aria-controls="flush-collapseSeven"
            >
              هل يمكن إثبات الضرر عبر الرسائل النصية أو الإلكترونية؟
            </button>
          </h2>
          <div
            id="flush-collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              نعم، يمكن استخدام الرسائل النصية والبريد الإلكتروني والمكالمات
              المسجلة كأدلة إذا أُثبتت صحتها.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEight"
              aria-expanded="false"
              aria-controls="flush-collapseEight"
            >
              هل يتم إشراك الأطفال في القضايا المتعلقة بطلاق الضرر؟
            </button>
          </h2>
          <div
            id="flush-collapseEight"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingEight"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              لا يتم إشراك الأطفال في القضية، لكن المحكمة تأخذ مصلحتهم بعين
              الاعتبار عند إصدار أحكام متعلقة بالحضانة أو النفقة.
            </div>
          </div>
        </div>
      </div>
      <p><b>المصادر</b></p>
      <p>
        <a
          href="http://uaelegislation.gov.ae/ar/legislations/1033"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >قانون الاحوال الشخصية
        </a>
      </p>
      <h3>للتواصل</h3>
      <p>
        <b>واتساب:</b
        ><a
          href="https://api.whatsapp.com/send/?phone=%2B971547372444&text&type=phone_number&app_absent=0"
          >+971 54 737 2444</a
        >
      </p>
      <p>
        <b>بريد الكتروني :</b
        ><a href="mailto:info@lawyer-alaa-aljasmi.com"
          >info@lawyer-alaa-aljasmi.com</a
        >
      </p>
      @@include('../components/author-componnent.html')
    </div>
  </section>

  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.lawyer-alaa-aljasmi.com/pages/الطلاق للضرر في الامارات.html"
      },
      "headline": "الطلاق للضرر في الامارات",
      "description": " طلاق الضرر في الإمارات: حماية حقوقك بفعالية مع أفضل فريق قانوني في مكتب آلاء إبراهيم الجسمي للمحاماة نضمن لك استشارات قانونية دقيقة ودفاع شامل لضمان العدالة ",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/Divorce8.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/Divorce9.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-12-22T09:00:00Z",
      "dateModified": "2024-12-23T17:00:00Z"
    }
    </script>
    
</body>
</html>
