<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
    "title": "الدليل الشامل لحضانة الاطفال فى الامارات"
  })
</head>
<body>
  @@include('../components/header.html')
  </header>
  
  <section class="hero-about-section">
    <div class="container">
        <h1>الدليل الشامل لحضانة الاطفال فى الامارات</h1>
    </div>
  </section>

  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
      <div class="contenttable border my-3 p-3">
        <h6>جدول المحتوى</h6>
        <a class="d-block py-1" href="#1">ما هي الحضانة للأطفال؟</a>
        <a class="d-block py-1" href="#2"
          >ماهي الشروط التي يجب توافرها للحاضن؟</a
        >
        <a class="d-block py-1" href="#3"
          >شروط حضانة الأم للأطفال في القانون الإماراتي
        </a>
        <a class="d-block py-1" href="#4"
          >شروط حضانة الاب للأطفال في القانون الإماراتي
        </a>
        <a class="d-block py-1" href="#5"
          >ترتيب من لهم الحق في الحضانة بعد الأم والأب وفقًا للقانون
          الإماراتي</a
        >
        <a class="d-block py-1" href="#6"
          >في حال عدم وجود من يستحق الحضانة من النساء:</a
        >
        <a class="d-block py-1" href="#7"
          >في حال عدم وجود العصبات من الرجال:</a
        >
        <a class="d-block py-1" href="#8"
          >الحالات التي تنتقل فيها حضانة الأطفال للأب:</a
        >
        <a class="d-block py-1" href="#9"
          >زيادة مدة حضانة الأم للأطفال قي الامارات</a
        >
        <a class="d-block py-1" href="#10"
          >ما المستندات شروط زيادة مدة حضانة الأم للأبناء ؟</a
        >
        <a class="d-block py-1" href="#11"
          >المستندات المطلوبة لزيادة مدة حضانة الأم:</a
        >
        <a class="d-block py-1" href="#12"
          >الشروط المطلوبة لزيادة مدة حضانة الأم:</a
        >
        <a class="d-block py-1" href="#13">خاتمة </a>
        <a class="d-block py-1" href="#14">الاسئلة الشائعة</a>
        <a class="d-block py-1" href="#15">للتواصل </a>
      </div>
      <img src="../../img/content/child.webp" alt="الدليل الشامل لحضانة الاطفال فى الامارات">
      <p>
        تمثل قضايا الحضانة في الإمارات جانبًا حساسًا من قانون الأحوال الشخصية،
        حيث تهدف القوانين الإماراتية إلى تحقيق مصلحة الطفل العليا وضمان
        استقراره النفسي والاجتماعي. تُحدد هذه القوانين حقوق وواجبات الوالدين
        في حالات <mark> الطلاق </mark> ، مع مراعاة الاحتياجات الأساسية للطفل
        وضمان رعايته في بيئة آمنة ومستقرة. في هذا الإطار، يبرز
        <a href="https://www.lawyer-alaa-aljasmi.com/"
          >مكتب آلاء إبراهيم الجسمي</a
        >؛ <mark>للاستشارات القانونية</mark> كشريك قانوني موثوق، متخصص في
        معالجة قضايا الحضانة بكل احترافية. نحن نساعدك في تجاوز التعقيدات
        القانونية وإيجاد الحلول المثلى التي تضمن حقوقك وحقوق أطفالك، مع
        الالتزام بأعلى معايير السرية والكفاءة
      </p>
      <p>
        <b><mark>اقرا ايضا </mark></b>
      </p>
      <ul>
        <li><b> الخلع في الامارات </b></li>
        <li><b> حقوق الزوجة عند الطلاق في الامارات</b></li>
      </ul>
      <h2 id="1" class="mt-3">ما هي الحضانة للأطفال؟</h2>

      <p>
        الحضانة تعني توفير الرعاية الشاملة للطفل من قبل أحد الوالدين أو شخص
        مؤهل قانونيًا، وتشمل الجوانب المادية والنفسية والاجتماعية التي تضمن
        نمو الطفل وتطوره في بيئة آمنة ومستقرة. تُركّز الحضانة على تلبية
        احتياجات الطفل الأساسية مثل المأكل، والمسكن، والرعاية الصحية،
        والتعليم، إضافة إلى حمايته من أي أذى نفسي أو جسدي. في القوانين
        الإماراتية، تُعتبر مصلحة الطفل العليا هي المعيار الأساسي في قرارات
        الحضانة، مع مراعاة عمر الطفل واحتياجاته وحقوق كلا الوالدين.
      </p>
      <p>
        <b><mark>مواضيع ذات صلة </mark></b>
      </p>
      <p>• النفقة</p>
      <h2 id="2" class="mt-3">ماهي الشروط التي يجب توافرها للحاضن؟</h2>
      <p>
        بموجب القانون الاتحادي رقم (28) لسنة 2005 م للأحوال الشخصية ، فإن الأم
        البيولوجية للطفل هي الحاضنة وعادةً م يتم تسلم الحضانة للام بما لا
        يتعارض مع حق الولاية للاب
      </p>
      <p>
        سوف يعرض لكم مكتب الاء ابراهيم الجسمي افضل مكتب محاماة في الامارات
        الشروط التي يجب ان تكون في الحاضن للاطفال التي نصت عليهما المادتين 143
        و144 من القانون الأحوال الشخصية لضمان الرعاية اللازمة للاطفال وهي:
      </p>
      <ul>
        <li><h3>البلوغ والأهلية القانونية:</h3></li>
        <p>
          يجب أن يكون الحاضن بالغًا عاقلًا وقادرًا على القيام بمسؤوليات
          الحضانة بما يضمن رعاية الطفل بشكل كامل
        </p>
        <li><h3>القدرة على الرعاية:</h3></li>
        <p>
          يجب أن يتمتع الحاضن بالقدرة الجسدية والنفسية على توفير الرعاية
          المناسبة للطفل، بما يشمل الاهتمام بصحته وتعليمه واحتياجاته اليومية.
        </p>
        <li><h3>الأمانة و حسن السلوك:</h3></li>
        <p>
          يجب أن يكون الحاضن حسن السيرة والسلوك، وألا يكون معروفًا بسوء
          الأخلاق أو التصرفات التي قد تؤثر سلبًا على الطفل. ألا يكون قد صدر
          بحقه حكم في جريمة تتعلق ب <mark>الاعتداء على العرض</mark>
        </p>
        <li><h3>الاستقرار المادي والمعنوي:</h3></li>
        <p>
          على الحاضن أن يوفر بيئة مستقرة من الناحية المادية والمعنوية، تتيح
          للطفل النمو في أجواء مناسبة بعيدًا عن الاضطرابات.
        </p>
        <li><h3>الإقامة الدائمة في الإمارات:</h3></li>
        <p>
          يجب أن يكون الحاضن مقيمًا بشكل دائم في الإمارات لضمان التواصل
          المستمر مع الطفل وتلبية احتياجاته.
        </p>
        <li><h3>السلامة من الأمراض المعدية والخطرة:</h3></li>
        <p>
          يشترط أن يكون الحاضن خاليًا من الأمراض المعدية أو الخطيرة التي قد
          تؤثر على صحة الطفل.
        </p>
        <b
          >للتواصل مع مكتب الاء ابراهيم الجسمي للمحاماة الخبير في قضايا
          الحضانة وحقوق الاطفال يمكنكم التواصل معانا والحصول علي استشارة
          قانونية بما يخص الحضانة للاطفال
        </b>
        <div class="text-center consultation my-3">
          <a href="https://wa.me/+971547372444" class="btn py-2"
            >اطلب استشاره قانونيه فورية</a
          >
        </div>
      </ul>
      <h3 id="3" class="mt-3">
        شروط حضانة الأم للأطفال في القانون الإماراتي
      </h3>
      <ul>
        <li><b> لقدرة على الرعاية والاهتمام بالطفل:</b></li>
        <p>
          يجب أن تكون الأم قادرة على توفير الرعاية اللازمة للطفل من حيث الصحة،
          والتعليم، والحاجات اليومية.
        </p>
        <li><b> حسن السيرة والسلوك:</b></li>
        <p>
          يشترط أن تكون الأم ذات أخلاق حسنة وغير معروفة بسوء السلوك الذي قد
          يؤثر على البيئة التي يعيش فيها الطفل.
        </p>
        <li><b> الاستقرار النفسي والاجتماعي:</b></li>
        <p>
          يجب أن تُؤمّن الأم بيئة مستقرة ومناسبة لنمو الطفل بشكل سليم بعيدًا
          عن التوتر أو الاضطرابات.
        </p>
        <li><b> عدم الزواج:</b></li>
        <p>إلا إذا رأت المحكمة خلاف ذلك بما يحقق مصلحة المحضون.</p>
        <li><b> الإقامة المستقرة داخل الإمارات:</b></li>
        <p>
          يجب أن تكون الأم مقيمة في الإمارات لضمان توافر رعاية دائمة ومستمرة
          للطفل.
        </p>
        <li><b> عدم صدور أحكام قضائية تخل بالأمانة أو الأخلاق:</b></li>
        <p>
          يشترط ألا تكون الأم قد أدينت بجريمة أخلاقية تؤثر على أهليتها لتربية
          الطفل.
        </p>
        <li><b> ان تكون الام نفس علي نفس دين المحضون </b></li>
        <p>
          <b
            >في حالة الاخلال ب اي شرط من تلك الشروط يتم اسقاط الحضانة من الام
          </b>
        </p>
        <p>
          <b
            >للتعرف علي المزيد من الشروط يمكنكم التواصل مع مكتب الاء ابراهيم
            الجسمي المختص في قضايا الحضانة للاطفال
          </b>
        </p>
        <div class="text-center consultation my-3">
          <a href="https://wa.me/+971547372444" class="btn py-2"
            >اطلب استشاره قانونيه فورية</a
          >
        </div>
      </ul>
      <h3 id="4" class="mt-3">
        شروط حضانة الاب للأطفال في القانون الإماراتي
      </h3>
      <p>
        بالاضافة الي الشروط التي يجيب ان تتوافر للحاضن وهناك شروط اضافة للاب
        للحضانة وهي
      </p>
      <ul>
        <li><b> أن يكون لديه من يصلح للحضانة من النساء:</b></li>
        <p>
          يجب أن يكون الأب قادرًا على توفير شخص من النساء القريبات (مثل الأم
          أو الأخت أو الجدة) لتولي الحضانة في حال كانت حالته لا تتيح له القيام
          بذلك.
        </p>
        <li><b> أن يتحد مع المحضون في الدين:</b></li>
        <p>
          يشترط أن يتفق دين الأب مع دين الطفل، خاصة في الحالات التي تتعلق
          برعاية الأطفال المسلمين، حيث يجب أن يكون الأب مسلمًا في حال كان
          الطفل مسلمًا.
        </p>
        <p>
          <b
            >في حالة الاخلال ب اي شرط من تلك الشروط يتم اسقاط الحضانة من
            الام</b
          >
        </p>
        <p>
          الاء إبراهيم الجسمي للمحاماة والاستشارات القانونية من أبرز المكاتب
          القانونية في الامارات المتخصصة في قضايا الحضانة. حيث تقدم المكتب
          استشارات قانونية متكاملة واحترافية لضمان حقوق الأمهات والآباء في
          قضايا الحضانة، مع التركيز على تحقيق مصلحة الطفل وفقًا للقانون
          الإماراتي.
        </p>
        <div class="text-center consultation my-3">
          <a href="https://wa.me/+971547372444" class="btn py-2"
            >اطلب استشاره قانونيه فورية</a
          >
        </div>
      </ul>
      <h2 id="5" class="mt-3">
        ترتيب من لهم الحق في الحضانة بعد الأم والأب وفقًا للقانون الإماراتي
      </h2>
      <p>
        بعد الأم والأب، يُحدد القانون الإماراتي طبقا لنص المادة 146 ترتيب
        الأشخاص الذين لهم الحق في الحضانة بناءً على مصلحة الطفل وظروف الحالة.
      </p>
      <ul>
        <li><b> أم الأم، سواء كانت قريبة أو بعيدة.</b></li>
        <li><b> أم الأب </b></li>
        <li><b> الأخوات: تُقدم الشقيقة ثم الأخت لأم، ثم الأخت لأب.</b></li>
        <li><b> بنت الأخت الشقيقة.</b></li>
        <li><b> بنت الأخت لأم.</b></li>
        <li>
          <b>
            الخالات، على الترتيب: الخالة الشقيقة، ثم الخالة لأب، ثم الخالة
            لأم.</b
          >
        </li>
        <li><b> بنت الأخت لأب.</b></li>
        <li><b> بنات الأخ بنفس ترتيب الأخوات.</b></li>
        <li><b> العمات، على الترتيب المذكور بالنسبة للأخوات.</b></li>
        <li><b> خالات الأم، على الترتيب المذكور.</b></li>
        <li><b> خالات الأب.</b></li>
      </ul>
      <h3 id="6" class="mt-3">في حال عدم وجود من يستحق الحضانة من النساء:</h3>
      <p>
        إذا لم توجد حاضنة من النساء المؤهلات أو إذا كانت غير قادرة على
        الرعاية، ينتقل الحق في الحضانة إلى العصبات من الرجال وفقًا لترتيب
        الاستحقاق في الإرث، مع مراعاة تقديم الجد الصحيح على الأخوة.
      </p>
      <h3 id="7" class="mt-3">في حال عدم وجود العصبات من الرجال:</h3>
      <p>
        إذا لم يكن هناك عصبات من الرجال، ينتقل الحق في الحضانة إلى محارم الطفل
        من الرجال غير العصبات وفقًا لهذا الترتيب:
      </p>
      <ul>
        <li><b>الجد لأم.</b></li>
        <li><b>الأخ لأم.</b></li>
        <li><b>ابن الأخ لأم.</b></li>
        <li><b>العم لأم.</b></li>
        <li>
          <b>الأخوال، مع تقديم الخال الشقيق على الخال لأب، ثم الخال لأم.</b>
        </li>
      </ul>
      <h3 id="8" class="mt-3">الحالات التي تنتقل فيها حضانة الأطفال للأب:</h3>
      <ol>
        <li><b>زواج الأم </b></li>
        <li><b> إهمال الأم أو فقدانها للأهلية:</b></li>
        <p>
          إذا ثبت أن الأم غير قادرة على رعاية الطفل بسبب الإهمال، أو عدم
          الأمانة، أو ارتكاب سلوك غير أخلاقي يؤثر على مصلحة المحضون.
        </p>
        <li><b> إصابة الأم بمرض يمنعها من القيام بالحضانة:</b></li>
        <p>
          إذا أصيبت الأم بمرض جسدي أو نفسي خطير يعيقها عن تقديم الرعاية
          الكاملة للطفل.
        </p>
        <li><b> إهمال تعليم الطفل أو تعريضه للضرر:</b></li>
        <p>
          إذا أخلت الأم بواجبها تجاه تعليم الطفل أو ثبت أن بقاء الطفل معها
          يسبب له ضررًا نفسيًا أو جسديًا.
        </p>
        <li><b> بلوغ المحضون سن انتقال الحضانة:</b></li>
        <p>
          وفقًا للمادة (156) من القانون، تنتقل الحضانة إلى الأب عندما يبلغ
          الطفل:
        </p>
        <ul>
          <li>11 سنة للذكر.</li>
          <li>11 سنة للذكر.</li>
          <p>
            مع مراعاة مصلحة الطفل، حيث يحق للمحكمة اتخاذ القرار بناءً على ظروف
            كل حالة.
          </p>
        </ul>
        <li><b> اختلاف الدين:</b></li>
        <p>تسقط الحضانة إذا كانت الأم على دين مختلف عن دين الطفل.</p>
        <li><b> رفض الأم للحضانة:</b></li>
        <p>إذا رفضت الأم الحضانة أو لم تُبدِ رغبتها في الاستمرار بها.</p>
      </ol>
      <h2>زيادة مدة حضانة الأم للأطفال قي الامارات</h2>
      <h3 id="9" class="mt-3">للتواصل</h3>
      <p>
        في دولة الإمارات العربية المتحدة، تُمنح الأم حق حضانة أطفالها حتى بلوغ
        السن القانوني. ومع ذلك، يمكن للمحكمة تمديد فترة الحضانة في حالات معينة
        إذا رأت أن ذلك يصب في مصلحة الطفل.
      </p>
      <ol>
        <li>
          <b> استمرار تعليم الذكر: </b>إذا كان الطفل الذكر لا يزال يتلقى
          تعليمه ولم يبلغ سن الرشد، يمكن للمحكمة تمديد حضانة الأم حتى يكمل
          دراسته.
        </li>
        <li>
          <b> زواج الأنثى: </b>بالنسبة للأنثى، يمكن تمديد حضانة الأم حتى
          تتزوج، بشرط إثبات حسن رعاية الأم للطفلة
        </li>
      </ol>
      <h3 id="10" class="mt-3">
        ما المستندات شروط زيادة مدة حضانة الأم للأبناء ؟
      </h3>
      <p>
        يشترط القانون الاماراتي بعض المستندات و الشروط قبل تمديد حضانة الام
        والتي سوف يوضحها مكتب الاء الجسمي للمحاماة بالتفاصيل وهي :
      </p>
      <h4 id="11" class="mt-3">المستندات المطلوبة لزيادة مدة حضانة الأم:</h4>
      <ol>
        <li><b> شهادة ميلاد الأطفال:</b></li>
        <p>o لإثبات أعمارهم.</p>
        <li><b> وثيقة الحضانة الحالية:</b></li>
        <p>o صادرة عن المحكمة، تُظهر أن الأم لديها الحضانة.</p>
        <li><b> سجلات المدرسة:</b></li>
        <p>
          o لإثبات انتظام الأبناء في التعليم وحصولهم على بيئة دراسية مناسبة.
        </p>
        <li><b> تقارير طبية:</b></li>
        <p>
          o لتوضيح الحالة الصحية للأطفال وإثبات أنهم يتلقون الرعاية اللازمة.
        </p>
        <li><b> سجل السكن:</b></li>
        <p>o مستندات تُثبت أن الأم توفر للأطفال بيئة سكنية آمنة ومستقرة.</p>
        <li><b> تقارير اجتماعية (إذا طلبتها المحكمة):</b></li>
        <p>
          o قد يتم تقديم تقرير من جهة مختصة لتقييم مدى جودة رعاية الأم
          للأطفال.
        </p>
        <div class="text-center consultation my-3">
          <a href="https://wa.me/+971547372444" class="btn py-2"
            >اطلب استشاره قانونيه فورية</a
          >
        </div>
      </ol>
      <img src="../../img/content/child2.webp" alt="الدليل الشامل لحضانة الاطفال فى الامارات">
      <h4 id="12" class="mt-3">الشروط المطلوبة لزيادة مدة حضانة الأم:</h4>
      <p><b>1. مصلحة الطفل فوق كل اعتبار:</b></p>
      <p>
        • يجب إثبات أن تمديد الحضانة يخدم مصلحة الطفل من حيث الصحة والتعليم
        والاستقرار.
      </p>
      <p><b>2. عدم وجود ضرر للأطفال:</b></p>
      <p>
        • التأكد من أن الأبناء لا يتعرضون لأي ضرر نفسي أو اجتماعي نتيجة
        الحضانة مع الأم.
      </p>
      <p><b>3. قدرة الأم على الرعاية:</b></p>
      <p>
        • يجب أن تثبت الأم قدرتها على تلبية احتياجات الأطفال المادية
        والمعنوية.
      </p>
      <p><b>4. موافقة المحكمة:</b></p>
      <p>
        • كل القرارات تخضع لتقدير القاضي بناءً على الأدلة المقدمة ومصلحة
        الأطفال.
      </p>
      <div class="text-center consultation my-3">
        <a href="https://wa.me/+971547372444" class="btn py-2"
          >اطلب استشاره قانونيه فورية</a
        >
      </div>
      <h3 id="13" class="mt-3">خاتمة</h3>
      <p>
        يمثل مكتب آلاء إبراهيم الجسمي للمحاماة والاستشارات القانونية الخيار
        الأمثل لمن يسعى لضمان حقوقه وحقوق أطفاله في قضايا الحضانة. بخبرته
        القانونية المتميزة، يقدم المكتب دعمًا شاملًا ومهنيًا لتحقيق أفضل
        النتائج بما يتماشى مع القانون الإماراتي، مع التركيز دائمًا على توفير
        بيئة مستقرة وآمنة للأطفال لضمان نموهم النفسي والاجتماعي بشكل صحي.
      </p>
      <h3 id="14" class="mt-3">الاسئلة الشائعة</h3>
      <p><b>1. هل يخير الطفل بين أمه وابوه في الإمارات؟</b></p>
      <p>
        لا يتم تخير الطفل بين ابوه او امة حتي اذا بلغ السن القانوني لكن في بعض
        الحالات، قد يقوم القاضي بسماع رأي الطفل إذا كان عمره مناسبًا لفهم
        الوضع ولديه القدرة على التعبير.
      </p>
      <p><b>2. هل يجوز منع الأب من رؤية أبنائه بعد الطلاق؟</b></p>
      <p>
        وفقًا للقانون الإماراتي، لا يجوز منع الأب أو الأم من رؤية أبنائهم بعد
        الطلاق، إلا في حالات استثنائية جدًا، يكون فيها المنع مبررًا لحماية
        مصلحة الطفل
      </p>
      <p><b>3. هل يستطيع الحاضن السفر بالأطفال خارج الإمارات؟</b></p>
      <p>
        نعم، يُسمح للحاضن بالسفر مع الأطفال، ولكن بشروط موافقة الطرف الآخر
        (الولي أو الوصي):
      </p>
      <p>
        • الحاضن يحتاج إلى إذن خطي من الطرف الآخر (عادةً الأب أو الأم غير
        الحاضنة) إذا كان السفر خارج الدولة.
      </p>
      <p>• في حال رفض الطرف الآخر، يمكن للحاضن طلب إذن من المحكمة.</p>
      <p><b>4. ما هي حقوق الطرف غير الحاضن؟</b></p>
      <p>• حق الزيارة المنتظمة.</p>
      <p>• الإشراف على التعليم والصحة.</p>
      <p>• التواصل مع الطفل عبر الهاتف أو الوسائل الإلكترونية.</p>
      <p><b>5. هل يمكن تعديل اتفاق الحضانة بعد الطلاق؟</b></p>
      <p>
        نعم، يمكن طلب تعديل الاتفاق بناءً على تغييرات الظروف أو مصلحة الطفل.
      </p>
      <p><b>6. هل يمكن نقل الحضانة دوليًا؟</b></p>
      <p>نعم، ولكن يتطلب ذلك موافقة الطرف الآخر أو إذن المحكمة.</p>
      <h3 id="15" class="mt-3">للتواصل</h3>
      <p>
        <b>واتساب:</b
        ><a
          href="https://api.whatsapp.com/send/?phone=%2B971547372444&text&type=phone_number&app_absent=0"
          >+971 54 737 2444</a
        >
      </p>
      <p>
        <b>بريد الكتروني :</b
        ><a href="mailto:info@lawyer-alaa-aljasmi.com"
          >info@lawyer-alaa-aljasmi.com</a
        >
      </p>

      @@include('../components/author-componnent.html')
    </div>
  </section>

  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.lawyer-alaa-aljasmi.com/pages/الدليل الشامل لحضانة الاطفال فى الامارات.html"
      },
      "headline": "الدليل الشامل لحضانة الاطفال فى الامارات",
      "description": "مكتب آلاء إبراهيم الجسمي المتخصص في قضايا حضانة الأطفال في الإمارات يبرز كل الجوانب القانونية المتعلقة بتلك القضايا ويستعرض ابرز الاسئلة الشائعة عنها.",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/child.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/child2.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-12-01T08:00:00Z",
      "dateModified": "2024-12-01T08:45:00Z"
    }
    </script>
    
</body>
</html>

