<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  @@include('../components/head.html', {
    "title": "قضايا الميراث وتوزيع التركات في الإمارات"
  })
</head>
<body>
  <!-- Index Class -->
  @@include('../components/header.html')
  </header>
  
  <section class="hero-about-section">
    <div class="container">
        <h1>قضايا الميراث وتوزيع التركات في الإمارات: دليل شامل للورثة</h1>
    </div>
  </section>

  <section class="drugs article m-5 m-sm-0 mt-5">
    <div class="container">
      <div class="contenttable border my-3 p-3">
        <h6>جدول المحتوى</h6><a class="d-block py-1" href="#1">قوانين الميراث في الإمارات: الإجابة الشاملة عن قضايا
          توزيع التركات</a> <a class="d-block py-1" href="#2">قضايا الميراث وتوزيع التركات في الإمارات: تحليل لأحكام
          القانون الإماراتي والوصايا</a> <a class="d-block py-1" href="#3">كيفية توزيع الميراث في الإمارات</a> <a
          class="d-block py-1" href="#4">إجراءات توزيع الميراث في القانون الإماراتي ودور مكتب المحامية آلاء الجسمي في
          تسهيلها</a> <a class="d-block py-1" href="#5">لماذا تختار مكتب محاماة الاء الجسمي في قضايا الميراث وتوزيع
          التركات في الإمارات؟</a> <a class="d-block py-1" href="#6">نصائح قانونية من مكتب محاماة الاء الجسمي</a> <a
          class="d-block py-1" href="#7">أسئلة شائعة حول الميراث في الإمارات</a>
      </div>
      <p>إدارة قضايا الميراث وتوزيع التركات في الإمارات يتطلب معرفة دقيقة بالقوانين الشرعية والمدنية، خصوصًا في إمارات
        مثل عجمان، دبي، الشارقة، خورفكان، والفجيرة. <a href="https://www.lawyer-alaa-aljasmi.com/" rel="nofollow" targer="_blank">مكتب محاماة الاء الجسمى</a> يوفر الدعم القانوني اللازم لإدارة هذه القضايا بحرفية تامة، مما
        يضمن تحقيق العدالة بين الورثة وتجنب النزاعات.</p>
      <h2 id="1">قوانين الميراث في الإمارات: الإجابة الشاملة عن قضايا توزيع التركات</h2>
      <p>تستند قوانين الميراث في دولة الإمارات العربية المتحدة بشكل أساسي إلى الشريعة الإسلامية. حيث تحدد هذه القوانين
        حصص كل وارث من التركة وفقًا لعلاقته بالمتوفى ووجود ورثة آخرين. وتشمل هذه القوانين نصوصًا واضحة حول حقوق الزوج
        والزوجة والأبناء والأب والأم والأجداد والأشقاء. يهدف نظام الميراث في الإمارات إلى تحقيق العدل والإنصاف بين
        الورثة وحفظ حقوقهم الشرعية. وتجدر الإشارة إلى أن هناك مرونة في تطبيق هذه القوانين، حيث يمكن للمتوفى ترك وصية
        تتضمن توجيهات حول توزيع تركته، شريطة ألا تتعارض مع أحكام الشريعة الإسلامية.</p>
      <p>اقرأ المزيد عن : <a href="https://www.lawyer-alaa-aljasmi.com/pages/bestlawfirm.html">أفضل مكتب محاماة في
          دبي</a></p>
      <h2 id="2">قضايا الميراث وتوزيع التركات في الإمارات: تحليل لأحكام القانون الإماراتي والوصايا</h2>
      <p>تنص المواد من 11 إلى 13 على قواعد وإجراءات تتعلق بتوزيع الميراث وتسجيل الوصايا في دولة الإمارات العربية
        المتحدة. فالمادة 11 تحدد حصة كل وارث من التركة في حال وجود وصية أو عدمها، مع إعطاء الأولوية للوصية إن وجدت. وفي
        حال عدم وجود وصية، فإن الميراث يوزع وفقاً لأحكام الشريعة الإسلامية، بحيث يحصل الزوج أو الزوجة ونصف الإرث
        والأبناء على النصف الآخر. كما تسمح هذه المادة للورثة الأجانب بطلب تطبيق قانون بلادهم على التركة. أما المادة 12
        فتحول مجلس الوزراء بإصدار دليل لإجراءات التركات، بينما تنص المادة 13 على ضرورة تسجيل الوصايا في سجل خاص، وتشجع
        الزوجين على تسجيل وصاياهم عند الزواج.</p>
      <p>وهذا ما نص عليه : <span>مرسوم بقانون اتحادي رقم (41) لسنة 2022 في شأن الأحوال الشخصية المدني</span></p><img
        src="../../img/content/قضايا الميراث.webp" alt="قضايا الميراث">
      <div class="text-center consultation my-3"><a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره
          قانونيه فورية</a></div>
      <h2 id="3">كيفية توزيع الميراث في الإمارات</h2>
      <p>تولي دولة الإمارات العربية المتحدة اهتماماً كبيراً بقضايا الميراث والتوريث، حيث تسعى إلى تحقيق العدل والإنصاف
        بين الورثة وحفظ حقوقهم الشرعية. تتضمن قوانين الميراث الإماراتية مجموعة من الأحكام والقواعد التي تنظم عملية توزيع
        التركة بعد وفاة الشخص، سواء كانت هذه التركة عقارات أو أموالاً منقولة أو حقوقاً أخرى. وتستند هذه القوانين بشكل
        أساسي إلى الشريعة الإسلامية، مع مراعاة بعض العادات والتقاليد المحلية.</p>
      <h3>العوامل المؤثرة في توزيع الميراث</h3>
      <ul>
        <li><b>درجة القرابة: </b>تحدد العلاقة بين الوارث والمتوفى (زوج، زوجة، أب، أم، ابن، ابنة، أخ، أخت، جد، جدة...)
          حجم الحصة الموروثة.</li>
        <li><b>وجود وصية: </b>يمكن للمتوفى ترك وصية تحدد كيفية توزيع جزء من تركته، ولكن يجب أن تتوافق مع أحكام الشريعة
          الإسلامية.</li>
        <li><b>وجود فرع وارث: </b>وجود الأبناء أو الأحفاد يؤثر بشكل كبير على حصص الورثة الآخرين.</li>
      </ul><img src="../../img/content/كيفية توزيع الميراث في الإمارات.webp" alt="كيفية توزيع الميراث في الإمارات">
      <div class="text-center consultation my-3"><a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره
          قانونيه فورية</a></div>
      <h3>أبرز الورثة وحصصهم التقريبية</h3>
      <ul>
        <li><b>الزوج والزوجة: </b>يحصل الزوج على الربع والزوجة على الثمن إذا كان هناك أولاد.</li>
        <li><b>الأبناء: </b>يوزع بين الأبناء حصة أكبر، حيث يحصل الذكر على مثل حصة الأنثيين.</li>
        <li><b>الوالدين: </b>يحصل كل من الأم والأب على سدس في حال وجود الأبناء.</li>
      </ul><strong>ملاحظات هامة:</strong>
      <ul>
        <li><b>الحصص المذكورة هي حصص تقريبية: </b>قد تختلف الحصص النهائية باختلاف عدد الورثة ودرجة قرابتهم من المتوفى.
        </li>
        <li><b>وجود حالات خاصة: </b>هناك حالات خاصة تتطلب تطبيق قواعد معينة لتحديد الحصص، مثل وجود ورثة من درجة واحدة
          فقط أو وجود وصية معقدة.</li>
        <li><b>أهمية الاستشارة القانونية: </b>نظراً لتعقيدات قوانين الميراث، يُنصح باستشارة مكتب محاماة الاء الجسمي
          متخصص في شؤون الميراث لتحديد الحصص بدقة وتجنب النزاعات.</li>
      </ul>
      <h4>جداول التوزيع الشرعي للميراث</h4>
      <p><b>جداول التوزيع الشرعي</b> هي أدوات مساعدة لتحديد حصص الورثة من التركة وفقاً للشريعة الإسلامية. هذه الجداول
        تعتمد على مجموعة من القواعد والقوانين التي تحدد نسبة كل وارث من الأبناء، البنات، الزوج، الزوجة، الأب، الأم،
        الأجداد، والأشقاء.</p><strong>مثال على جدول مبسط:</strong>
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead class="table-light">
            <tr>
              <th>الشرط</th>
              <th>الحصة</th>
              <th>الوارث</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>الزوج</td>
              <td>النصف</td>
              <td rowspan="2">إذا لم يكن هناك أبناء</td>
            </tr>
            <tr>
              <td>الأم</td>
              <td>الثلث</td>
            </tr>
            <tr>
              <td>الزوجة</td>
              <td>الربع</td>
              <td rowspan="3">إذا كان هناك أبناء</td>
            </tr>
            <tr>
              <td>الأبناء الذكور</td>
              <td>ضعف حصة الأنثى</td>
            </tr>
            <tr>
              <td>البنات</td>
              <td>نصف حصة الابن</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 id="4">إجراءات توزيع الميراث في القانون الإماراتي ودور مكتب المحامية آلاء الجسمي في تسهيلها</h2>
      <p>تعتبر إجراءات توزيع الميراث في دولة الإمارات العربية المتحدة من الإجراءات القانونية التي تتطلب دقة وعناية
        فائقة، وذلك نظراً لأهمية الحفاظ على حقوق الورثة وتجنب النزاعات. وتستند هذه الإجراءات بشكل أساسي إلى الشريعة
        الإسلامية والقوانين الإماراتية ذات الصلة.</p>
      <h3>الخطوات العامة لإجراءات توزيع الميراث في الإمارات</h3>
      <ul>
        <li><b>إثبات الوفاة: </b>يتم تقديم شهادة وفاة رسمية إلى المحكمة المختصة.</li>
        <li><b>تحديد الورثة: </b>يتم تحديد هوية جميع الورثة الشرعيين وفقاً لأحكام الشريعة الإسلامية والقوانين
          الإماراتية.</li>
        <li><b>تقدير قيمة التركة: </b>يتم تقدير قيمة جميع ممتلكات المتوفى، سواء كانت عقارات أو أموالاً منقولة.</li>
        <li><b>تسجيل الوصية (إن وجدت): </b>إذا كانت هناك وصية، يتم تسجيلها وتوثيقها لدى الجهات المختصة.</li>
        <li><b>توزيع التركة: </b>يتم توزيع التركة على الورثة وفقاً لحصصهم الشرعية أو وفقاً لما ورد في الوصية.</li>
        <li><b>تصفية الديون: </b>يتم سداد جميع ديون المتوفى قبل توزيع التركة.</li>
        <li><b>تسجيل الملكية: </b>يتم نقل ملكية الممتلكات إلى الورثة وفقاً للإجراءات القانونية المتبعة.</li>
      </ul><img src="../../img/content/إجراءات توزيع الميراث في القانون الإماراتي.webp"
        alt="إجراءات توزيع الميراث في القانون الإماراتي">
      <div class="text-center consultation my-3"><a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره
          قانونيه فورية</a></div>
      <h2>خدمات مكتب محاماة الاء الجسمي في قضايا الميراث</h2>
      <ol>
        <li>
          <h3>إدارة التركات وتوزيعها:</h3>
          <p>يقدم فريقنا القانوني دعمًا شاملاً لتوزيع التركة بما يتماشى مع القوانين الشرعية أو وفقًا للوصايا القانونية.
          </p>
        </li>
        <li>
          <h3>صياغة الوصايا الشرعية:</h3>
          <p>نساعد عملاءنا في صياغة وصايا واضحة ومكتملة من الناحية القانونية لضمان تنفيذ رغباتهم بعد الوفاة.</p>
        </li>
        <li>
          <h3>حل النزاعات بين الورثة:</h3>
          <p>في حال حدوث نزاعات بين الورثة، يعمل مكتب محاماة الاء الجسمي على حلها بطرق قانونية وودية.</p>
        </li>
        <li>
          <h3>إدارة الأملاك المشتركة:</h3>
          <p>نتولى إدارة الأملاك التي تتطلب توافقًا بين الورثة، مثل العقارات المشتركة أو الشركات العائلية.</p>
        </li>
      </ol>
      <p>اقرأ المزيد عن : <a href="https://www.lawyer-alaa-aljasmi.com/pages/الاستشارات القانونية.html"
          target="_blank">الاستشارات القانونية</a></p>
      <h2 id="5">لماذا تختار مكتب محاماة الاء الجسمي في قضايا الميراث وتوزيع التركات في الإمارات؟</h2>
      <ol>
        <li>
          <B>خبرة واسعة في القضايا الشرعية:</b>
          <p>يتميز فريقنا بفهم عميق للقوانين الشرعية المتعلقة بالميراث وتوزيع التركات، مما يضمن الالتزام الكامل بأحكام
            الشريعة الإسلامية.</p>
        </li>
        <li>
          <b>تخصص في إدارة النزاعات:</b>
          <p>لدينا خبرة في التعامل مع النزاعات التي قد تنشأ بين الورثة، مع التركيز على إيجاد حلول عادلة وسريعة.</p>
        </li>
        <li>
          <b>تغطية شاملة للإمارات الشمالية:</b>
          <p>خدماتنا القانونية تغطي عجمان، دبي، الشارقة، خورفكان، والفجيرة، مما يجعلنا خيارًا موثوقًا للعملاء في جميع
            هذه المناطق.</p>
        </li>
        <li>
          <b>دقة وسرية تامة:</b>
          <p>نتعامل مع القضايا بحساسية وسرية مطلقة لضمان راحة عملائنا وحفظ حقوقهم.</p>
        </li>
      </ol>
      <h2 id="6">نصائح قانونية من مكتب محاماة الاء الجسمي</h2>
      <ul>
        <li><b>التوثيق المبكر للوصايا: </b>تأكد من توثيق وصيتك رسميًا لضمان تنفيذ رغباتك المستقبلية.</li>
        <li><b>التعاون بين الورثة: </b>يساهم التعاون في تسريع عملية توزيع التركة وحل النزاعات.</li>
        <li><b>الاستشارة القانونية: </b>استعن بمحامٍ متخصص لضمان الامتثال الكامل للقوانين المحلية وتجنب أي تعقيدات</li>
      </ul><img src="../../img/content/نصائح قانونية.webp" alt="نصائح قانونية">
      <div class="text-center consultation my-3"><a href="https://wa.me/+971547372444" class="btn py-2">اطلب استشاره
          قانونيه فورية</a></div>
      <h2 id="7">أسئلة شائعة حول الميراث في الإمارات</h2>
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">ما هي حقوق الزوجة في الميراث؟</button></h3>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">حقوق الزوجة في الميراث تختلف حسب وجود الأبناء وعدمهم. عمومًا، تحصل الزوجة على
              ربع التركة إذا كان هناك أبناء، وعلى النصف إذا لم يكن هناك أبناء.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">هل للعم أو الخال حق في الميراث؟</button></h3>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">لا يحق للعم أو الخال الميراث بشكل مباشر إلا في حالات محددة جداً وفقاً للشريعة
              الإسلامية. عادةً ما يرث هؤلاء الورثة فقط في حالة عدم وجود ورثة أقرب مثل الأبناء أو الأب أو الأم. كما يمكن
              للعم أو الخال أن يرث بموجب وصية من المتوفى، بشرط ألا تتعارض هذه الوصية مع أحكام الشريعة الإسلامية.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">ما هو دور المحامي في قضايا الميراث؟</button></h3>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">يلعب المحامي دورًا حاسمًا في قضايا الميراث، حيث يقوم بتقديم الاستشارات
              القانونية، وإعداد الوثائق، ومتابعة الإجراءات القانونية، وحماية حقوق الورثة.</div>
          </div>
        </div>
      </div><strong>دعوة للتواصل</strong>
      <p>إذا كنت بحاجة إلى استشارة قانونية أو دعم متخصص في قضايا الميراث وتوزيع التركات، فإن مكتب محاماة الاء الجسمي
        يقدم لك الخبرة والاحترافية اللازمة لحل قضاياك بكفاءة.</p>
      <p>نحن هنا لمساعدتك في جميع احتياجاتك القانونية. لا تتردد في <a
          href="https://www.lawyer-alaa-aljasmi.com/pages/contactus.html">التواصل معنا</a></p>
      <p><b>واتساب:</b><a
          href="https://api.whatsapp.com/send/?phone=%2B971547372444&text&type=phone_number&app_absent=0">+971 54 737
          2444</a></p>
      <p><b>بريد الكتروني :</b><a href="mailto:info@lawyer-alaa-aljasmi.com">info@lawyer-alaa-aljasmi.com</a></p>
      <div>
        <div class="auther rounded-3 w-75 mx-auto p-3 my-3">
          <h3 class="text-center"><a href="../pages/author.html">المؤلف:ألاء إبراهيم الجسمى Alaa Ibrahim Aljasmi</a>
          </h3>
          <p>الاء الجسمي مستشارة قانونية ذات خبرة واسعة في مختلف مجالات القانون</p>
          <p>عملت على تقديم استشارات قانونية شاملة لمجموعة متنوعة من العملاء، بما في ذلك الأفراد والشركات</p>
          <p>تتميز بقدرتها على تحليل القضايا المعقدة وتقديم حلول قانونية مبتكرة تراعي مصلحة العميل.</p>
          <p>تتمتع الاء الجسمي بسجل حافل في تمثيل عملائها أمام المحاكم في قضايا تتعلق بالقانون المدني، التجاري، الجنائي،
            وقانون العمل. كما أن لها عدة مشاركات في تطوير السياسات القانونية عبر تقديم الاستشارات لأعمال ومؤسسات في مجال
            الامتثال والتنظيمات القانونية.</p>
          <p>من خلال مكتب الاء الجسمي للمحاماة، تقدم الاستشارات القانونية للأفراد والشركات مع التركيز على تقديم حلول
            دقيقة وفعالة تناسب الاحتياجات الخاصة لكل عميل.</p>
        </div>
      </div>
    </div>
  </section>
  @@include('../components/footer.html')

  @@include('../resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://lawyer-alaa-aljasmi.com/pages/قضايا الميراث وتوزيع التركات في الإمارات.html"
      },
      "headline": "قضايا الميراث وتوزيع التركات في الإمارات",
      "description": "دليلك الشامل لاهم قضايا الميراث وتوزيع التركات في الإمارات مع شرح لكل الإجراءات والنصائح الازمة ودور مكتب محاماة  الاء  الجسمي في قضايا الميراث",
      "image": [
        "https://www.lawyer-alaa-aljasmi.com/img/content/قضايا الميراث.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/كيفية توزيع الميراث في الإمارات.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/إجراءات توزيع الميراث في القانون الإماراتي.webp",
        "https://www.lawyer-alaa-aljasmi.com/img/content/نصائح قانونية.webp"
      ],  
      "author": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "url": "https://lawyer-alaa-aljasmi.com/pages/author.html"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "مكتب ألاء الجسمي للمحاماة",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.lawyer-alaa-aljasmi.com/img/global/Logo.webp"
        }
      },
      "datePublished": "2024-12-01T08:30:00Z",
      "dateModified": "2024-12-01T09:45:00Z"
    }
    </script>
    
</body>
</html>
