<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  @@include('./components/head.html', {
  "title": "/ Home",
  })
 </head>
<!-- Index Class -->
<body class="home-page">
  @@include('./components/header.html')
  @@include('./components/hero.html')
  @@include('./components/overview.html')
  @@include('./components/services.html')
  @@include('./components/accordion.html')
  @@include('./components/home-article.html')
  @@include('./components/WhyAlaaAlJasmi.html')
  @@include('./components/testimonial.html')
  @@include('./components/contact.html')
  @@include('./components/team.html')
  
  @@include('./components/footer.html')

  <script src="../js/articleslider.js"></script>
  @@include('./resources/js-files.html')
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LegalService",
      "name": "مكتب آلاء الجسمي للمحاماة والاستشارات القانونية",
      "url": "https://www.lawyer-alaa-aljasmi.com/",
      "logo": "https://www.lawyer-alaa-aljasmi.com/logo.png",
      "image": "https://www.lawyer-alaa-aljasmi.com/office.jpg",
      "description": "مكتب آلاء الجسمي يقدم خدمات قانونية واستشارات عالية الجودة في مختلف المجالات القانونية.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Sheikh Ammar Bin Humaid St - Al Jerf 2",
        "addressLocality": "Ajman",
        "addressRegion": "Ajman",
        "postalCode": "00000",
        "addressCountry": "AE"
      },
      "telephone": "+971-50-123-4567",
      "email": "info@lawyer-alaa-aljasmi.com",
      "openingHours": "Su-Th 09:00-18:00",
      "areaServed": "AE",
      "sameAs": [
        "https://www.instagram.com/alaaaljasmi75?igsh=NXUza3J1NWRud2Nq",
        "https://www.facebook.com/p/%D9%85%D9%83%D8%AA%D8%A8-%D9%85%D8%AD%D8%A7%D9%85%D8%A7%D8%A9-%D8%A2%D9%84%D8%A7%D8%A1-%D8%A7%D9%84%D8%AC%D8%B3%D9%85%D9%8A-100064045393181/",
        "https://www.tiktok.com/@user2593376325054?lang=ar"
      ],
      "priceRange": "$$$"
    }
    </script>
</body>
</html>
