<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  @@include('./components/head.html', {
  "title": "Home"
  })
 </head>
<!-- Index Class -->
<body class="home-page">
  @@include('./components/header.html')
  @@include('./components/hero.html')
  @@include('./components/overview.html')
  @@include('./components/services.html')
  @@include('./components/accordion.html')
  @@include('./components/WhyAlaaAlJasmi.html')
  @@include('./components/testimonial.html')
  @@include('./components/contact.html')
  @@include('./components/team.html')
  
  @@include('./components/footer.html')

  @@include('./resources/js-files.html')
</body>
</html>
