$color-primary: #005EFD;
$color-move: #6B2D90;
$color-blue: #0085C7;
$color-blue-dark: #212945;
$color-blue-sky: #17BFCD;
$color-orange: #F48C35;
$color-orange-dark: #F67A17;
$color-yellow: #EFD063;
$color-green-mint: #95CE63;
$color-green-dark: #1C8B6A;
$color-grey: #EEEEF3;
$color-grey-dark: #444444;
$color-black: #000000;
$color-white: #FFFFFF;
$color-main : #B99B5F;
$color-main-light : #b99b5fc9;
$color-main-lighter : #b99b5f29;
$color-secondary : #23282E;
$color-dark : #1F3044;
$color-darker : #1f3044ad;
$font-family_1: helvetica;
$font-family-primary: 'Helvetica', sans-serif;
