@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  src: url(../fonts/IBMPlexSansArabic-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: normal;
  src: url(../fonts/IBMPlexSansArabic-Regular.ttf) format('ttf');
}
