<section class="accordion-container my-5">
    <!-- Accordion view -->
    <div class="accordion d-none d-lg-block">
        <h2 class="spical-heading p-3">من نحن</h2>
        <p class="spical-text">الاء إبراهيم الجسمي محامون ومستشارون قانونيون - شريكك القانوني الموثوق في الإمارات</p>
        <form class="mt-3">
            <div>
                <input type="radio" name="size" id="small" value="small" checked="checked" />
                <label for="small">١. من هم محامو الاء الجسمي</label>
                <div class="content">
                    <div class="row">
                        <div class="col-6">
                            <p>
                                في مكتب ألاء إبراهيم الجسمي للمحاماة والاستشارات القانونية، نحن ملتزمون بتقديم استشارات قانونية لا مثيل لها في المشهد القانوني الديناميكي في دولة الإمارات العربية المتحدة. ترتكز مهمتنا على السعي لتحقيق العدالة، وضمان حصول كل عميل على حلول قانونية مخصصة ومصممة خصيصًا لظروفه الفريدة.                            </p>
                        </div>
                        <div class="col-6">
                            <img src="../../img/content/about.webp" alt="من هم محامو الاء الجسمي">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <input type="radio" name="size" id="medium" value="medium" />
                <label for="medium">٢. تمكين العدالة للجميع</label>
                <div class="content">
                    <div class="row">
                        <div class="col-6">
                            <p>
                                نحن نؤمن بأن الخدمات القانونية يجب أن تكون متاحة للجميع بغض النظر عن خلفياتهم أو ظروفهم. نحن ملتزمون بتقديم دعم قانوني شامل ورحيم للأفراد من جميع مناحي الحياة.
                            </p>
                        </div>
                        <div class="col-6">
                            <img src="../../img/content/justic.webp" alt="تمكين العدالة للجميع">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <input type="radio" name="size" id="large" value="large" />
                <label for="large">٣. حلول قانونية مخصصة</label>
                <div class="content">
                    <div class="row">
                        <div class="col-6">
                            <p>
                                فريقنا من المحامين ذوي الخبرة مكرس لفهم الاحتياجات والتحديات الفريدة لكل عميل نخدمه. نحن نأخذ الوقت للاستماع، والتعاطف، وتطوير استراتيجيات شخصية لتحقيق أفضل النتائج الممكنة.
                            </p>
                        </div>
                        <div class="col-6">
                            <img src="../../img/content/team.webp" alt="حلول قانونية مخصصة">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Card view for small and medium screens -->
    <div class="card-view d-block d-lg-none">
        <h2 class="spical-heading">من نحن</h2>
        <p class="spical-text">الاء إبراهيم الجسمي محامون ومستشارون قانونيون - شريكك القانوني الموثوق في الإمارات</p>
        <div class="container">

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <img src="../../img/content/about.webp" class="card-img-top" alt="من هم محامو الاء الجسمي">
                    <div class="card-body">
                        <h3 class="card-title">١. من هم محامو الاء الجسمي</h3>
                        <p class="card-text">
                            في مكتب الاء إبراهيم الجسمي للمحاماة والاستشارات القانونية، نحن ملتزمون بتقديم استشارات قانونية ودفاع لا مثيل لهما في المشهد القانوني الديناميكي لدولة الإمارات. هدفنا هو السعي لتحقيق العدالة، وضمان حصول كل عميل على حلول قانونية مخصصة تتناسب مع ظروفه الفريدة.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <img src="../../img/content/justic.webp" class="card-img-top" alt="تمكين العدالة للجميع">
                    <div class="card-body">
                        <h3 class="card-title">٢. تمكين العدالة للجميع</h3>
                        <p class="card-text">
                            نحن نؤمن بأن الخدمات القانونية يجب أن تكون متاحة للجميع بغض النظر عن خلفياتهم أو ظروفهم. نحن ملتزمون بتقديم دعم قانوني شامل ورحيم للأفراد من جميع مناحي الحياة.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <img src="../../img/content/team.webp" class="card-img-top" alt="حلول قانونية مخصصة">
                    <div class="card-body">
                        <h3 class="card-title">٣. حلول قانونية مخصصة</h3>
                        <p class="card-text">
                            فريقنا من المحامين ذوي الخبرة مكرس لفهم الاحتياجات والتحديات الفريدة لكل عميل نخدمه. نحن نأخذ الوقت للاستماع، والتعاطف، وتطوير استراتيجيات شخصية لتحقيق أفضل النتائج الممكنة.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="call-btn">
        <a href="tel:+971547372444" class="btn call-us-button">اتصل بنا</a>
    </div>
  </div>
</section>

