    
    <section class="accordion-container my-5" dir="ltr">
        <!-- Accordion view -->
        <div class="accordion d-none d-lg-block">
            <h2 class="spical-heading p-3">About Us</h2>
            <p class="spical-text">Alaa Ibrahim Aljasmi Lawyers and Legal Consultants - Your Trusted Legal Partner in the UAE</p>
            <form class="mt-3">
                <div>
                    <input type="radio" name="size" id="small" value="small" checked="checked" />
                    <label for="small">01 Who Alaa Aljasmi Lawyers</label>
                    <div class="content m-0">
                        <div class="row" dir="ltr">
                            <div class="col-6">
                                <p>
                                    At Alaa Ibrahim Aljasmi Lawyers and Legal Consultants we are dedicated to providing
                                    unparalleled legal consultation and advocacy in the United Arab Emirates’ dynamic
                                    legal landscape. Our mission is rooted in the pursuit of justice, ensuring that
                                    every client receives bespoke legal solutions tailored to their unique
                                    circumstances.
                                </p>
                            </div>
                            <div class="col-6">
                                <img src="../../img/content/about.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <input type="radio" name="size" id="medium" value="medium" />
                    <label for="medium">02 Empowering Justice for All</label>
                    <div class="content m-0">
                        <div class="row" dir="ltr">
                            <div class="col-6">
                                <p>
                                    We believe that legal services should be accessible to everyone, regardless of their
                                    background or circumstances. We are committed to providing comprehensive and
                                    compassionate legal support to individuals from all walks of life.
                                </p>
                            </div>
                            <div class="col-6">
                                <img src="../../img/content/justic.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <input type="radio" name="size" id="large" value="large" />
                    <label for="large">03 Tailored Legal Solutions</label>
                    <div class="content m-0">
                        <div class="row" dir="ltr">
                            <div class="col-6">
                                <p>
                                    Our team of experienced attorneys is dedicated to understanding the unique needs and
                                    challenges of each client we serve. We take the time to listen, to empathize, and to
                                    develop personalized strategies to achieve the best possible outcomes.
                                </p>
                            </div>
                            <div class="col-6">
                                <img src="../../img/content/team.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Card view for small and medium screens -->
        <div class="card-view d-block d-lg-none">
            <h2 class="spical-heading">About Us</h2>
            <p class="spical-text">Alaa Ibrahim Aljasmi Lawyers and Legal Consultants - Your Trusted Legal Partner in the UAE</p>
            <div class="container">

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card mb-3">
                        <img src="../../img/content/about.webp" class="card-img-top" alt="Who Alaa Aljasmi Lawyers">
                        <div class="card-body">
                            <h3 class="card-title">01 Who Alaa Aljasmi Lawyers</h3>
                            <p class="card-text">
                                At Alaa Ibrahim Aljasmi Lawyers and Legal Consultants we are dedicated to providing
                                unparalleled legal consultation and advocacy in the United Arab Emirates’ dynamic
                                legal landscape. Our mission is rooted in the pursuit of justice, ensuring that
                                every client receives bespoke legal solutions tailored to their unique
                                circumstances.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card mb-3">
                        <img src="../../img/content/justic.webp" class="card-img-top" alt="Empowering Justice for All">
                        <div class="card-body">
                            <h3 class="card-title">02 Empowering Justice for All</h3>
                            <p class="card-text">
                                We believe that legal services should be accessible to everyone, regardless of their
                                background or circumstances. We are committed to providing comprehensive and
                                compassionate legal support to individuals from all walks of life.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card mb-3">
                        <img src="../../img/content/team.webp" class="card-img-top" alt="Tailored Legal Solutions">
                        <div class="card-body">
                            <h3 class="card-title">03 Tailored Legal Solutions</h3>
                            <p class="card-text">
                                Our team of experienced attorneys is dedicated to understanding the unique needs and
                                challenges of each client we serve. We take the time to listen, to empathize, and to
                                develop personalized strategies to achieve the best possible outcomes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="call-btn">
            <a href="tel:+971547372444" class="btn call-us-button">Call Us</a>
          </div>
    </section>


  
  