<div>
    <div class="auther rounded-3 w-75 mx-auto p-3 my-3">
        <h3 class="text-center"><a href="../pages/author.html">المؤلف:ألاء إبراهيم الجسمى Alaa Ibrahim Aljasmi</a></h3>
            <p>الاء الجسمي مستشارة قانونية ذات خبرة واسعة في مختلف مجالات القانون</p>
            <p>عملت على تقديم استشارات قانونية شاملة لمجموعة متنوعة من العملاء، بما في ذلك الأفراد والشركات</p>
            <p>تتميز بقدرتها على تحليل القضايا المعقدة وتقديم حلول قانونية مبتكرة تراعي مصلحة العميل.</p>
            <p>تتمتع الاء الجسمي بسجل حافل في تمثيل عملائها أمام المحاكم في قضايا تتعلق بالقانون المدني، التجاري، الجنائي، وقانون العمل. كما أن لها عدة مشاركات في تطوير السياسات القانونية عبر تقديم الاستشارات لأعمال ومؤسسات في مجال الامتثال والتنظيمات القانونية.</p>
            <p>من خلال مكتب الاء الجسمي للمحاماة، تقدم الاستشارات القانونية للأفراد والشركات مع التركيز على تقديم حلول دقيقة وفعالة تناسب الاحتياجات الخاصة لكل عميل.</p>
    </div>
</div>