<form class="contact-form" action="../pages/contact/submit.php" method="post">
    <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="الاسم الكامل" required />
    </div>
    <div class="mb-3">
        <input type="text" name="email" class="form-control" placeholder="رقم الهاتف" required />
    </div>
    <div class="mb-3">
        <input type="text" name="subject" class="form-control" placeholder="الموضوع" required />
    </div>
    <div class="mb-3">
        <textarea name="message" class="form-control" rows="5" placeholder="الرسالة" required></textarea>
    </div>
    <div class="text-center">
        <button type="submit" name="submit" class="btn btn-custom btn-block">
            إرسال
        </button>
    </div>
</form>
