<section id="contact-us" class="contact-us mt-5" dir="ltr">
    <div class="container">
        <h2 class="spical-heading">Contact Us</h2>
        <p class="spical-text">Meet us & we can help you</p>
        <div class="row mt-3 mb-5" dir="ltr">
            <div class="col-lg-6 col-md-12">

                @@include('../components/contactform-en.html')
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-text">
                    <p>We are here to assist you with all your legal needs. Feel free to reach out to us through any of the following contact methods. Our team is ready to provide the support and guidance you require.</p>
                </div>
                <div class="contact-info">
                    <ul>
                        <li><i class="bi bi-geo-alt-fill"></i> Ajman-UAE</li>
                        <li><i class="bi bi-telephone-fill"></i> <a href="tel:+971581401545">0581401545</a></li>
                        <li><i class="bi bi-telephone-fill"></i> <a href="tel:+971581284555">0581284555</a></li>
                        <li><i class="bi bi-telephone-fill"></i> <a href="tel:+971547372444">0547372444</a></li>
                        <li><i class="bi bi-whatsapp"></i> <a href="https://wa.me/+971547372444" target="_blank">0547372444</a></li>
                        <li><i class="bi bi-clock-fill"></i>Mon - Thr 08:00 AM - 05:00 PM</li>
                        <li><i class="bi bi-envelope-fill"></i> <a href="mailto:info@lawyer-alaa-aljasmi.com">info@lawyer-alaa-aljasmi.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="map mt-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7208.1324932330945!2d55.504165!3d25.402593!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef5f7656b42fca7%3A0x2453a5b4e760d27b!2z2YXZg9iq2Kgg2YXYrdin2YXYp9ipINij2YTYp9ihINin2YTYrNiz2YXZig!5e0!3m2!1sen!2sus!4v1725196132444!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
