<footer class="pt-5" dir="ltr">
  <div class="container">
      <div class="row " dir="ltr">
          <!-- First block: Logo and brief -->
          <div class="col-12 col-md-4 mb-3" dir="ltr">
              <img src="../../img/global/Logos.webp" alt="Alaa Aljasmi Lawyers and Legal Consultants Logo" class="mb-3" style="width: 350px;">
              <p>Alaa Aljasmi Lawyers and Legal Consultants is a leading law firm in Ajman, offering a wide range of legal services with a commitment to excellence and professionalism.</p>
          </div>

          <div class="col-6 col-md-4 mb-3" dir="ltr">
              <h5>Quick Links</h5>
              <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="../pages/index-en.html" class="nav-link p-0">Home</a></li>
                  <li class="nav-item mb-2"><a href=".../pages/about-en.html" class="nav-link p-0">About Us</a></li>
                  <li class="nav-item mb-2"><a href="../pages/index-en.html#services" class="nav-link p-0">Services</a></li>
                  <li class="nav-item mb-2"><a href="../pages/index-en.html#team" class="nav-link p-0">Our Team</a></li>
                  <li class="nav-item mb-2"><a href="../pages/contactus-en.html" class="nav-link p-0">Contact Us</a></li>
              </ul>
          </div>

          <!-- Last block: Social media accounts -->
          <div class="col-6 col-md-4 mb-3" dir="ltr">
              <h5>Follow Us</h5>
              <ul class="nav">
                  <li class="nav-item me-3">
                      <a href="https://www.facebook.com" class="nav-link p-0" target="_blank"><i class="bi bi-facebook"></i></a>
                  </li>
                  <li class="nav-item me-3">
                      <a href="https://www.twitter.com" class="nav-link p-0" target="_blank"><i class="bi bi-twitter"></i></a>
                  </li>
                  <li class="nav-item me-3">
                      <a href="https://www.linkedin.com" class="nav-link p-0" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </li>
                  <li class="nav-item me-3">
                      <a href="https://www.instagram.com" class="nav-link p-0" target="_blank"><i class="bi bi-instagram"></i></a>
                  </li>
              </ul>
          </div>
      </div>

      <div class="bottom-footer text-center border-top py-2">
          <p>© 2024 <a href="../index.html">Alaa Aljasmi Lawyers and Legal Consultants</a>. All rights reserved.</p>
      </div>
  </div>
  <a href="https://wa.me/+971547372444" class="btn btn-success btn-whatsapp btn-lg rounded-circle" target="_blank">
    <i class="bi bi-whatsapp"></i>
  </a>
  <a href="tel:+971581284555" class="btn btn-lg btn-custom btn-lg-square phone rounded-circle">
    <i class="bi bi-telephone-fill"></i>
</a>
</footer>

