<footer class="pt-5">
    <div class="container">
        <div class="row">
            <!-- First block: Logo and brief -->
            <div class="col-12 col-md-4 mb-3">
                <img src="../../img/global/Logos.webp" alt="شعار الاء الجسمي للمحاماة والاستشارات القانونية" class="mb-3" style="width: 350px;">
                <p>الاء الجسمي للمحاماة والاستشارات القانونية هي شركة رائدة في عجمان، تقدم مجموعة واسعة من الخدمات القانونية مع التزام بالتميز والاحترافية.</p>
            </div>
  
            <div class="col-6 col-md-4 mb-3">
                <h5>روابط سريعة</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="../index.html" class="nav-link p-0">الرئيسية</a></li>
                    <li class="nav-item mb-2"><a href="../pages/about.html" class="nav-link p-0">من نحن</a></li>
                    <li class="nav-item mb-2"><a href="../index.html#services" class="nav-link p-0">خدماتنا</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">فريقنا</a></li>
                    <li class="nav-item mb-2"><a href="../index.html#contact-us" class="nav-link p-0">اتصل بنا</a></li>
                </ul>
            </div>
  
            <!-- Last block: Social media accounts -->
            <div class="col-6 col-md-4 mb-3">
                <h5>تابعنا</h5>
                <ul class="nav">
                    <li class="nav-item me-3">
                        <a href="https://www.facebook.com" class="nav-link p-0" target="_blank"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="nav-item me-3">
                        <a href="https://www.twitter.com" class="nav-link p-0" target="_blank"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="nav-item me-3">
                        <a href="https://www.linkedin.com" class="nav-link p-0" target="_blank"><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="nav-item me-3">
                        <a href="https://www.instagram.com" class="nav-link p-0" target="_blank"><i class="bi bi-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
  
        <div class="bottom-footer text-center border-top py-2">
            <p>© 2024 <a href="../index.html">الاء الجسمي للمحاماة والاستشارات القانونية</a>. جميع الحقوق محفوظة.</p>
        </div>
    </div>
    <a href="https://wa.me/+971547372444" class="btn btn-success btn-whatsapp btn-lg rounded-circle" target="_blank">
      <i class="bi bi-whatsapp"></i>
    </a>
    <a href="tel:+971581284555" class="btn btn-lg btn-custom btn-lg-square phone rounded-circle">
      <i class="bi bi-telephone-fill"></i>
    </a>
  </footer>
  