<header class="main-header" dir="ltr">
    <div class="top-nav" dir="ltr">
        <div class="container">
            <div class="contact-info">
                <a href="mailto:info@lawyer-alaa-aljasmi.com"><i class="bi bi-envelope"></i> info@lawyer-alaa-aljasmi.com</a>
                <a href="tel:+971581284555"><i class="bi bi-phone"></i> +971581284555</a>
                <a href="tel:+971581401545"><i class="bi bi-phone"></i> +971581401545</a>
                <a href="tel:+971547372444"><i class="bi bi-phone"></i> +971547372444</a>
                <a href="https://wa.me/+971547372444" target="_blank"><i class="bi bi-whatsapp"></i> WhatsApp</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light"  dir="ltr">
        <div class="container position-relative">
            <!-- New logo for small screens -->
            <a class="navbar-brand navbar-brand-small" href="../pages/index-en.html"><img src="../../img/global/Logo.webp" height="45px" alt="Logo"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../pages/index-en.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about-en.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/index-en.html#services">Services</a>
                    </li>
                </ul>

                <!-- Existing logo -->
                <a class="navbar-brand navbar-brand-large mx-auto" href="../pages/index-en.html"><img src="../../img/global/Logo.webp" height="80px" alt="Logo"></a>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/index-en.html#team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="../index.html#contact-us">Contact US</a> -->
                        <a class="nav-link" href="../pages/contactus-en.html">Contact US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Arabic</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    