<header class="main-header" dir="rtl">
    <div class="top-nav">
        <div class="container">
            <div class="contact-info">
                <a href="mailto:info@lawyer-alaa-aljasmi.com"><i class="bi bi-envelope"></i> info@lawyer-alaa-aljasmi.com</a>
                <a href="tel:+971547372444"><i class="bi bi-phone"></i> +971581284555</a>
                <a href="tel:+971547372444"><i class="bi bi-phone"></i> +971581401545</a>
                <a href="tel:+971547372444"><i class="bi bi-phone"></i> +971547372444</a>
                <a href="https://wa.me/+971547372444" target="_blank"><i class="bi bi-whatsapp"></i> واتساب</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container position-relative">
            <!-- New logo for small screens -->
            <a class="navbar-brand navbar-brand-small" href="../index.html"><img src="../../img/global/Logo.webp" height="45px" alt="Logo"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about.html">من نحن</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html#services">خدماتنا</a>
                    </li>
                </ul>

                <!-- Existing logo -->
                <a class="navbar-brand navbar-brand-large mx-auto" href="../index.html"><img src="../../img/global/Logo.webp" height="80px" alt="Logo"></a>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html#team">فريقنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/contactus.html">اتصل بنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/index-en.html">اللغة الإنجليزية</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>