<!-- Meta Info -->
<meta charset="utf-8" />
<meta name="description" content="Alaa Al Jasmi Lawyers" />
<meta name="keywords" content="Alaa Al Jasmi Lawyers" />
<meta name="author" content="Mohamed Hatem"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="google-site-verification" content="B_IU6eBUzZwR4EDmr40cddAblTf3lBkwodAs_yBcd_o"/>

<!-- Page Title -->
<title>Alaa Al Jasmi Lawyers - @@title</title>

<!-- Style Sheets -->
@@if (context.arabic === true) {
@@include('../resources/css-files.html', {arabic: true})
}

@@if (!context.arabic === true) {
@@include('../resources/css-files.html')
}

<!-- FavIcon -->
<link rel="icon" type="image/png" href="/img/global/favicon.ico" />

<!-- HTML5 Tags Compitability -->
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
