<section class="hero-section">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('../../img/content/1.webp');">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="hero-title">Protecting Your Rights, Defending Your Future</h1>
                        <p class="hero-subtitle">Expert legal services tailored to your needs. Trust in our experience, commitment, and dedication to justice.</p>
                        <a href="#" class="btn hero-button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('../../img/content/2.webp');">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="hero-title">Your Legal Partner in Every Step</h1>
                        <p class="hero-subtitle">Providing comprehensive legal solutions with integrity and professionalism. Let us guide you through your legal challenges.</p>
                        <a href="#" class="btn hero-button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('../../img/content/3.webp');">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="hero-title">Justice Served with Expertise</h1>
                        <p class="hero-subtitle">At Alaa Aljasmi Lawyers and Legal Consultants, we fight for your rights with unparalleled dedication and expertise.</p>
                        <a href="#" class="btn hero-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</header>
