<section class="hero-section">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('../../img/content/1.webp');">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="hero-title">حماية حقوقك، والدفاع عن مستقبلك</h1>
                        <p class="hero-subtitle">خدمات قانونية متخصصة تناسب احتياجاتك. ثق في خبرتنا، والتزامنا، وتفانينا في تحقيق العدالة.</p>
                        <a href="../pages/contactus.html" class="btn hero-button">تعرف على المزيد</a>
                        <a href="tel:+971547372444" class="btn hero-button call-us-button">اتصل بنا</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('../../img/content/2.webp');">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="hero-title">شريكك القانوني في كل خطوة</h1>
                        <p class="hero-subtitle">نوفر لك حلول قانونية شاملة بصدق ومهنية. دعنا نرشدك خلال تحدياتك القانونية.</p>
                        <a href="../pages/contactus.html" class="btn hero-button">تعرف على المزيد</a>
                        <a href="tel:+971547372444" class="btn hero-button call-us-button">اتصل بنا</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('../../img/content/3.webp');">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="hero-title">تحقيق العدالة بالخبرة</h1>
                        <p class="hero-subtitle">في مكتب محاماة الاء الجسمي، ندافع عن حقوقك بتفانٍ وخبرة لا مثيل لها.</p>
                        <a href="../pages/contactus.html" class="btn hero-button">تعرف على المزيد</a>
                        <a href="tel:+971547372444" class="btn hero-button call-us-button">اتصل بنا</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</header>