<section class="home-article">
    <div class="container mt-5">
        <h2 class="spical-heading">مقالاتنا</h2>
        <p class="spical-text">هنا تجد أحدث المقالات والمستجدات القانونية التي يقدمها مكتب الاء الجسمي للمحاماة والاستشارات القانونية</p>
        <div class="swiper-article-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/افضل-مكتب-محاماه.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">افضل مكتب محاماة فى الامارات</h5>
                            <a href="../pages/bestlawfirm.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/جرائم-المخدرات.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">جرائم المخدرات</h5>
                            <a href="../pages/drugs.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/جرائمالكترونية.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">قانون الجرائم الإلكترونيه الاماراتى</h5>
                            <a href="../pages/hack.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/حقوق-المتهم.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">حقوق المتهمين</h5>
                            <a href="../pages/accusedrights.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/جرائم-القتل.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">قضابا القتل</h5>
                            <a href="../pages/murdercases.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/جرائم-المرور.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">جرائم المرور فى الامارات</h5>
                            <a href="../pages/Trafficcrimes.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/جائم-المالية.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">قضابا الجرائم المالية</h5>
                            <a href="../pages/قضايا الجرائم المالية.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/حقوق-الزوجة-بعد-الطلاق.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">حقوق الزوجة بعد الطلاق فى الامارات</h5>
                            <a href="../pages/حقوق الزوجة بعد الطلاق فى الامارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/افضل-محامى.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">أفضل محامى طلاق فى الامارات</h5>
                            <a href="../pages/أفضل محامى طلاق فى الامارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/حضانة-الاطفال.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">الدليل الشامل لحضانة الاطفال فى الامارات</h5>
                            <a href="../pages/الدليل الشامل لحضانة الاطفال فى الامارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/جرائم-الاعتداء-على-العرض.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">جرائم الاعتداء على العرض</h5>
                            <a href="../pages/جرائم الاعتداء على العرض.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/استشارات-قانونية.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">الاستشارات القانونيه</h5>
                            <a href="../pages/الاستشارات القانونية.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/طلاق.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">الطلاق فى الامارات</h5>
                            <a href="../pages/الطلاق فى الامارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/طلاق-ضرر.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">الطلاق للضرر فى الامارات</h5>
                            <a href="../pages/الطلاق للضرر في الامارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/الخلع.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">الخلع فى الامارات</h5>
                            <a href="../pages/الخلع في الامارات .html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/اجراءات-الخلع.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">إجراءات الخلع للوافدين فى الامارات</h5>
                            <a href="../pages/اجراءات الخلع للوافدين في الامارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/حضانة-الاطفال.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">الحضانة فى الامارات</h5>
                            <a href="../pages/الحضانة في الإمارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/القضايا-الجنائية.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">القضايا الجنائية فى الامارات</h5>
                            <a href="../pages/القضايا الجنائية في الإمارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/قضايا-الميراث.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">قضايا الميراث وتوزيع التركات في الإمارات</h5>
                            <a href="../pages/قضايا الميراث وتوزيع التركات في الإمارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/التعويضات الطبيه.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">تعويضات الأخطاء الطبية في الإمارات</h5>
                            <a href="../pages/تعويضات الأخطاء الطبية في الإمارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/تعويضات-حوادث.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">تعويضات الحوادث في الإمارات</h5>
                            <a href="../pages/تعويضات الحوادث في الإمارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/قضايا-عقارية.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">القضايا العقارية في دبي</h5>
                            <a href="../pages/القضايا العقارية في دبي.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card article-card">
                        <img src="../../img/content/قضايا-تجارية.webp" alt="Article Image">
                        <div class="card-body">
                            <h5 class="card-title">القضايا التجارية في الإمارات</h5>
                            <a href="../pages/القضايا التجارية في الإمارات.html" class="btn py-1">اقرأ المزيد</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- إضافة أزرار التحكم -->
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div> -->
        </div>
    </div>
</section>

