<section class="services" id="services">
  <h2 class="spical-heading">خدماتنا</h2>
  <p class="spical-text">نحن متخصصون في</p>
  <div class="container">
    <div class="row d-sm-flex">
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/family.webp')"
        data-order="1"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .family-law-01 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path
                        class="family-law-01"
                        d="      M96.742,57.539H3.258v10.555h93.484V57.539z"
                      ></path>
                      <path class="family-law-01" d="      M10.797,68.094v28.648"></path>
                      <path class="family-law-01" d="      M89.203,68.094v28.648"></path>
                      <path
                        class="family-law-01"
                        d="      M71.109,75.633H28.891v9.047h42.219V75.633z"
                      ></path>
                      <path class="family-law-01" d="      M39.445,39.445v13.57"></path>
                      <path class="family-law-01" d="      M15.32,42.171v10.845"></path>
                      <path class="family-law-01" d="      M49.91,25.875H50"></path>
                      <path
                        class="family-law-01"
                        d="      M31.906,53.016V41.153c0-12.922,7.339-15.278,13.57-15.278h4.433"
                      ></path>
                      <path class="family-law-01" d="      M25.785,28.891h0.09"></path>
                      <path
                        class="family-law-01"
                        d="      M7.781,53.016v-8.847c0-12.922,7.339-15.278,13.57-15.278h4.433"
                      ></path>
                      <path class="family-law-01" d="      M84.68,53.016V42.171"></path>
                      <path
                        class="family-law-01"
                        d="      M74.215,28.891h4.433c6.231,0,13.57,2.356,13.57,15.278v8.847"
                      ></path>
                      <path class="family-law-01" d="      M74.215,28.891h-0.09"></path>
                      <path
                        class="family-law-01"
                        d="      M68.094,53.016V41.153c0-12.922-7.339-15.278-13.57-15.278H50"
                      ></path>
                      <path class="family-law-01" d="      M60.517,39.445v13.57"></path>
                      <path
                        class="family-law-01"
                        d="      M50.011,25.875c-2.812,0-6.178-3.427-6.864-6.167c-0.686-2.74-0.686-6.442-0.686-6.442s0-7.539,7.539-7.539      s7.539,7.539,7.539,7.539s0,3.702-0.686,6.442c-0.686,2.74-4.052,6.167-6.864,6.167"
                      ></path>
                      <path
                        class="family-law-01"
                        d="      M25.886,28.891c-2.812,0-6.178-3.427-6.864-6.167c-0.686-2.74-0.686-6.442-0.686-6.442s0-7.539,7.539-7.539      c7.539,0,7.539,7.539,7.539,7.539s0,3.702-0.686,6.442c-0.686,2.74-4.052,6.167-6.864,6.167"
                      ></path>
                      <path
                        class="family-law-01"
                        d="      M74.136,28.891c-2.812,0-6.178-3.427-6.864-6.167c-0.686-2.74-0.686-6.442-0.686-6.442s0-7.539,7.539-7.539      s7.539,7.539,7.539,7.539s0,3.702-0.686,6.442c-0.686,2.74-4.052,6.167-6.864,6.167"
                      ></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <h2>قانون الأسرة</h2>
        </div>
      </div>
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/criminal.webp')"
        data-order="2"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .cri-law-0 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <path
                  class="cri-law-0"
                  d="   M50.012,47.492c-2.856,0-6.274-3.48-6.971-6.263c-0.697-2.783-0.697-6.542-0.697-6.542s0-7.656,7.656-7.656   s7.656,7.656,7.656,7.656s0,3.759-0.697,6.542c-0.697,2.783-4.115,6.263-6.971,6.263"
                ></path>
                <path class="cri-law-0" d="   M97.469,7.125H2.531v9.188h94.937V7.125z"></path>
                <path class="cri-law-0" d="   M97.469,83.688H2.531v9.188h94.937V83.688z"></path>
                <path class="cri-law-0" d="   M8.656,16.313v65.844"></path>
                <path class="cri-law-0" d="   M22.438,16.313v65.844"></path>
                <path class="cri-law-0" d="   M36.219,16.313v44.406"></path>
                <path class="cri-law-0" d="M50,16.313   v65.844"></path>
                <path class="cri-law-0" d="   M77.563,16.313v65.844"></path>
                <path class="cri-law-0" d="   M91.344,16.313v65.844"></path>
                <path
                  class="cri-law-0"
                  d="M42.344,50   l-7.786,1.73c-3.503,0.777-5.995,3.885-5.995,7.472v11.53c0,2.19,1.546,4.077,3.694,4.506l3.962,0.793"
                ></path>
                <path
                  class="cri-law-0"
                  d="   M28.563,65.313L32,63.023c0.754-0.502,1.642-0.773,2.549-0.773h1.673c1.692,0,3.063,1.371,3.063,3.063v1.531   c0,1.692-1.37,3.063-3.063,3.063h-1.531"
                ></path>
                <path class="cri-law-0" d="   M36.219,69.906v12.25"></path>
                <path class="cri-law-0" d="   M63.781,16.313v44.406"></path>
                <path
                  class="cri-law-0"
                  d="M57.656,50   l7.786,1.73c3.503,0.777,5.995,3.885,5.995,7.472v11.53c0,2.19-1.546,4.077-3.694,4.506l-3.962,0.793"
                ></path>
                <path
                  class="cri-law-0"
                  d="   M71.438,65.313L68,63.023c-0.754-0.502-1.642-0.773-2.549-0.773h-1.673c-1.692,0-3.063,1.371-3.063,3.063v1.531   c0,1.692,1.371,3.063,3.063,3.063h1.531"
                ></path>
                <path class="cri-law-0" d="   M63.781,69.906v12.25"></path>
              </g>
            </g>
          </svg>
          <h2>القانون الجنائي</h2>
        </div>
      </div>
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/civil.webp')"
        data-order="3"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .civil-law-01 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path
                        class="civil-law-01"
                        d="      M38.558,52.915L24.745,39.102c0,0,1.063-3.189,10.623-12.75c9.56-9.56,12.75-10.623,12.75-10.623l13.813,13.813"
                      ></path>
                      <path
                        class="civil-law-01"
                        d="      M22.618,36.979l-5.313,5.312l18.063,18.063l5.312-5.313L22.618,36.979z"
                      ></path>
                      <path
                        class="civil-law-01"
                        d="      M51.306,8.29l-5.313,5.313l18.063,18.063l5.312-5.313L51.306,8.29z"
                      ></path>
                      <path
                        class="civil-law-01"
                        d="      M56.619,36.98l4.252,4.249L50.244,51.856l-4.249-4.252"
                      ></path>
                      <path
                        class="civil-law-01"
                        d="      M94.872,85.856c-2.329,2.329-6.116,2.273-8.377-0.12l-22.434-24.32l6.375-6.375l24.32,22.434      c2.393,2.261,2.445,6.048,0.12,8.377L94.872,85.856z"
                      ></path>
                      <path
                        class="civil-law-01"
                        d="      M70.432,55.041L58.745,43.355l-6.375,6.375l11.686,11.687"
                      ></path>
                      <path
                        class="civil-law-01"
                        d="      M39.482,87.565c1.66,0,3.005,1.345,3.005,3.005v4.508H3.419V90.57c0-1.66,1.345-3.005,3.005-3.005V84.56      c0-1.66,1.345-3.005,3.005-3.005h27.047c1.661,0,3.005,1.345,3.005,3.005V87.565z"
                      ></path>
                      <path
                        class="civil-law-01"
                        d="      M38.558,52.915c0,0,3.189-1.063,12.75-10.623c9.56-9.56,10.623-12.75,10.623-12.75"
                      ></path>
                      <path class="civil-law-01" d="      M6.424,87.565h27.047"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <h2>القانون المدني</h2>
        </div>
      </div>
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/employment.webp')"
        data-order="4"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .employee-law-01 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path
                        class="employee-law-01"
                        d="      M50.027,68.594c-6.361,0-13.973-7.748-15.522-13.945c-1.549-6.198-1.549-12.396-1.549-12.396"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M39.154,62.396v9.808c0,1.499-1.069,2.781-2.545,3.049c0,0-9.851,2.638-19.148,5.737c-7.348,2.448-10.846,6.198-10.846,15.495"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M49.973,68.594c6.361,0,13.973-7.748,15.522-13.945c1.55-6.198,1.55-12.396,1.55-12.396"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M50,31.406c-11.857,0-18.594,3.099-18.594,3.099S35.179,40.703,50,40.703"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M50,25.208c-12.396,0-18.594,3.099-18.594,3.099l-4.648-7.747l6.198-6.198C36.915,11.964,45.352,6.615,50,6.615"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M50,12.813c-1.55,0-3.486,1.162-3.486,1.162v3.486c0,2.324,3.486,3.099,3.486,3.099s3.486-0.775,3.486-3.099v-3.486      C53.486,13.975,51.55,12.813,50,12.813z"
                      ></path>
                      <path class="employee-law-01" d="      M31.406,28.307v6.198"></path>
                      <path
                        class="employee-law-01"
                        d="      M50,31.406c11.857,0,18.594,3.099,18.594,3.099S64.821,40.703,50,40.703"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M50,25.208c12.396,0,18.594,3.099,18.594,3.099l4.648-7.747l-6.198-6.198C63.085,11.964,54.648,6.615,50,6.615"
                      ></path>
                      <path class="employee-law-01" d="      M68.594,28.307v6.198"></path>
                      <path
                        class="employee-law-01"
                        d="      M42.252,77.891L50,84.089l7.748-6.198"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M32.956,82.539l9.297,9.297L50,84.089"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M60.846,63.945v8.259c0,1.499,1.069,2.781,2.545,3.049c0,0,9.851,2.638,19.148,5.737c7.348,2.448,10.846,6.198,10.846,15.495"
                      ></path>
                      <path
                        class="employee-law-01"
                        d="      M67.044,82.539l-9.297,9.297L50,84.089"
                      ></path>
                      <path class="employee-law-01" d="      M19.7,94.706h10.846"></path>
                      <path class="employee-law-01" d="      M80.3,94.706H69.454"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <h2>قانون العمل</h2>
        </div>
      </div>
      <div
        class="special-service col-4  "
        style="background-image: url('../../img/content/more.webp')"
        data-order="5"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .cri-law-1 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <path
                class="cri-law-1"
                d="M50,23.333  c-4.397,0-5.863-4.444-13.193-4.444c-8.795,0-14.659,11.852-21.988,11.852c-2.932,0-4.398-1.482-4.398-1.482"
              ></path>
              <path class="cri-law-1" d="M14.82,36.667L4.559,60.37"></path>
              <path class="cri-law-1" d="M14.82,36.667L25.081,60.37  "></path>
              <path
                class="cri-law-1"
                d="M25.081,60.37H4.559  c0,0-1.466,10.37,10.261,10.37C26.546,70.741,25.081,60.37,25.081,60.37z"
              ></path>
              <path
                class="cri-law-1"
                d="M50,23.333  c4.398,0,5.863-4.444,13.193-4.444c8.795,0,14.659,11.852,21.988,11.852c2.932,0,4.398-1.482,4.398-1.482"
              ></path>
              <path class="cri-law-1" d="M85.18,36.667L95.441,60.37  "></path>
              <path class="cri-law-1" d="M85.18,36.667L74.919,60.37  "></path>
              <path
                class="cri-law-1"
                d="M74.919,60.37h20.522  c0,0,1.466,10.37-10.261,10.37S74.919,60.37,74.919,60.37z"
              ></path>
              <path class="cri-law-1" d="M50,61.852V10"></path>
              <path class="cri-law-1" d="M50,61.852  c0,0-4.922,16.563-16.124,22.222"></path>
              <path class="cri-law-1" d="M50,61.852  c0,0,4.922,16.563,16.124,22.222"></path>
              <path
                class="cri-law-1"
                d="M38.273,84.074h30.783  c1.62,0,2.932,1.326,2.932,2.963V90H28.012v-2.963c0-1.637,1.312-2.963,2.932-2.963h8.795"
              ></path>
            </g>
          </svg>
          <h2>المزيد من الخدمات</h2>
        </div>
      </div>
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/realestate.webp')"
        data-order="6"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .real-law-01 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <g>
                        <path
                          class="real-law-01"
                          d="       M42.237,65.111c0,0,1.149-3.254,8.846-10.951c7.698-7.698,10.951-8.846,10.951-8.846"
                        ></path>
                        <path class="real-law-01" d="       M42.237,65.111l10.517,10.517"></path>
                        <path
                          class="real-law-01"
                          d="       M42.237,65.111l-2.101-2.105l-5.5,5.501L49.358,83.23l5.5-5.5L42.237,65.111z"
                        ></path>
                        <path
                          class="real-law-01"
                          d="       M72.555,55.827l2.101,2.105l5.5-5.5L65.434,37.708l-5.501,5.5l2.105,2.101"
                        ></path>
                        <path class="real-law-01" d="       M62.038,45.31l10.517,10.517"></path>
                        <path class="real-law-01" d="       M70.112,68.787l-2.201,2.197"></path>
                        <path
                          class="real-law-01"
                          d="       M67.911,70.984l-4.398,4.402l-4.206-4.206"
                        ></path>
                        <path
                          class="real-law-01"
                          d="       M70.112,68.787l2.201-2.201l-4.206-4.206"
                        ></path>
                        <path class="real-law-01" d="       M70.112,68.787l-2.201,2.197"></path>
                        <path
                          class="real-law-01"
                          d="       M67.911,70.984l-2.201,2.201l19.936,22.133c2.236,2.37,5.097,3.315,7.506,0.906c2.409-2.408,1.467-5.27-0.906-7.506       L70.109,68.783"
                        ></path>
                        <path
                          class="real-law-01"
                          d="       M52.754,75.628c0,0,3.25-1.149,10.951-8.846c7.698-7.698,8.846-10.951,8.846-10.951"
                        ></path>
                      </g>
                      <path class="real-law-01" d="      M20.807,14.661v76.823h52.239"></path>
                      <path
                        class="real-law-01"
                        d="      M20.807,14.661c0-5.09-4.129-9.219-9.219-9.219S2.37,9.572,2.37,14.661v4.609h12.292"
                      ></path>
                      <path
                        class="real-law-01"
                        d="      M77.656,5.443c5.09,0,9.219,4.129,9.219,9.219v59.922"
                      ></path>
                      <path class="real-law-01" d="      M11.589,5.443h66.068"></path>
                      <path class="real-law-01" d="      M30.026,23.88h47.63"></path>
                      <path class="real-law-01" d="      M30.026,31.563h47.63"></path>
                      <path class="real-law-01" d="      M30.026,39.245h21.511"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <h2>قانون العقارات</h2>
        </div>
      </div>
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/Compensation.webp')"
        data-order="7"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .com-law-01 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path
                        class="com-law-01"
                        d="      M50,78.648c9.993,0,18.094-8.101,18.094-18.094c0-9.993-8.101-18.094-18.094-18.094s-18.094,8.101-18.094,18.094      C31.906,70.548,40.007,78.648,50,78.648z"
                      ></path>
                      <path
                        class="com-law-01"
                        d="      M60.555,75.218l18.275,20.114c1.662,1.821,4.505,1.885,6.25,0.143c1.742-1.742,1.677-4.588-0.143-6.25L64.822,70.951"
                      ></path>
                      <path class="com-law-01" d="      M18.336,27.383V6.273h64.836v27.141"></path>
                      <path
                        class="com-law-01"
                        d="      M90.711,87.695c1.666,0,3.016-1.35,3.016-3.016V36.43c0-1.666-1.35-3.015-3.016-3.015H30.398l-6.031-6.031H9.289      c-1.666,0-3.016,1.349-3.016,3.015V84.68c0,1.666,1.349,3.016,3.016,3.016H63.57"
                      ></path>
                      <path class="com-law-01" d="      M30.398,16.828h40.711"></path>
                      <path class="com-law-01" d="      M30.398,24.367h40.711"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <h2>التعويضات</h2>
        </div>
      </div>
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/Cases Successions.webp')"
        data-order="8"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .case-law-01 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <path
                  class="case-law-01"
                  d="   M93.094,35.095c1.579,4.682,2.433,9.695,2.433,14.909c0,25.798-20.913,46.702-46.702,46.702S2.114,75.793,2.114,49.995   c0-25.797,20.913-46.702,46.702-46.702c6.234,0,12.192,1.221,17.627,3.443"
                ></path>
                <path
                  class="case-law-01"
                  d="   M79.341,45.313c0.23,1.524,0.349,3.094,0.349,4.682c0,17.048-13.826,30.874-30.874,30.874S17.941,67.044,17.941,49.995   s13.826-30.874,30.874-30.874c2.617,0,5.16,0.321,7.583,0.936"
                ></path>
                <path
                  class="case-law-01"
                  d="   M63.45,52.869c-1.34,6.858-7.381,12.036-14.625,12.036c-8.235,0-14.909-6.674-14.909-14.909s6.674-14.909,14.909-14.909   c0.349,0,0.698,0.009,1.037,0.037"
                ></path>
                <g>
                  <path class="case-law-01" d="    M73.007,27.274l-24.191,24.31"></path>
                  <path
                    class="case-law-01"
                    d="    M73.007,27.274l10.879-0.615l14-13.569l-9.3-1.157l-0.863-8.428L74.65,16L73.007,27.274z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
          <h2>القضايا الميراثية</h2>
        </div>
      </div>
      <div
        class="service col-4  "
        style="background-image: url('../../img/content/Bank\ Law.webp')"
        data-order="9"
      >
        <div class="content">
          <svg
               
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            style="enable-background: new 0 0 100 100"
            xml:space="preserve"
          >
            <style>
              .bank-law-01 {
                fill: none;
                stroke: currentcolor;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path
                        class="bank-law-01"
                        d="      M95.703,37.813C94.45,36.369,64.286,13.556,53.664,5.535c-2.175-1.641-5.153-1.641-7.324,0      C35.714,13.556,5.55,36.369,4.297,37.813"
                      ></path>
                      <path
                        class="bank-law-01"
                        d="      M50,34.766c3.365,0,6.094-2.728,6.094-6.094S53.365,22.578,50,22.578s-6.094,2.728-6.094,6.094S46.635,34.766,50,34.766z"
                      ></path>
                      <path class="bank-law-01" d="      M4.297,43.906h91.406"></path>
                      <path
                        class="bank-law-01"
                        d="      M10.391,43.906L13.438,50h12.188l3.047-6.094"
                      ></path>
                      <path class="bank-law-01" d="      M14.961,50v35.039h4.57"></path>
                      <path class="bank-law-01" d="      M24.101,50v35.039h-4.57"></path>
                      <path
                        class="bank-law-01"
                        d="      M40.859,43.906L43.906,50h12.188l3.047-6.094"
                      ></path>
                      <path class="bank-law-01" d="      M45.43,50v35.039H50"></path>
                      <path class="bank-law-01" d="      M54.57,50v35.039H50"></path>
                      <path
                        class="bank-law-01"
                        d="      M71.328,43.906L74.375,50h12.188l3.047-6.094"
                      ></path>
                      <path class="bank-law-01" d="      M75.899,50v35.039h4.57"></path>
                      <path class="bank-law-01" d="      M85.039,50v35.039h-4.57"></path>
                      <path class="bank-law-01" d="      M91.133,85.039H10.391"></path>
                      <path
                        class="bank-law-01"
                        d="      M97.226,91.133H2.773v6.094h94.453V91.133z"
                      ></path>
                      <path
                        class="bank-law-01"
                        d="      M83.516,37.813L51.862,13.354c-1.097-0.849-2.628-0.849-3.725,0L16.484,37.813"
                      ></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <h2>قانون البنوك</h2>
        </div>
      </div>
    </div>
  </div>
</section>
