<!-- Team Section -->
<div id="team" class="container-fluid team pb-5" dir="ltr">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h2 class="spical-heading">Our Team</h2>
            <p class="spical-text">Meet Our Advisers</p>
        </div>
        <!-- Swiper Slider -->
        <div class="swiper-containers">
            <div class="swiper-wrapper">
                <!-- Team Member 1 -->
                <div class="swiper-slide">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/img/content/team/team-5.webp" class="img-fluid" alt="Team member">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Ismail Shaheen</h4>
                            <p class="mb-0">Legal Advisor</p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 1 -->
                <div class="swiper-slide">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/img/content/team/team-4.webp" class="img-fluid" alt="Team member">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Nada Ibrahim</h4>
                            <p class="mb-0">Public Relations</p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="swiper-slide">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="../img/content/team/team-3.webp" class="img-fluid" alt="Team member">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Shahata Ibrahim</h4>
                            <p class="mb-0">Legal Representative</p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="swiper-slide">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="../img/content/team/team-2.webp" class="img-fluid" alt="Team member">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Mohammed Muqbil</h4>
                            <p class="mb-0">Executive Director / Legal Advisor</p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="swiper-slide">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="../img/content/team/team-1.webp" class="img-fluid" alt="Team member">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Alaa AlJasmi</h4>
                            <p class="mb-0">CEO - Owner & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="call-btn">
        <a href="tel:+971547372444" class="btn call-us-button">Call Us</a>
    </div>
</div>