<section class="testimonial_section">
    <h2 class="spical-heading">Testimonial</h2>
    <p class="spical-text">Our Clients Say</p>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-7">
          <div class="about_content">
            <div class="background_layer"></div>
            <div class="layer_content">
              <div class="section_title">
                <h5>CLIENTS</h5>
                <h2>Success Stories with<strong>Customers & Clients</strong></h2>
                <div class="heading_line"><span></span></div>
                <p>Explore the success stories of clients who have benefited from our legal expertise. These testimonials demonstrate the positive impact of our personalized legal services.</p>
              </div>
              <a href="#">Contact Us<i class="icofont-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="testimonial_box">
            <div class="testimonial_container">
              <div class="background_layer"></div>
              <div class="layer_content">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="testimonial_content">
                        <div class="testimonial_caption">
                          <h6>Omar Ibrahim</h6>
                          <!-- <span>CEO, Axura</span> -->
                        </div>
                        <p>Effective communication is crucial in the attorney-client relationship, and positive reviews often mention lawyers who explain complex legal concepts clearly and keep clients updated throughout the process.</p>
                      </div>
                      <div class="images_box">
                        <div class="testimonial_img">
                          <img class="img-center" src="../../img/content/team-1.webp" alt="Robert Clarkson">
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="testimonial_content">
                        <div class="testimonial_caption">
                          <h6>Aisha Abdullah</h6>
                          <!-- <span>Marketing Manager, TechCorp</span> -->
                        </div>
                        <p>We appreciate lawyers who promptly respond to their inquiries and keep them informed about the progress of their case.</p>
                      </div>
                      <div class="images_box">
                        <div class="testimonial_img">
                          <img class="img-center" src="../../img/content/team-2.webp" alt="Susan Jones">
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="testimonial_content">
                        <div class="testimonial_caption">
                          <h6>Fatima Ali</h6>
                          <!-- <span>COO, Enterprise Inc.</span> -->
                        </div>
                        <p>Favorable outcomes and successful case resolutions are often mentioned in positive reviews, indicating the lawyer’s ability to achieve the desired results for their clients.</p>
                      </div>
                      <div class="images_box">
                        <div class="testimonial_img">
                          <img class="img-center" src="../../img/content/team-3.webp" alt="John Smith">
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="testimonial_content">
                        <div class="testimonial_caption">
                          <h6>Youssef Khalid</h6>
                          <!-- <span>COO, Enterprise Inc.</span> -->
                        </div>
                        <p>Effective communication is crucial in the attorney-client relationship, and positive reviews often mention lawyers who explain complex legal concepts clearly and keep clients updated throughout the process.</p>
                      </div>
                      <div class="images_box">
                        <div class="testimonial_img">
                          <img class="img-center" src="../../img/content/team-4.webp" alt="John Smith">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                  <!-- Add Navigation -->
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>