<section class="testimonial_section">
  <h2 class="spical-heading">اراء العملاء</h2>
  <p class="spical-text">ماذا يقول عملاؤنا</p>
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-7">
        <div class="about_content">
          <div class="background_layer"></div>
          <div class="layer_content text-right"dir="rtl">
            <div class="section_title">
              <h5>العملاء</h5>
              <h2>قصص نجاح مع <strong>العملاء</strong></h2>
              <div class="heading_line"><span></span></div>
              <p>استكشف قصص النجاح للعملاء الذين استفادوا من خبرتنا القانونية. هذه الشهادات توضح التأثير الإيجابي لخدماتنا القانونية الشخصية.</p>
            </div>
            <a href="#">اتصل بنا<i class="icofont-long-arrow-left"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="testimonial_box">
          <div class="testimonial_container">
            <div class="background_layer"></div>
            <div class="layer_content">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial_content">
                      <div class="testimonial_caption">
                        <h6>عمر إبراهيم</h6>
                      </div>
                      <p>الاتصال الفعال أمر حاسم في علاقة المحامي بالعميل، وغالباً ما تذكر المراجعات الإيجابية المحاميين الذين يشرحون المفاهيم القانونية المعقدة بوضوح ويواصلون تحديث العملاء طوال العملية.</p>
                    </div>
                    <div class="images_box">
                      <div class="testimonial_img">
                        <img class="img-center" src="../../img/content/team-1.webp" alt="عمر إبراهيم">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial_content">
                      <div class="testimonial_caption">
                        <h6>عائشة عبدالله</h6>
                      </div>
                      <p>نحن نقدر المحاميين الذين يردون بسرعة على استفساراتهم ويواصلون إبلاغهم بتقدم قضاياهم.</p>
                    </div>
                    <div class="images_box">
                      <div class="testimonial_img">
                        <img class="img-center" src="../../img/content/team-2.webp" alt="عائشة عبدالله">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial_content">
                      <div class="testimonial_caption">
                        <h6>فاطمة علي</h6>
                      </div>
                      <p>النتائج المواتية وحل القضايا بنجاح غالباً ما تذكر في المراجعات الإيجابية، مما يدل على قدرة المحامي على تحقيق النتائج المرجوة لعملائه.</p>
                    </div>
                    <div class="images_box">
                      <div class="testimonial_img">
                        <img class="img-center" src="../../img/content/team-3.webp" alt="فاطمة علي">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial_content">
                      <div class="testimonial_caption">
                        <h6>يوسف خالد</h6>
                      </div>
                      <p>الاتصال الفعال أمر حاسم في علاقة المحامي بالعميل، وغالباً ما تذكر المراجعات الإيجابية المحاميين الذين يشرحون المفاهيم القانونية المعقدة بوضوح ويواصلون تحديث العملاء طوال العملية.</p>
                    </div>
                    <div class="images_box">
                      <div class="testimonial_img">
                        <img class="img-center" src="../../img/content/team-4.webp" alt="يوسف خالد">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
